<div class="content-wrapper">
    <div class="content-body">
        <!-- Input Validation start -->
        <section class="input-validation">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">فرم اطلاعات مشتری</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form-horizontal" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>نام شرکت</label>
                                                <div class="controls">
                                                    <input type="text" name="CompanyName" class="form-control" id="CompanyName" placeholder="نام شرکت">
                                                </div>
                                            </div>
                                            @* <div class="form-group">
                                                <label>شهر</label>
                                                <div class="controls">
                                                <select id="CityId" class="select2 form-control" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option value="-1">انتخاب کنید</option>
                                                </select>
                                                </div>
                                                </div>*@
                                            <div class="form-group">
                                                <label>ایمیل شرکت</label>
                                                <div class="controls">
                                                    <input type="email" name="Email" id="Email" class="form-control" data-validation-containsnumber-message="ایمیل شرکت را صحیح وارد کنید" aria-invalid="true" placeholder="ایمیل شرکت">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>اسامی امضاکنندگان مجاز</label>
                                                <div class="controls">
                                                    <input type="text" name="NamesAuthorizedSignatories" id="NamesAuthorizedSignatories" class="form-control" placeholder="اسامی امضاکنندگان مجاز">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>نوع شرکت</label>
                                                <div class="controls">
                                                    <select id="KindOfCompanyID" class="select2 form-control" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option value="-1">انتخاب کنید</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>نوع خدمت</label>
                                                <div class="controls">
                                                    <select id="TypeServiceRequestedID" class="select2 form-control" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option value="-1">انتخاب کنید</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>چگونه شناسه شرکت را بشناسیم</label>
                                                <div class="controls">
                                                    <select id="HowGetKnowCompanyId" class="select2 form-control" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option value="-1">انتخاب کنید</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>شناسه ملی  شرکت</label>
                                                <div class="controls">
                                                    <input type="text" name="NationalCode" data="NationalCode" class="form-control" data-validation-regex-regex="([^a-z]*[A-Z]*)*" data-validation-containsnumber-regex="([^0-9]*[0-9]+)+" data-validation-containsnumber-message="شناسه ملی  شرکت را صحیح وارد کنید" min="11" max="11" placeholder="شناسه ملی  شرکت" aria-invalid="false">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>کد پستی</label>
                                                <div class="controls">
                                                    <input type="text" name="PostalCode" id="PostalCode" class="form-control" data-validation-regex-regex="([^a-z]*[A-Z]*)*" data-validation-containsnumber-regex="([^0-9]*[0-9]+)+" data-validation-containsnumber-message="کد پستی را صحیح وارد کنید" min="10" max="10" placeholder="کد پستی" aria-invalid="false">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>کد اقتصادی</label>
                                                <div class="controls">
                                                    <input type="text" name="EconomicCode" id="EconomicCode" class="form-control" data-validation-regex-regex="([^a-z]*[A-Z]*)*" data-validation-containsnumber-regex="([^0-9]*[0-9]+)+" data-validation-containsnumber-message="کد اقتصادی  شرکت را صحیح وارد کنید" min="12" max="12" placeholder="کد اقتصادی  شرکت" aria-invalid="false">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label>تلفن شرکت</label>
                                                <div class="controls">
                                                    <input type="tel" name="Tel" id="Tel" class="form-control" data-validation-regex-regex="^0[1-8]{2,}[0-9]{8,}$" data-validation-regex-message="تلفن شرکت را صحیح وارد کنید" min="11" max="11" placeholder="تلفن شرکت">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>نام رابط و نماینده شرکت</label>
                                                <div class="controls">
                                                    <input type="text" name="AgentName" id="AgentName" class="form-control" placeholder="نام رابط و نماینده شرکت">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>موبایل نماینده</label>
                                                <div class="controls">
                                                    <input type="text" name="AgentMobile" id="AgentMobile" data-validation-regex-regex="^(0|0098|\+98)9(0[1-5]|[1 3]\d|2[0-2]|98)\d{7}$" data-validation-regex-message="موبایل نماینده شرکت را صحیح وارد کنید" min="11" max="11" class="form-control" placeholder="موبایل نماینده">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>نام و نام خانوادگی مدیر عامل</label>
                                                <div class="controls">
                                                    <input type="text" name="CeoName" id="CeoName" class="form-control" placeholder="نام و نام خانوادگی مدیر عامل">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label> موبایل مدیر عامل</label>
                                                <div class="controls">
                                                    <input type="text" name="CeoMobile" id="CeoMobile" data-validation-regex-regex="^(0|0098|\+98)9(0[1-5]|[1 3]\d|2[0-2]|98)\d{7}$" data-validation-regex-message="موبایل مدیر عامل شرکت را صحیح وارد کنید" min="11" max="11" class="form-control" placeholder="موبایل مدیر عامل">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>تعداد پرسنل شرکت</label>
                                                <div class="controls">
                                                    <input type="text" name="CountOfPersonal" id="CountOfPersonal" data-validation-containsnumber-regex="([^0-9]*[0-9]+)+" data-validation-containsnumber-message="تعداد پرسنل  شرکت را صحیح وارد کنید" min="0" max="10000000" class="form-control" placeholder="تعداد پرسنل شرکت">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>مبلغ کل فروش اظهار شده</label>
                                                <div class="controls">
                                                    <input type="text" name="AmountOsLastSaels" id="AmountOsLastSaels" data-validation-containsnumber-regex="([^0-9]*[0-9]+)+" data-validation-containsnumber-message="مبلغ کل فروش اظهار شده  شرکت را صحیح وارد کنید" class="form-control" placeholder="مبلغ کل فروش اظهار شده شرکت">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>آدرس شرکت</label>
                                                <div class="controls">
                                                    <textarea class="form-control" placeholder="آدرس شرکت" name="AddressCompany" id="AddressCompany"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        ثبت
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Input Validation end -->
    </div>
</div>
<script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Customer/Customers/Index.min.js" type="text/javascript"></script>