#faq_page {
    max-width: 1600px;
    margin: auto;
}

#img_1 {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    object-fit: contain;
}

#header_h {
    color: var(--text_prim);
    text-align: center;
    font-weight: bold;
}

#inner_div {
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    font-family: 'IranSans' !important;
    max-width: 900px;
    margin: auto;
    line-height: 36px;
}

@media only screen and (max-width: 500px) {
    #about_page img {
        max-height: 260px;
    }
}

qsec {
    border-bottom: 1px #ececec solid;
    display: block;
    margin: 20px;
}

ques {
    width: 100%;
    display: block;
    font-size: medium;
    font-weight: bold;
    color: var(--text_prim);
}

answer {
    display: block;
    font-size: small;
}
