
@{
    ViewData["Title"] = "ثبت کاربر";
}

@section Styles{
    <link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion">   
}

@section PageHeader{
    <section class="content-header">
        <h1>
            ثبت کاربر
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
            <li><a href="/Admin/Users/Index"><i></i> کاربران سیستم </a></li>
            <li class="active"><a href="/Admin/Users/EditUser@(ViewBag.id == null || ViewBag.id == 0 ?"":"?id="+ViewBag.id)"><i></i> ثبت کاربر</a></li>
        </ol>
    </section>
}

<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<i class="fa fa-cloud"></i>*@
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            @*<span class="caption-subject bold uppercase">آب و هوا</span>*@
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body" style="">

                <div class="form-horizontal">
                        
                        <form action="/Admin/Users/EditUser" id="frmUserRole" name="frmUserRole" method="post">
                            <div class="form-horizontal">

                                <input type="hidden" value="0" id="Id" name="Id" />
                                <input type="hidden" value="0" id="UserId" name="UserId" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                نام و نام خانوادگی
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="RealName" id="RealName" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                نام کاربری
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="UserName" id="UserName" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                کلمه عبور
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="Password" id="Password" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                موبایل
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="Mobile" id="Mobile" onkeypress="return TextBoxOnlyNumber(event);" maxlength="11" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                ایمیل
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="Email" id="Email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                نقش کاربر
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <select name="RoleId" id="RoleId" class="form-control select2" style="width:100% !important;"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3" for="">
                                                وضعیت کاربر
                                                <span class="RequiredLabel">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="checkbox" name="Status" id="Status" checked />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-9">
                                                <button title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.Users.SaveUser(this);">
                                                    <i class="fa fa-save"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </form>
                    
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion"></script>  
  <script src="~/js/Views/Admin/Users.js?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion"></script>
    <script>
       Web.Users.InitUser(@ViewBag.id);
    </script>
}
