<div class="row text-right " style="padding-top:20px">
    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 1 از 7</p>
    <p style="text-align: center; font-size: 10px;font-family:IranNastaliq">بسمه تعالی</p>
    <p style="text-align: center; font-size: 11.5pt; font-family: NazaninBold; font-weight: 800 "><strong><span>قرارداد ارزیابی شاخص‌های کسب و کار (کیفی) فعالان اقتصادی</span></strong></p>
    <p>
        این قرارداد فیمابین شرکت
        <span style="font-family:NazaninBold">رتبه بندی اعتباری پارس کیان</span>
        (سهامی خاص) به شماره ثبت&nbsp; 520798 و شناسه ملی 14007315962 به نشانی: تهران، خیابان میرزای شیرازی شمالی، خیابان منصور، پلاک 2، طبقه 3 به کدپستی 1596934715 که در این قرارداد به اختصار "
        <span style="font-family:IranNastaliq;">ارزیاب</span>"
        نامیده می شود به نمایندگی آقای محمد رضا عربی مزرعه شاهی بعنوان عضو هیات مدیره و مدیرعامل دارنده مدیره و مدیرعامل دارنده امضا مجاز از یک طرف و شرکت
        <span style="font-family:NazaninBold;font-style:italic"><input name="CompanyName" type="text" value="CompanyNameValue" /></span>
        (<input name="KindOfCompany" type="text" value="KindOfCompanyValue" />)ثبت شده به شماره
        <input name="EconomicCodeValue" type="text" value="EconomicCodeValue" /> و دارای شناسه ملی
        <input name="NationalCode" type="text" value="NationalCodeValue" /> به نشانی:
        <input name="AddressCompany" type="text" value="AddressCompanyValue" /> با کدپستی
        <input name="PostalCode" type="text" value="PostalCodeValue" /> -که در این قرارداد به اختصار "مشتری" نامیده می شود با نمایندگی
        <input name="AgentName" type="text" value="AgentNameValue" /> بعنوان مدیر عامل از طرف دیگر، مطابق شرایط و مفاد ذیل منعقد گردید.

    </p>

    <p class="titr">ماده (1)- موضوع قرارداد</p>
    <p>

        موضوع این قرارداد عبارتست از
        <span style="font-family:NazaninBold">"ارزیابی شاخصهای کسب وکار (کیفی)"</span>
        <span style="font-family:NazaninBold;font-style:italic">"مشتری"</span>
        بر اساس "دستورالعمل شاخص‌های سامانه یکپارچه اعتبارسنجی و رتبه بندی اعتباری" مصوب وزارت صمت و مطابق با "شیوه نامه ارزیابی شاخص‌های کسب و کار- کیفی فعالان اقتصادی" که بر روی پایگاه اینترنتی
        <span style="font-family:IranNastaliq;">"ارزیاب"</span>
        منتشر شده و اعلام نتایج‌ از طریق کانال
        های مورد توافق وزارت صمت و سازمان بورس و اوراق بهادار
    </p>

    <p class="titr">ماده (2)- مدت قرارداد </p>

    <p>
        انجام موضوع قرارداد و اعلام نتیجه ارزیابی به وزارت "صمت" حداکثر 4 هفته از تاریخ تکمیل مدارک و مستندات مورد درخواست "<span style="font-family: IranNastaliq;">ارزیاب</span>"  صورت خواهد گرفت. ضمنا قرارداد از تاریخ امضاء قرارداد تا تاریخ بارگذاری نتایج ارزیابی در سامانه کدال معتبر است.
    </p>
    <p class="titr">
        ماده (3)- کارمزد ارائه خدمات
    </p>
    <p>
        کارمزد ارائه خدمات موضوع قرارداد مبلغ  (<input type="text" name="ServiceFeePrice" value="ServiceFeePriceValue" />) ریال بوده که کل مبلغ با امضای قرارداد و قبل از شروع ارزیابی، توسط <span style="font-family:NazaninBold;font-style:italic">"مشتری"</span> به حساب"<span style="font-family: IranNastaliq;">ارزیاب</span>" به شماره شبا 030560083581002685706001  IR بانک سامان شعبه پارک ساعی کد 835 پرداخت خواهد شد.
    </p>
    <p>
        <span class="sBold">تبصره 1:</span> مطابق با قانون مالیات بر ارزش افزوده معادل 9 % به مبلغ قرارداد افزوده و این مبلغ توسط مشتری به "<span style="font-family: IranNastaliq;">ارزیاب</span>" پرداخت خواهد شد.
    </p>
    <p>
        <span class="sBold">تبصره 2:</span>
        مبلغ قرارداد مطابق با تعداد پرسنل اعلام شده <span class="sBoldI">مشتری</span> نفر محاسبه شده است. در صورتیکه در بررسی های بعمل آمده توسط "<span style="font-family: IranNastaliq;">ارزیاب</span>" <input type="text" name="CountOfPersonal" value="CountOfPersonalValue" /> تعداد پرسنل <span class="sBoldI">مشتری</span> بیش از مبنای محاسبه کارمزد قرارداد باشد <span class="sBoldI">مشتری</span> موظف به پرداخت مابه التفاوت مبلغ، مطابق با اعلام "<span style="font-family: IranNastaliq;">ارزیاب</span>" می باشد.
    </p>
    <p class="titr">ماده (4)- اعلام نتایج "ارزیابی انجام شده"</p>
    <p>
        "<span style="font-family: IranNastaliq;">ارزیاب</span>" نتایج ارزیابی انجام شده بر اساس مقررات موجود و توافق صورت گرفته با وزارت صمت را مستقیما در سامانه یکپارچه اعتبارسنجی و رتبه بندی اعتباری بارگذاری می نماید و <span class="sBoldI">مشتری</span> از طریق سامانه مذکور نتایج بررسی را دریافت خواهد نمود.
    </p>
    <p class="titr">ماده (5) - تعهدات مشتری </p>
    <p>
        <span class="sBoldI">مشتری</span> متعهد است جهت اجرای این قرارداد اقدامات ذیل را انجام دهد:
    </p>
    <ol style="list-style-type: none;">
        <li>1) معرفی نماینده به"<span style="font-family: IranNastaliq;">ارزیاب</span>"،به عنوان رابط که کلیه مکاتبات، ارتباطات و هماهنگی ها با مشتری از طریق رابط انجام پذیرد. </li>
        <li>2) ارائه درست، دقیق،کامل و به موقع هرگونه اطلاعات ومستندات مورد نیاز"<span style="font-family: IranNastaliq;">ارزیاب</span>" که دراجرای موضوع قرارداد نیازمند آن می باشد.</li>
        <li>3) هماهنگی لازم برای ملاقات نمایندگان "<span style="font-family: IranNastaliq;">ارزیاب</span>"  با مدیران ارشد مشتری (از جمله اعضای هیات مدیره) و فراهم نمودن امکانات لازم برای بازدید از دفاتر و محل های فعالیت و داراییهای خود برای نمایندگان "<span style="font-family: IranNastaliq;">ارزیاب</span>".</li>
    </ol>

    <!--======================================================   2    =======================================-->

    <div style="height:230px" class="hClass"></div>
    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 2 از 7</p>
    <ol style="list-style-type: none;">
        <li>1) معرفی نماینده به"<span style="font-family: IranNastaliq;">ارزیاب</span>"،به عنوان رابط که کلیه مکاتبات، ارتباطات و هماهنگی ها با مشتری از طریق رابط انجام پذیرد. </li>
        <li>2) ارائه درست، دقیق،کامل و به موقع هرگونه اطلاعات ومستندات مورد نیاز"<span style="font-family: IranNastaliq;">ارزیاب</span>" که دراجرای موضوع قرارداد نیازمند آن می باشد.</li>
        <li>3) هماهنگی لازم برای ملاقات نمایندگان "<span style="font-family: IranNastaliq;">ارزیاب</span>"  با مدیران ارشد مشتری (از جمله اعضای هیات مدیره) و فراهم نمودن امکانات لازم برای بازدید از دفاتر و محل های فعالیت و داراییهای خود برای نمایندگان "<span style="font-family: IranNastaliq;">ارزیاب</span>".</li>
        <li>4) دریافت هر گونه اطلاعات و مستندات مورد نیاز برای انجام موضوع قرارداد حسب اعلام "<span style="font-family: IranNastaliq;">ارزیاب</span>" از کلیه اشخاص ثالث از جمله (و نه محدود به) حسابرس مستقل وبازرس قانونی، وکیل یا واحد حقوقی مشتری، کلیه ادارات دولتی و وابسته به دولت و نهادهای عمومی غیر دولتی که به نحوی دارای اطلاعات مالی و عملیاتی مشتری می باشند، بانکها و موسسات مالی اعتباری و اشخاص ثالث که مشتری با آنها مراودات مالی و تجاری دارد. <span class="sBoldI">مشتری</span> موظف است در صورت درخواست"<span style="font-family: IranNastaliq;">ارزیاب</span>" از اشخاص ثالت درخواست نماید تا اطلاعات و مستندات مورد نظر "<span style="font-family: IranNastaliq;">ارزیاب</span>"  را مستقیما در اختیار "<span style="font-family: IranNastaliq;">ارزیاب</span>"  قرار دهند.</li>
        <li>5) ارایه پاسخ و توضیحات کتبی و ارایه مستندات لازم در خصوص دلایل هر گونه مغایرت فیمابین اطلاعات دریافتی از <span class="sBoldI">مشتری</span> و اطلاعات دریافتی از اشخاص ثالث. <span class="sBoldI">مشتری</span> موظف به تطبیق اطلاعات دریافتی از اشخاص ثالث با اطلاعات تهیه شده توسط/ یا موجود نزد خود بوده و باید هر گونه مغایرت با اهمیت را به "<span style="font-family: IranNastaliq;">ارزیاب</span>" اطلاع دهد.</li>
        <li>6) اعلام نظر نسبت به مبانی؛ صحت و کامل بودن اطلاعات مورد استفاده در تهیه پیش نویس گزارش ارزیابی و هرگونه گزارش دیگری که "<span style="font-family: IranNastaliq;">ارزیاب</span>" در انجام موضوع قرارداد تهیه و برای اعلام نظر به <span class="sBoldI">مشتری</span> ارسال می کند،حداکثر پنج روز کاری از تاریخ ارسال گزارش. </li>
        <li>7) پرداخت کارمزد ارائه خدمات به "<span style="font-family: IranNastaliq;">ارزیاب</span>"  بر اساس ماده (3) قرارداد. </li>
        <li>8) تامین تسهیلات رفت و آمد و اقامت و یا پرداخت هزینه های مربوطه در صورت نیاز به حضور کارکنان "<span style="font-family: IranNastaliq;">ارزیاب</span>"  جهت ارزیابی در خارج از شعاع 20 کیلومتری تهران.</li>
        <li>9) حفظ محرمانگی اطلاعات و مستندات.</li>
    </ol>
    <p class="titr">ماده (6) - تعهدات " <span style="font-family: IranNastaliq;">ارزیاب</span>"</p>
    <p>تعهدات "<span style="font-family: IranNastaliq;">ارزیاب</span>" در چارچوب موضوع این قرارداد به شرح زیر است: </p>
    <ol style="list-style-type: none;">
        <li>1) "<span style="font-family: IranNastaliq;">ارزیاب</span>"متعهد است مطابق با مقررات مربوطه و پس از دریافت کامل اطلاعات و مستندات مورد نیاز برای ارزیابی؛ امتیاز محاسبه شده بر اساس دستورالعمل مصوب را تعیین و بر اساس رویه مورد تایید وزارت صمت در اختیار آن وزارت قرار دهد.</li>
        <li>2) "<span style="font-family: IranNastaliq;"><span style="font-family: IranNastaliq;">ارزیاب</span></span>" موظف است در طول مدت قرارداد و بعد از آن، کلیه اطلاعات، مدارک و مستنداتی را که مستقیما از <span class="sBoldI">مشتری</span> یا از اشخاص ثالث دریافت نموده یا می نماید یا در ملاقات و مصاحبه با مدیران ارشد و کارکنان <span class="sBoldI">مشتری</span> و یا هنگام بازدید از محل فعالیت <span class="sBoldI">مشتری</span> بدست می آورد و همچنین گزارش ارزیابی را محرمانه تلقی نموده و به استثنای پرسنل و مسئولین خود و ناظرین مربوطه از جمله وزارت صمت یا سازمان بورس و اوراق بهادار در چارچوب وظایفی که برای اجرای خدمات موضوع قرارداد ضرورت دارد، در اختیار هیچ شخصی قرار ندهد یا برای عموم منتشر نکند یا به منظور دیگری غیر از ارائه خدمات موضوع قرارداد استفاده نکند، مگر اینکه قبلا موافقت کتبی <span class="sBoldI">مشتری</span> را دریافت نموده باشد. هر گونه اطلاعات و مستنداتی که قبلا به نحوی به اطلاع عموم رسیده باشد یا مطابق قوانین و مقررات نیازمند افشا و اعلام عمومی باشد در زمره اطلاعات محرمانه قرار نگرفته و "<span style="font-family: IranNastaliq;"><span style="font-family: IranNastaliq;">ارزیاب</span></span>" موظف به کسب اجازه <span class="sBoldI">مشتری</span> برای افشا این گونه اطلاعات نمی باشد."<span style="font-family: IranNastaliq;">ارزیاب</span>" می تواند از اطلاعات <span class="sBoldI">مشتری</span> ( بدون ذکر نام و به نحوی که بصورت معمول امکان انتساب و ارتباط دادن اطلاعات به <span class="sBoldI">مشتری</span> وجود نداشته باشد)  و اطلاعات  ارزیابی در گزارشات پژوهشی خود استفاده نموده و یا به منظور مقاصد مطالعاتی در اختیار اشخاص دیگر دهد یا به صورت عمومی منتشر سازد. </li>

    </ol>
    <p><span class="sBold">تبصره 1:</span> تعهدات قید شده در این قرارداد، به هیچ عنوان محدود کننده مسئولیت های "<span style="font-family: IranNastaliq;">ارزیاب</span>" مطابق مقررات مربوطه نخواهد بود. </p>

    <div style="height:240px" class="hClass"></div>

    <!--======================================================   3   =======================================-->

    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 3 از 7</p>

    <p><span class="sBold">تبصره 2:</span> در صورتیکه در دوره اعتبار قرارداد قوانین، مقررات و رویه های لازم الاجرایی به تصویب مراجع ذیصلاح رسیده و"<span style="font-family: IranNastaliq;">ارزیاب</span>" را از انجام بخشی از مفاد این قرارداد منع نموده و یا مصوبات مورد اشاره با بخشهایی از این قرارداد مغایر باشد، "<span style="font-family: IranNastaliq;">ارزیاب</span>" خود را ملزم به رعایت مقررات مربوطه می داند و از این بابت مسئولیتی برای جبران خسارت وارده به <span class="sBoldI">مشتری</span> نخواهد داشت.</p>

    <p class="titr">ماده (7) صحت و اصالت اطلاعات و مدارک ارایه شده</p>
    <ol style="list-style-type: none;">
        <li>1) <span class="sBoldI">مشتری</span> با امضای این قرارداد و پیوست آن اقرار و اعلام میدارد کلیه اطلاعات، مدارک و مستنداتی که به هر نحو اعم از فیزیکی یا الکترونیکی در راستای انجام این قرارداد به"<span style="font-family: IranNastaliq;">ارزیاب</span>" ارایه می نماید؛کامل، دارای اصالت وصحیح می باشد ودرصورتیکه اطلاعات؛مدارک ومستنداتی بصورت ناقص،جانبدارانه،فاقد اصالت و یا غیر صحیح  به"<span style="font-family: IranNastaliq;">ارزیاب</span>" ارایه گردد،کلیه مسئولیتها و عواقب قانونی مربوطه با <span class="sBoldI">مشتری</span> می باشد.</li>
        <li>2) "<span style="font-family: IranNastaliq;">ارزیاب</span>" اطلاعات, مدارک و مستندات دریافتی را در حد عرف و معمول مورد بررسی قرارداده و به هیچ عنوان مسئولیت بررسی و اثبات صحت، اصالت وکامل بودن اطلاعات دریافتی از <span class="sBoldI">مشتری</span> را نخواهد داشت. "<span style="font-family: IranNastaliq;">ارزیاب</span>" حسب صلاحدید حرفه ای خود می تواند اصل مستندات و یا تاییدیه اصالت یا صحت آنها را از <span class="sBoldI">مشتری</span> یا اشخاص ثالث درخواست نماید. </li>
    </ol>
    <p class="titr">ماده (8) تعلیق، لغو یا توقف ارزیابی</p>
    <p>"<span style="font-family: IranNastaliq;">ارزیاب</span>" در هر یک از شرایط زیر می تواند بدون اعلام قبلی به <span class="sBoldI">مشتری</span>  یا کسب رضایت وی، در هر زمان نسبت به تعلیق یا توقف فرایند ارزیابی یا لغو ارزیابی انجام شده یا امتیاز اعلام شده موضوع این قرارداد، اقدام کند: </p>

    <ol style="list-style-type: none;">
        <li>1) در مواقعی که به تشخیص "<span style="font-family: IranNastaliq;">ارزیاب</span>" و با وجود درخواست از <span class="sBoldI">مشتری</span> و امکان <span class="sBoldI">مشتری</span> برای فراهم آوردن آن اطلاعات و اسناد مذکور، اطلاعات، اسناد و مدارک مورد نیاز برای انجام موضوع قرارداد، در اختیار "<span style="font-family: IranNastaliq;">ارزیاب</span>" قرار نگیرد؛ </li>
        <li>2) در صورتی که شخص حقوقی موضوع ارزیابی، منحل یا تصفیه شده یا مطابق قانون اعلام ورشکستگی نموده باشد، یا در شخص حقوقی دیگری ادغام شده باشد؛ </li>
        <li>3) در صورتیکه"<span style="font-family: IranNastaliq;">ارزیاب</span>" براساس قوانین و مقررات از تعیین امتیاز یا حسب مورد اعلام آن منع شده باشد؛ </li>
        <li>4) در صورت امتناع <span class="sBoldI">مشتری</span> از پرداخت به موقع کارمزد  خدمات مطابق قرارداد؛</li>
        <li>5) در صورت ظن منطقی یا اطمینان"<span style="font-family: IranNastaliq;">ارزیاب</span>" به عدم صحت اطلاعات دریافتی از <span class="sBoldI">مشتری</span> یا اشخاص ثالث یا دستکاری عامدانه و تحریف در اطلاعاتی که مبنای ارزیابی بوده اند. "<span style="font-family: IranNastaliq;">ارزیاب</span>"  همزمان با اعلام مورد ظن به <span class="sBoldI">مشتری</span> و تا زمان حصول اطمینان، حسب مورد فرایند ارزیابی را تعلیق نموده و یا ارزیابی انجام شده یا امتیاز اعلام شده موضوع این قرارداد را لغوخواهد نمود.</li>
        <li>6) سایر دلایلی که با تایید وزارت صمت یا سازمان بورس و اوراق بهادار تعلیق؛ لغو یا توقف ارزیابی و عدم اعلام امتیاز ارزیابی مجاز تشخیص داده شود.</li>
    </ol>

    <p class="titr">ماده (9) اقاله، فسخ و انحلال قرارداد </p>
    <p>در هر یک از موارد زیر یکی از طرفین یا هر دو حق فسخ یا خاتمه قرارداد را دارد:</p>
    <ol style="list-style-type: none;">
        <li>1) با توافق کتبی طرفین و قبل از شروع  خدمات موضوع قرارداد.</li>
        <li>2) در صورتی که ظرف بیست روز از اخطار کتبی هر یک از طرفین به هر یک از تعهدات خود عمل نکند طرف مقابل حق فسخ یک طرفه قرارداد را دارد. </li>

        <li>3) در صورت تحقق فورس ماژور برای یک طرف قرارداد،</li>
        <li>4) سایر مواردیکه به تشخیص وزارت صمت یا سازمان بورس و اوراق بهادار منجر به فسخ و انحلال قرارداد می گردد. در صورت بروز این موارد تصمیم سازمان بورس مورد توافق طرفین خواهد بود.</li>
    </ol>
    <div style="height:270px" class="hClass"></div>

    <!--======================================================   4    =======================================-->

    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 4 از 7</p>
    <p>تبصره: تکالیف قانونی <span class="sBoldI">مشتری</span> و "<span style="font-family: IranNastaliq;">ارزیاب</span>" در مقابل مراجع ذیصلاح قانونی تا زمان انحلال قرارداد ، به قوت خود باقی می باشد.</p>
    <p class="titr">ماده (10) شرایط تسویه در زمان فسخ قرارداد </p>
    <p>درصورت انحلال قرارداد در هر مرحله، نحوه تسویه قرارداد به شرح زیر خواهد بود: </p>
    <ol style="list-style-type: none;">
        <li>1) در صورتی که قرارداد با توافق طرفین فسخ شود، میزان کارمزد ارائه خدمات با توافق طرفین تعیین می شود.</li>
        <li>2) درصورتی که به علت عدم ایفای تمام یا بخشی از تعهدات <span class="sBoldI">مشتری</span>(از جمله بندهای 1 و 5 ماده 8)، قرارداد از طرف "<span style="font-family: IranNastaliq;">ارزیاب</span>" فسخ گردد، مبلغ دریافتی از <span class="sBoldI">مشتری</span> مسترد نخواهد شد.</li>
        <li>3) درصورتی که قبل از  شروع اجرای قرارداد و تعیین امتیاز؛ به علت عدم ایفای تمام یا بخشی از تعهدات "<span style="font-family: IranNastaliq;">ارزیاب</span>" ؛ قرارداد از طرف <span class="sBoldI">مشتری</span> فسخ گردد، کلیه مبلغ دریافتی قابل عودت به <span class="sBoldI">مشتری</span> می باشد.</li>
        <li>4) در صورتی که قرارداد بدلیل بند 4 ماده (9) فسخ گردد، کارمزد"<span style="font-family: IranNastaliq;">ارزیاب</span>"مطابق نظر سازمان بورس و اوراق بهادار تعیین خواهد شد. </li>
    </ol>
    <p class="titr">ماده (11) فورس ماژور </p>
    <p>درصورت وقوع حادثه های غیرمترقبه خارج از اراده هر یک از طرفین و به نحویکه امکان پیشگیری یا رفع اثر آن وجود نداشته باشد، (همچون جنگ اعم از اعلام شده یا نشده، انقلاب، اعتصاب عمومی، شیوع بیماری های واگیردار، زلزله، سیل و طغیان های غیرعادی، آتش سوزی های دامنه دار و غیره) هر یک از طرفین نتوانند تمام یا قسمتی از تعهدات خود در این قرارداد ایفا کند، باید موضوع را حداکثر ظرف یک هفته از وقوع حادثه کتباً به طرف دیگر اطلاع دهد. در چنین شرایطی، انجام تعهدات وی تا رفع شرایط مذکور فورس ماژور به تعویق خواهد افتاد. چنانچه مدت برقراری شرایط فورس ماژور بیش از یک ماه به طول انجامد، طرف مقابل حق فسخ قرارداد را دارد. در هر حال در صورت فسخ یا عدم فسخ قرارداد، طرفین متعهد به انجام کلیه تعهدات قراردادی خود تا تاریخ وقوع حادثه غیرمترقبه موضوع این ماده می باشند. </p>
    <p class="titr">ماده (12) حل اختلاف </p>
    <p>درصورت بروز هرگونه اختلاف در تفسیر یا اجرای مفاد این قرارداد، موضوع بدواً از طریق مذاکره میان طرفین بررسی و رفع خواهدشد. درصورتی که ظرف سی روز توافق حاصل نشود، هر طرف می تواند موضوع اختلاف را به منظور حصول سازش به کانون مربوطه طبق ماده 36 قانون بازار اوراق بهادار، ارجاع دهد. در صورت عدم حصول سازش در کانون مربوطه، مرجع نهایی رسیدگی به اختلاف، هیات داوری مذکورد در ماده 37 قانون بازار اوراق بهادار خواهد بود. </p>
    <p class="titr">ماده (13) سایر موارد</p>
    <ol style="list-style-type: none;">
        <li>1) " دستورالعمل شاخصهای سامانه یکپارچه اعتبارسنجی و رتبه بندی اعتباری مصوب وزارت صمت " و کلیه تعاریف، وظایف و مسئولیتها، حقوق و تکالیف وسایر ضوابط تعیین شده در آن ناظر بر روابط فیمابین "<span style="font-family: IranNastaliq;">ارزیاب</span>"  و <span class="sBoldI">مشتری</span> بوده و طرفین موافقت مینمایند هر گونه تغییر در دستور العمل مذکور که در طول دوره قرارداد صورت می گیرد را مورد قبول قرار می دهند و در مواردیکه بخشهایی از این قرارداد با دستورالعمل مذکور یا تغییرات آتی آن دارای مغایرت باشد مفاد دستورالعمل مورد اشاره اولویت داشته و نافذ می باشد.</li>
        <li>
            2) مبلغ قرارداد بابت کارمزد یکبار ارزیابی و اعلام نتیجه آن به وزارت صمت بوده و "<span style="font-family: IranNastaliq;">ارزیاب</span>"  تعهدی بر پایش و بروز رسانی و یا ارزیابی مجدد در طول دوره قرارداد ندارد.


            <div style="height:270px" class="hClass"></div>

    <!--======================================================   5    =======================================-->

            <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 5 از 7</p>

            <br />تبصره: در صورتیکه بر اساس مقررات موضوعه و موافقت وزارت "صمت" امکان ارزیابی بر اساس درخواست <span class="sBoldI">مشتری</span> و با پرداخت کارمزد مربوطه (در تاریخ درخواست) ارزیابی مجدد صورت گرفته و نتایج آن مطابق قرارداد به وزارت صمت اعلام خواهد شد.
        </li>
        <li>3) ارزیابی صورت گرفته در اجرای دستورالعمل وزارت صمت بوده و نتایج حاصل از آن منحصرا  به وزارت مذکور اعلام خواهد شد. فلذا <span class="sBoldI">مشتری</span> تعهد مینماید به هیچ عنوان و به هیچ نحو و شکلی حق ارایه نتایج به سایر اشخاص یا اعلام عمومی یا حق استفاده از آن برای سایر مقاصد از جمله معرفی یا تبلیغات خود را ندارد.</li>

        <li>4) هریک از طرفین رأساً متعهد به ایفای تعهدات خود به موجب این قرارداد بوده و هیچ یک از طرفین حق ندارند بدون رضایت کتبی طرف دیگر، نسبت به واگذاری تعهدات، امتیازات، اختیارات و مسئولیت های خود، کلاً یا جزئاً، به غیر اقدام نمایند.</li>
        <li>5) فرایند وشیوه نامه ارزیابی وسایر موارد مرتبط با موضوع رتبه بندی بصورت عمومی در درگاه اطلاع رسانی "<span style="font-family: IranNastaliq;">ارزیاب</span>" به آدرس parscrc.ir افشا شده و "<span style="font-family: IranNastaliq;">ارزیاب</span>"  موضوع قرارداد را با لحاظ فرایند مذکور و شیوه نامه متناسب انجام می دهد.</li>
        <li>6) در تاریخ انعقاد قرارداد و بر اساس مقررات حاضر، امتیاز محاسبه و اعلام شده برای یکسال شمسی از تاریخ اعلام معتبر بوده و در صورت لزوم مطابق با مقررات مربوطه و مصوبات وزارت صمت با اخذ کارمزد مربوطه به روز رسانی شده و یا تعلیق، لغو یا متوقف خواهد شد. هرگونه تغییرات مبنی بر دوره اعتبار و نحوه ارزیابی <span class="sBoldI">مشتری</span> که از سوی وزارت صمت در مدت قرارداد اعلام می گردد مورد قبول طرفین می باشد. </li>

        <li>7) "<span style="font-family: IranNastaliq;">ارزیاب</span>"  در قبال جبران هرگونه هزینه، خسارت و زیانی که به دلیل استفاده از امتیاز اعلام شده یا استفاده از گزارش مربوطه (حسب مورد) به <span class="sBoldI">مشتری</span> یا هر شخص ثالث دیگر وارد شود، هیچگونه مسئولیتی نخواهد داشت.</li>
        <li>8) "<span style="font-family: IranNastaliq;">ارزیاب</span>"  حق دارد نام <span class="sBoldI">مشتری</span> را بعنوان <span class="sBoldI">مشتری</span> که از خدمات ارزیابی استفاده نموده در معرفی خود و سوابق خدمات انجام شده استفاده نماید و در صورت الزام قانونی روابط مالی و تجاری خود با <span class="sBoldI">مشتری</span> را بصورت عمومی افشا نماید.</li>

        <li>9) در صورتی که طبق قوانین و مقررات لازم الاتباع یا دستورات مقامات ذیصلاح قانونی، یک طرف قرارداد ملزم به ارائه اطلاعات یا مستندات موضوع این قرارداد به سایر اشخاص یا افشای عمومی آنها گردد، ارائه یا افشای آنها در حدود قوانین و مقررات یا دستورات مقامات ذیصلاح از سوی وی، به منزله نقض مفاد این ماده محسوب نمی شود.</li>
    </ol>
    <p class="titr">ماده (14) اقامتگاه قانونی</p>
    <p>نشانی قید شده درصدر قرارداد بعنوان نشانی قانونی طرفین می باشد. هریک از طرفین قرارداد می تواند با اعلام کتبی به طرف دیگر قرارداد، نشانی قانونی خود را در مدت قرارداد تغییر دهد. ارسال هرگونه اسناد و اوراق اداری و قضایی اعم از مرسولات اداری، اخطاریه ها و احضاریه ها از یک طرف به نشانی قانونی طرف مقابل که در قرارداد قید شده یا در صورت تغییر به آخرین نشانی اعلام شده طبق این ماده، ابلاغ شده به طرف مقابل و دریافت شده توسط وی، تلقی خواهد شد. ارسال اطلاعات، مدارک و مستندات لازم برای انجام موضوع قرارداد می تواند از طریق سایر مجاری ارتباطی از جمله فکس، رایانامه (ایمیل) صورت گیرد. مجاری مذکور بصورت کتبی توسط "<span style="font-family: IranNastaliq;">ارزیاب</span>" و <span class="sBoldI">مشتری</span> به طرف مقابل اعلام شده ودر این صورت طرف مقابل ملزم است، برای ارسال اطلاعات و مستندات از راه های ارتباطی تعیین شده استفاده کند. هر گونه اطلاعات ارسالی از طریق این مجاری بعنوان اطلاعات رسمی بوده و مورد تایید <span class="sBoldI">مشتری</span> و "<span style="font-family: IranNastaliq;">ارزیاب</span>"  می باشد. رایانامه "<span style="font-family: IranNastaliq;">ارزیاب</span>"  info@Parscrc.ir و رایانامه <span class="sBoldI">مشتری</span> و مشاور <span class="sBoldI">مشتری</span> <input type="text" name="Email" value="EmailValue" /> می باشد که در صورت لزوم به تغییر به اطلاع طرف مقابل می رسد.</p>

    <div style="height:450px" class="hClass"></div>
    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 6 از 7</p>

    <p>
        این قرارداد مشتمل بر 14 ماده و6 تبصره بوده و در دو نسخه تنظیم گردیده که در حکم واحد می باشند. تمام صفحات قرارداد در هر دو نسخه، در تأیید مفاد آن به امضای طرفین رسیده است. یک نسخه از قرارداد در اختیار <span class="sBoldI">مشتری</span> و یک نسخه در اختیار "<span style="font-family: IranNastaliq;">ارزیاب</span>"  قرار خواهد گرفت و بایگانی شده تا در صورت لزوم جهت ارایه به نهادهای ذیربط از جمله سازمان بورس و اوراق بهادار مورد استفاده قرار گیرد.
    </p>
    <br />
    <table style="width:100%">
        <tr style="width:50%">

            <td style="width:50%">
                <p style="font-family:IranNastaliq;font-size:1.5em;text-align:center">

                    <input type="text" name="CompanyName2" value="CompanyName2Value" />
                    <br />
                    <br />
                    (<input type="text" name="KindOfCompany2" value="KindOfCompany2Value" />)
                </p>
                <p style="text-align: center"><span><input name="NamesAuthorizedSignatories" type="text" value="NamesAuthorizedSignatoriesValue" /></span></p>
            </td>
            <td style="width:50%">
                <p style="font-family:IranNastaliq;font-size:1.5em;text-align:center">
                    شرکت رتبه بندی اعتباری پارس کیان
                    <br />
                    <br />
                    (سهامی خاص)
                </p>
                <p style="text-align:center"><span>محمد رضا عربی مزرعه شاهی</span></p>
            </td>
        </tr>

    </table>
    <div style="height:880px" class="hClass"></div>
    <p style="text-align: left; font-size: 10px; font-family: Nazanin">صفحه 7 از 7</p>

    <p style="text-align:center">پیوست قرارداد ارزیابی شاخص کسب و کا ر(کیفی) فعالان اقتصادی</p>
    <p style="text-align:center;font-family:IranNastaliq;font-size:1.25em">"تعهد نامه ارسال مدارک و مستندات به شرکت"رتبه بندی اعتباری پارس کیان"  </p>
    <p>شرکت <input type="text" name="CompanyName3" value="CompanyName3Value" /> به شناسه/شماره ملی <input type="text" name="NationalCode2" value="NationalCode2Value" /> در اجرای بند 1 ماده 7 قرارداد فیمابین در خصوص ارزیابی شاخص های کیفی کسب و کار تعهد و تصدیق می نماید:</p>
    <ol style="list-style-type: none;">
        <li>1.	در کمال دقت و صحت، اطلاعات و مدارک مورد نیاز شرکت "<span style="font-family:IranNastaliq;font-size:1.25em">رتبه بندی اعتباری پارس کیان</span>" که برای آماده سازی قرارداد، بررسی و ارزیابی و امتیازدهی شاخص های کیفی کسب و کار سامانه جامع تجارت را تهیه و ارسال می نماید.</li>
        <li>2.	کلیه اطلاعات و مستندات ارسالی که بصورت کتبی دارای مهرشرکت/ امضای اینجانب باشد به منزله تأیید صحت و اصالت اطلاعات مذکور می باشد.</li>
        <li>3.	کلیه اطلاعات و مستندات ارسالی از طریق ایمیل مندرج در قرارداد یا پیام رسان های اجتماعی (از طریق شماره رابط قرارداد) بعنوان ارسال اطلاعات و مستندات این شرکت/ اینجانب مورد تایید می باشد و در چارچوب قوانین و مقررات قانون تجارت الکترونیک مورد استناد خواهد بود.</li>
        <li>4.	در صورتی که احراز گردد در اجرای قراردادم این شرکت / اینجانب اطلاعات خلاف واقع و يا مستندات فاقد اصالت (اعم از فیزیکی یا الکترونیکی) به شرکت "<span style="font-family:IranNastaliq;font-size:1.25em">رتبه بندی اعتباری پارس کیان</span>" ارایه یا تصدیق نموده و يا اطلاعات، اسناد و يا مدارك فاقد اصالت را در تهية مدارک و مستندات مورد استفاده قرار داده باشم کلیه مسئولیت های قانونی و حقوقی آن را پذیرفته و راسا پاسخگوی مراجع قانونی ذیربط خواهم بود و با توجه به اینکه شرکت "<span style="font-family:IranNastaliq;font-size:1.25em">رتبه بندی اعتباری پارس کیان</span>" بدلیل عدم دسترسی به بانک های اطلاعاتی و منابع و مراجع صادر کننده، امکان راستی آزمایی مدارک و مستندات ارسالی این شرکت را ندارد، لذا هیچ گونه مسئولیتی در این خصوص نخواهد داشت.</li>
        <li>5.	در صورتیکه به اتکای امتیاز حاصل از مستندات غیرواقع، این شرکت/ اینجانب من غیر حق منتفع گردد و یا از خدمات مرتبط به سامانه جامع تجارت استفاده نماید، مسئولیت کلیه خسارت واقع شده یا تعیین شده از طرف مراجع ذیربط را کاملا به عهده می گیرد.</li>
    </ol>
    <div style="float:left;width:200px">
        <p style="text-align: center;">
            <input type="text" name="CompanyName5" value="CompanyName5Value" />

        </p>
    </div>
    <div style="clear:both"></div>
    <div style="height:250px" class="hClass"></div>
</div>