
@{
    ViewData["Title"] = "اسناد درخواست";
}

@section Styles{
    <link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css" asp-append-version="true">
}

@section PageHeader{
    <section class="content-header" id="phch">
        <h1>
            اسناد
        </h1>
        <ol class="breadcrumb">
            <li><a href="/SuperVisor"><i class="fa fa-dashboard"></i> داشبورد</a></li>
            <li><a href="/SuperVisor/RequestForRating/Index"><i></i> درخواست ها</a></li>
            <li class="active"><a href="/SuperVisor/RequestForRating/RequestDocument/@(ViewBag.id == null || ViewBag.id == 0 ?"":ViewBag.id)"><i></i> مشاهده اسناد درخواست</a></li>
        </ol>
    </section>
}

<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <!--<i class="fa fa-cloud"></i>-->
            <h3 class="box-title">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <!--<span class="caption-subject bold uppercase">آب و هوا</span>-->
                    </div>
                    <div class="tools">

                        <a href="" class="collapse" data-original-title="" title="">
                        </a>
                    </div>
                </div>
            </h3>
            <!-- tools box -->
            <div class="pull-left box-tools">
                <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /. tools -->
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active" id="svisorShowDocument"><a href="#activity" onclick="Web.RequestForRating.ShowEditDocument(@ViewBag.id)"  data-toggle="tab" aria-expanded="false">  قرارداد و اسناد مشتری</a></li>
                            <li class="" id="svisorShowContract"><a onclick="Web.RequestForRating.ShowEditContract()" href="#timeline_1" data-toggle="tab" aria-expanded="false">قرارداد</a></li>

                        </ul>
                        <div class="tab-content">
                            <input type="hidden" id="sdklsslks3498sjdkxhjsd_823sa" value="" />
                           
                            <!-- /.tab-pane -->
                            <div class="tab-pane active" id="activity">
                                <div id="showDocument"></div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="timeline_1">
                                <div id="contractInfo"></div>
                            </div>                          
                           
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    
    <script>
        Web.RequestForRating.ShowEditDocument(@ViewBag.id);
    </script>
}

