
<h1>
    Diane
</h1>
<center style="font-size:x-large;">
    برای ورود ورود به سیستم <a href="/Home/Login">اینجا</a> کلیک کنید
    <br />
     برای ورود ورود به سیستم مشتری <a href="/Home/LoginOTP">اینجا</a> کلیک کنید
</center>

