
@{
    ViewData["Title"] = "ثبت ساختار مدیریت";
}

@section Styles{
    <link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css" asp-append-version="true">
}

@section PageHeader{
    <section class="content-header">
        <h1>
            ثبت ساختار مدیریت
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
            <li><a href="/Admin/ManagerOfParsKyan/Index"><i></i> ساختار مدیریت</a></li>
            <li class="active"><a href="/Admin/ManagerOfParsKyan/EditManagerOfParsKyan@(ViewBag.id == null || ViewBag.id == 0 ?"":"?id="+ViewBag.id)"><i></i> ثبت ساختار مدیریت</a></li>
        </ol>
    </section>
}

<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<i class="fa fa-cloud"></i>*@
                <h4 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            @*<span class="caption-subject bold uppercase">آب و هوا</span>*@
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h4>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body" style="">


                <form action="/Admin/ManagerOfParsKyan/Index" id="frmFormMain" method="post">
                    <div class="form-horizontal">

                        <input type="hidden" value="0" id="ManagerOfParsKyanId" name="ManagerOfParsKyanId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        نام و نا خانوادگی مدیر
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="ManagerOfParsKyanName" id="ManagerOfParsKyanName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        سمت در  هیئت مدیره
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="PositionID" id="PositionID" class="form-control select2" style="width:100% !important;"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        عنوان
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="TitleID" id="TitleID" class="form-control select2" style="width:100% !important;"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        ایمیل
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="email" name="EmailAddress" id="EmailAddress" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        تویتر
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="TwitterId" id="TwitterId" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        عکس
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="hidden" id="hid_Picture" value="" />
                                        <input type="file" name="Picture" id="Picture" accept="image/*" onchange="onChangePicCropper(this,1200,'imgUpload_Picture','hid_Picture');" />
                                        <img src="" width="150" class="img-thumbnail" id="imgUpload_Picture" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        خلاصه رزومه
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <textarea name="ResumeSummary" id="ResumeSummary" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="">
                                        فایل رزومه
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="file" name="ResumeFile" id="ResumeFile" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <button title="ثبت" class="btn btn-info fontForAllPage" onclick="Web.ManagerOfParsKyan.SaveManagerOfParsKyan(this);">
                                            <i class="fa fa-save"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/lib/cropperjs/cropper.js" asp-append-version="true"></script>
    <script src="~/lib/cropperjs/cropperOpp.js" asp-append-version="true"></script>
    <script>
        Web.ManagerOfParsKyan.InitManagerOfParsKyan(@ViewBag.id);
    </script>
}
