

<div id="bg-img"></div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/landing/faq.css" asp-append-version="true" />

<section class="contact-page-section">
    <div class="container">

        <div class="inner-container">
            <div style="background-color:white;padding:20px;direction:rtl;text-align:justify;padding-top:50px;padding-bottom:50px">

                <h1>سوالات متداول</h1>
                <qsec>
                    <ques>1- پارس کیان برای من چیکار میکنه؟</ques>
                    <answer>پارس کیان به شما تسهیلات میدهد تا کالای مورد نظر خوتان را خریداری کنید.</answer>
                </qsec>
                <qsec>
                    <ques>2- سقف اعتبار پارس کیان چقدر هست؟</ques>
                    <answer>یکی از مزیت های پارس کیان نسبت به سایرین اعتبار زیادی است که به متقاضیان می دهد. سقف اعتبار پارس کیان 50 میلیون تومان است.</answer>
                </qsec>
                <qsec>
                    <ques>3- مراحل دریافت تسهیلات چگونه است؟</ques>
                    <answer>برای دریافت تسهیلات، ابتدا باید ثبت نام کنید و بعد از احراز هویت و اعتبارسنجی، می توانید از تسهیلات وامی برخوردار شوید.</answer>
                </qsec>
                <qsec>
                    <ques>4- اطلاعات هویتی من در اختیار چه کسانی قرار میگیرد؟</ques>
                    <answer>تمام اطلاعاتی که در پارس کیان درج میکنید یا مدارکی که ارسال می کنید تنها در اختیار پارس کیان و تامین کننده مالی تسهیلات شما قرار میگیرد.</answer>
                </qsec>
                <qsec>
                    <ques>5- اعتبار سنجی به چه صورت است؟</ques>
                    <answer>بعد از تکمیل پروفایل و وارد کردن اطلاعات دقیق توسط بانک مرکزی و ثبت احوال اعتبار سنجی انجام میگیرد.</answer>
                </qsec>
                <qsec>
                    <ques>6- نرخ سود و تسهیلات چقدر است؟</ques>
                    <answer>20 درصد پیش پرداخت به فروشگاه و طبق اعلامیه بانک مرکزی 21 درصد سود سالیانه دریافت می گردد.</answer>
                </qsec>
                <qsec>
                    <ques>7- مراحل خرید چگونه است؟</ques>
                    <answer>با مراجعه به فروشگاه های مورد تایید پارس کیان کالای خود را انتخاب و از  فروشنده درخواست خرید اعتباری از طریق پارس کیان را میکنید.</answer>
                </qsec>
                <qsec>
                    <ques>8- مدارک مورد نیاز برای گرفتن تسهیلات چیست؟</ques>
                    <answer>تا سقف 25 میلیون تومان کارت ملی به همراه شناسنامه، چک صیادی بنفش و پرینت فرم ثبت نام سامانه ثنا نیاز می‌باشد و از مبلغ 25 میلیون تومان به بالا ارائه مدرک مثبته شغلی و میانگین معدل حساب سه ماهه نیز به مدارک فوق اضافه می‌گردد.</answer>
                </qsec>
                <qsec>
                    <ques>9- مدت زمان پروسه ی دریافت تسهیلات چقدر است؟</ques>
                    <answer>پارس کیان تنها در 30 دقیقه تسهیلات مورد نظر را برای شما فراهم میکند.</answer>
                </qsec>
                <qsec>
                    <ques>10- لیست فروشگاه هارا چگونه پیدا کنم ؟</ques>
                    <answer>لیست فروشگاهها در سایت پارس کیان و در بخش فروشگاههای پارس کیان قابل مشاهده است.</answer>
                </qsec>
                <qsec>
                    <ques>11- من فروشگاه دارم چگونه می توانم فروش اقساطی داشته باشم؟</ques>
                    <answer>در سایت پارس کیان، ثبت نام و در قسمت فروشگاه شماره خود را ثبت کنند و کد احراز هویت و کلمه عبور دریافت می کنند و سپس پروفایل خود را تکمیل می کنید.</answer>
                </qsec>
                <qsec>
                    <ques>12- من دسته چک زرد رنگ قدیمی دارم این سایت قبول میکنه؟</ques>
                    <answer>خیر چک صیادی بنفش یا صورتی مورد قبول است.</answer>
                </qsec>
                <qsec>
                    <ques>13- شماره ای هست من بتونم سوالاتمو بپرسم؟</ques>
                    <answer>بله، در صورتی که سوالات خود را در قسمت سوالات متداول پیدا نکردید در  قسمت تماس با ما میتوانید با ما در تماس باشید.</answer>
                </qsec>
                <qsec>
                    <ques>14- بازپرداخت اقساط چند ماهه است؟</ques>
                    <answer>خیر پرداختی ها 6 و 12 ماهه هستند.</answer>
                </qsec>
                <qsec>
                    <ques>15- من اعتبار سنجی‌شدم‌ در قسمت انتخاب فروشگاه چجوری انتخاب کنم ؟</ques>
                    <answer>به قسمت فروشگاه ها مراجعه کنید و فروشگاه و کالای مورد نظر خود را انتخاب کنید.</answer>
                </qsec>
                <qsec>

                    <ques>16- آیا نیاز به ضامن هست؟</ques>
                    <answer>خیر پارس کیان تمام پروسه های زمان بر و فرسایشی مانند آوردن ضامن را حذف کرده و چک شما تضمین کننده ی شماست.</answer>
                </qsec>
                <qsec>
                    <ques>17- تحویل کالا در چه زمانی است ؟</ques>
                    <answer>پس از مرحله تایید چک توسط بانک در سامانه پارس کیان ( 15 تا 30 دقیقه)</answer>
                </qsec>
                <qsec>
                    <ques>18- برای پرداخت اقساط چیکار باید انجام دهم؟</ques>
                    <answer>به ناحیه کاربری خود وارد و در قسمت پرداخت اقساط، اقساط خود را پرداخت میکنید.</answer>
                </qsec>
                <qsec>
                    <ques>19- من هرکاری میکنم ثبت نام نمیشه میشه شما خودتان ثبت نام کنید؟</ques>
                    <answer>بله با ما تماس بگیرید.</answer>

                </qsec>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/InitProject.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/landing/AboutUs.js"></script>
    <script>
        Web.AboutUs.InitAboutUs();
    </script>
}
