



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<section class="contact-page-section">
    <div class="container">

        <div class="inner-container">
            <div style="background-color:white;padding:20px;direction:rtl;text-align:justify;padding-top:50px;padding-bottom:50px">

                <h3>سیاست‏‌های رعایت حریم شخصی</h3>
                <ul>
                    <li>پارس کیان به اطلاعات خصوصی کاربرانی که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند .

                    <li>پارس کیان متعهد می‏‌شود در حد توان از حریم شخصی کاربران دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده از سایت را، توسعه دهد.

                    <li>همه مطالب در دسترس پارس کیان، شامل موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده جزئی از اموال پارس کیان محسوب می‏‌شود و حق استفاده از هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای این پلتفرم محفوظ می‏‌دارد .

                    <li>علاوه بر این اسکریپت‌ها و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط پارس کیان و علائم تجاری ثبت شده نیز در انحصار پارس کیان است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد .

                    <li>کاربران مجاز به بهره‌‏برداری و استفاده از لیست محصولات، مشخصات فنی، قیمت و هر گونه استفاده از مشتقات وب‏‌سایت و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، ربات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج نیستند و کلیه این حقوق به صراحت برای پارس کیان محفوظ است .

                    <li>اگر تصمیم به استفاده از خدمات ما گرفتید، با جمع‌آوری اطلاعات شخصی و سایر موارد که در سامانه پارس کیان به ثبت میرسد موافقت نمایید. اطلاعات شخصی که جمع‌آوری می‌شود برای ارائه و بهبود خدمات استفاده خواهد .
                </ul>

                <h3>جمع آوری و استفاده از اطلاعات برای احراز هویت</h3>

                وقتی شما بعنوان یک متقاضی  در سامانه ما ثبت نام می‌کنید. سامانه اطلاعات شناسایی شخصی از جمله: نام، شماره تلفن، آدرس پستی و سایر موارد را برای ارتباط بعدی دریافت و ذخیره می‌کند. این اطلاعات فقط از طریق آدرس   <a style="font-family:'IRANSansEN';" href="https://parscrc.ir">https://parscrc.ir</a>   جمع‌آوری و ذخیره می‌شود .

                <h3>اطلاعات ورود به سامانه پارس کیان</h3>

                مطلع باشید وقتی در سامانه پارس کیان ثبت نام می‌کنید ، اطلاعاتی را جمع آوری می کنیم که مرورگر شما برای ما ارسال می کند که به آن Log Data گفته می شود. این اطلاعات ورود به سیستم ممکن است شامل اطلاعاتی مانند: آدرس پروتکل اینترنت رایانه شما ("IP")  و برخی از اطلاعات شخصی از قبیل: نام، نام خانوادگی، شماره کارت ملی و سایر موارد شخصی باشد .

                <h3>کوکی‌های پارس کیان</h3>

                وب سایت ما از "کوکی‌ها" برای کنترل امنیت کار شما و بهبود خدمات ما استفاده می کند. شما این اختیار را دارید که این کوکی‌ها را بپذیرید. البته اگر از این کوکی‌های استفاده نشود، ممکن است در حین فرایند خدمت‌گیری با اختلال مختصری برخورد کنید .

                <h3>امنیت سامانه پارس کیان</h3>

                از اعتمادتان به دلیل ارائه اطلاعات شخصی خود قدردانی می‌کنیم. در تلاش هستیم تا از ابزارهای قابل قبول تجاری برای محافظت از آن استفاده کنیم. اما متاسفانه هیچ روش انتقال از طریق اینترنت یا روش ذخیره الکترونیکی کاملاً ایمن و مطمئن نیست.

                <h3>لینک به سایتهای دیگر</h3>

                سرویس ما ممکن است دارای لینک‌هایی به سایت‌های دیگر باشد. اگر روی لینک شخص ثالث کلیک کنید، به آن سایت هدایت خواهید شد. توجه داشته باشید که این سایت‌ها توسط ما اداره نمی‌شوند بنابراین، نمی‌توانیم مسئولیتی در مورد محتوا، سیاست‌های حفظ حریم خصوصی یا عملکرد این سایت‌ها بر عهده بگیریم. خواهش می‌کنیم که سیاست حفظ حریم شخصی این وب سایت‌ها را نیز مرور کنید.

                <h3>تغییر در سیاست حفظ حریم خصوصی در سامانه پارس کیان</h3>

                ممکن است هر از گاهی سیاست حفظ حریم خصوصی خود را به روز کنیم. بنابراین، تقاضا می‌کنیم برای هرگونه تغییر، این صفحه را به صورت دوره‌ای مرور کنید. ما با ارسال سیاست حفظ حریم خصوصی جدید در این صفحه، شما را از هرگونه تغییر مطلع خواهیم کرد .

                <h3>تماس با ما</h3>

                اگر در مورد سیاست حفظ حریم خصوصی سؤال یا پیشنهادی دارید ، از <a href="/home/contactus">تماس با ما</a> دریغ نکنید .


            </div>
        </div>
    </div>
</section>




@section Scripts {
    <script src="~/js/InitProject.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/landing/AboutUs.js"></script>   
    <script>
        Web.AboutUs.InitAboutUs();
    </script>
}
