<style>
    input {
        text-align: right;
    }
    .ContractShowStyle {
        border: 1px solid silver;
        margin: 10px;
        padding: 20px;
        border-radius: 10px
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
           
            <div id="ContractBox">
                <form id="frmContract">
                    <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px">
                        <input type="hidden" id="FinancialID" name="FinancialID" value="0" />
                        <input type="hidden" id="RequestID" name="RequestID" value="0" />
                        <input type="hidden" id="FinancialDocument" name="FinancialDocument" value="" />
                        <input type="hidden" id="ContractDocument" name="ContractDocument" value="" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" for="">
                                            مبلغ اولیه
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" name="PriceContract" id="PriceContract" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" for="">
                                            مبلغ نهایی
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" style="margin-top: 5px;" name="FinalPriceContract" id="FinalPriceContract" class="form-control" onkeypress="return TextBoxOnlyNumber(event);" onkeyup="TextBoxOnlyPrice(this);" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" for="">
                                            تخفیف ریالی
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" name="DisCountMoney" id="DisCountMoney" class="form-control" onkeypress="Web.RequestForRating.CalDisRiyal(this);" onkeyup="TextBoxOnlyPrice(this); $('#DicCountPerecent').val('');" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" for="">
                                            تخفیف درصدی
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" style="margin-top: 5px;" name="DicCountPerecent" id="DicCountPerecent" class="form-control" onkeypress="Web.RequestForRating.CalDisPerecent(this);" />
                                            <label class="control-label col-md-6" id="lblDicCountPerecent">
                                                
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-md-12">
                                        <button title="ثبت" class="btn btn-info fontForAllPage" style="width:120px" type="button" onclick="Web.RequestForRating.Disconut(this,true);">
                                            تایید   <i class="fa fa-save"></i>
                                        </button>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button style="margin-top: 5px; width: 120px" title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.RequestForRating.PrintContract(this)">
                                            تایید و نمایش   <i class="fa fa-print"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="ContractUp">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="">
                                            آپلود قرارداد مشتری
                                        </label>
                                        <div class="col-md-9">
                                            <input type="file" name="Result_Final_ContractDocumentCustomer" id="ContractDocumentCustomer" accept=".pdf" />
                                            <div id="divDownloadContractDocumentCustomer"></div>
                                            
                                        </div>
                                    </div>

                                </div>

                            </div>
                           
                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-md-12">
                                        <button title="ثبت" class="btn btn-info fontForAllPage" style="width:120px;margin-top: 5px;" type="button" onclick="Web.RequestForRating.UploadContractCustomer(this);">
                                            آپلود   <i class="fa fa-file"></i>
                                        </button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                        <div id="ContentCKeditor">

                        </div>
                </form>
                   
                    <div id="ContractShow"></div>
                </div>
               
            </div>
    </div>
</div>


