
<form action="" id="frmFormMain" method="post">   
    <h4> اسناد مربوط به قرارداد</h4>
    <div class="form-horizontal">
        <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px">
            <table class="table">
                <tr>
                    <th>سند</th>
                    <th>نمایش/ دانلود</th>
                </tr>
                <tr>
                    <td> قرارداد</td>
                    <td>
                        <button  title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.RequestForRating.PrintContract(this)">
                            نمایش قرارداد   <i class="fa fa-print"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>پیش فاکتور</td>
                    <td>
                        <button  title="پیش فاکتور" class='btn btn-default fontForAllPage' type="button" onclick='Web.RequestForRating.PrintPerFactoring(this)'> <i class='fa fa-print'></i> پیش  فاکتور  </button>
                    </td>
                </tr>
                <tr>
                    <td>سند پرداختی</td>
                    <td> <div id="divDownloadFinancialDocument"></div></td>
                </tr>
                <tr>
                    <td>قرارداد امضاء شده</td>
                    <td> <div id="divDownload_ContractDocument"></div></td>
                </tr>
                <tr>
                    <td>سند تسویه نهایی</td>
                    <td>
                        <div id="divDownload_LastFinancialDocument"></div>
                    </td>
                </tr>
            </table>
          
    </div>
    </div>

</form>





