
<form action="" id="frmFormMain" method="post">

    <input type="hidden" id="FinancialID" name="FinancialID" value="0" />
    <input type="hidden" id="RequestID" name="RequestID" value="0" />
    <!--<input type="hidden" id="ContentContract" name="ContentContract" value="0" />
    <input type="hidden" id="PriceContract" name="PriceContract" value="0" />
    <input type="hidden" id="Tax" name="Tax" value="0" />-->
    <h4> اسناد مربوط به قرارداد</h4>
    <div class="form-horizontal">
        <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        <div class="col-md-12">
                            <strong>سند پرداختی</strong>
                            <div id="divDownloadFinancialDocument" class="btn btn-default fontForAllPage"></div>
                            <!--<span>پسوندهای مجاز: All Images, Pdf, xls Or xlsx</span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong> قرارداد امضاء شده </strong>
                            <div id="divDownload_ContractDocument" class="btn btn-default fontForAllPage"></div>
                            <!--<span>پسوندهای مجاز: All Images, Pdf, xls Or xlsx</span>-->
                        </div>
                    </div>

                </div>
            </div>
            <div id="divCustomerFurtherInfo"></div>

        </div>
    </div>

</form>




