

<form action="" id="frmFormMain2" method="post">

    <input type="hidden" id="FinancialID" name="FinancialID" value="0" />
    <input type="hidden" id="RequestID" name="RequestID" value="0" />
    <input type="hidden" id="ContentContract" name="ContentContract" value="0" />
    <input type="hidden" id="ContentContract" name="ContentContract" value="0" />
    <input type="hidden" id="ContractDocument" name="ContractDocument" value="0" />
    <input type="hidden" id="FinancialDocument" name="FinancialDocument" value="0" />
    <input type="hidden" id="PriceContract" name="PriceContract" value="0" />
    <input type="hidden" id="Tax" name="Tax" value="0" />
    <h4> آپلود فایل اکسل ارزیابی</h4>
    <div class="form-horizontal">
        <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px">


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="file" id="EvaluationFile" name="EvaluationFile" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6 right">
                        <button title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.RequestForRating.SaveContractAndFinancialDocument(this);">
                            ثبت   <i class="fa fa-save"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div></div>

</form>

<div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px">
    <strong> دانلود اکسل نتایج ارزیابی </strong>
    <div id="divDownload_EvaluationFile" ></div>
</div>