
<div class="box box-info">
    <div class="box-header">
        <!--<i class="fa fa-cloud"></i>-->
        <h3 class="box-title">
            <div class="portlet-title">
                <div class="caption font-green-haze">
                    <!--<span class="caption-subject bold uppercase">آب و هوا</span>-->
                </div>
                <div class="tools">
                   
                    <a href="" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
        </h3>
        <!-- tools box -->
        <div class="pull-left box-tools">
            <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /. tools -->
    </div>
    <div class="box-body" style="">

        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" onclick="Web.RequestForRating.ShowCustomerInfo()" data-toggle="tab" aria-expanded="false">مشخصات مشتری</a></li>
                        <li class="" id="svisorShowContract"><a onclick="Web.RequestForRating.ShowContract()" href="#timeline_1" data-toggle="tab" aria-expanded="false">قرارداد</a></li>
                        <li class=""><a onclick="Web.RequestForRating.ShowDocument()" href="#timeline_2" data-toggle="tab" aria-expanded="false"> قرارداد و اسناد</a></li>
                        <li class=""><a onclick="Web.RequestForRating.ShowEvaluationFile()" href="#timeline_3" data-toggle="tab" aria-expanded="false"> نتایج ارزیابی</a></li>

                        <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="true">ارجاع</a></li>
                    </ul>
                    <div class="tab-content">
                        <input type="hidden" id="sdklsslks3498sjdkxhjsd_823sa" value="" />

                        <!-- /.tab-pane -->
                        <div class="tab-pane active" id="activity">
                            <div id="customerInfo"></div>


                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="timeline_1">
                            <div id="contractInfo"></div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline_2">
                            <div id="showDocument"></div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline_3">
                            <div id="showEvaluationFile"></div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane " id="timeline">

                            <div class="form-group">
                                <label for="ReferralExplanation">توضیح ارجاع</label>
                                <textarea class="form-control" id="ReferralExplanation" name="ReferralExplanation" rows="5"></textarea>
                            </div>
                            <div id="bLLSS"></div>

                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>

    </div>
</div>

