


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<section class="contact-page-section">
    <div class="container">

        <div class="inner-container">
            <div style="background-color:white;padding:20px;direction:rtl;text-align:justify;padding-top:50px;padding-bottom:50px">
                <h1>ساختار مدیریت</h1>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                نام و نا خانوادگی مدیر
                            </th>
                            <th>سمت در هئیت مدیره</th>
                            <th>عنوان </th>
                           
                        </tr>
                    </thead>

                    <tbody id="tBodyList">
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</section>




@section Scripts {
    <script src="~/js/InitProject.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/landing/ManagerOfParsKyan.js"></script>   
    <script>
        Web.ManagerOfParsKyan.InitManagerOfParsKyans();
    </script>
}
