@{
    ViewData["Title"] = "اطلاعات تکمیلی";
}

@section PageHeader{
    <section class="content-header">
        <h1>
            اطلاعات تکمیلی
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
            <li><a href="/Admin/FurtherInfo/Index"><i></i> اطلاعات تکمیلی</a></li>
        </ol>
    </section>
}
@section Styles{
    <link rel="stylesheet" href="~/css/Area/Customer/FurtherInfo.css?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion">
    <link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion">
}
<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<i class="fa fa-cloud"></i>*@
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            @*<span class="caption-subject bold uppercase">آب و هوا</span>*@
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body" style="">
                <div class="row">
                    <!-- MultiStep Form -->
                    <div class="container-fluid" id="grad1">
                        <div class="row justify-content-center mt-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-0 mt-3 mb-2">
                                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                                    <h4><strong>ثبت اطلاعات تکمیلی</strong></h4>
                                    @*<p>لطفا هر مرحله را کامل کنید و سپس وارد مرحله بعد شوید</p>*@
                                    <div class="row">
                                        <div class="col-md-12 mx-0">
                                            <form id="msform">
                                                <!-- progressbar -->
                                                <ul id="progressbar">
                                                    <li class="active" id="concil"><strong>اطلاعات هیئت مدیره</strong></li>
                                                    <li id="company"><strong>بارگزاری اسناد شرکت</strong></li>
                                                    <li id="resume"><strong>تجارب کاری</strong></li>
                                                    <li id="education"><strong>آموزش</strong></li>
                                                    <li id="document"><strong>سایر مدارک</strong></li>
                                                </ul>
                                                <!-- fieldsets -->
                                                <fieldset>
                                                    <div class="form-card">
                                                        <h2 class="fs-title">اطلاعات هیئت مدیره</h2>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        نام و نام خانوادگی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="MemberName" id="MemberName" placeholder="نام و نام خانوادگی" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        پست سازمانی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <select id="MemberPostID" name="MemberPostID" class="form-control select2" style="width:100% !important;">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        مدرک تحصیلی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <select id="MemberEductionID" name="MemberEductionID" class="form-control select2" style="width:100% !important;">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        محل تحصیل/ دانشگاه
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <select id="UniversityID" name="UniversityID" class="form-control select2" style="width:100% !important;"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        عضو هیئت مدیره
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:15px">
                                                                        <input type="checkbox" name="IsConcil" id="IsConcil" style="text-align:right;width:30px" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        درصد سهام
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="درصد سهام" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        تعداد سهام
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="تعداد سهام" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        سابقه بیمه
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="سابقه بیمه" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        سابقه مدیریتی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="سابقه مدیریتی" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        تصویر مدرک تحصیلی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="file" name="pwd" placeholder="سابقه مدیریتی" class="form-control" />

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="button" name="next" class="next action-button" value="مرحله بعد" />
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-card">
                                                        <h2 class="fs-title">بارگزاری اسناد شرکت</h2>
                                                        <p>مدارک ذیل بارگزاری شود</p>
                                                        <p style="color:darkgrey;line-height:30px">

                                                            <small> فرمت مجاز جهت بارگزاری  : pdf</small>
                                                        </p>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    
                                                                    <th>بارگزاری اسناد</th>
                                                                    <th>تصویر سند</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="CompanyDocument">
                                                            </tbody>
                                                           
                                                        </table>

                                                    </div>
                                                    <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                                                    <input type="button" name="next" class="next action-button" value="مرحله بعد" />
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-card">
                                                        <h2 class="fs-title">تجارب کاری</h2>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        نام و نام خانوادگی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <select name="FullName" id="FullNam" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="" style="font-size:small">
                                                                        سابقه بیمه هیئت مدیره
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="FullName" id="FullNam" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        روزنامه رسمی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="FullName" id="FullNam" class="form-control" placeholder="روزنامه رسمی" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        سایر سوابق
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="FullName" id="FullNam" class="form-control" placeholder="سایر سوابق" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="" style="font-size:small">
                                                                        تصویر سایر مستندات
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="file" name="23" placeholder="بارگزاری سایر مستندات سوابقی" class="form-control" />
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                                                    <input type="button" name="make_payment" class="next action-button" value="مرحله بعد" />
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-card">
                                                        <h2 class="fs-title">دوره های آموزشی هئیت مدیره</h2>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        نام و نام خانوادگی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <select name="FullName" id="FullNam" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        عنوان دوره آموزشی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="عنوان دوره آموزشی" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        مدت زمان دوره
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="مدت زمان دوره" class="form-control" />
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        محل برگزاری دوره
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="محل برگزاری دوره" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        سازمان برگزار کننده
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="text" name="pwd" placeholder="سازمان برگزار کننده" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="">
                                                                        تصویر دوره آموزشی
                                                                        <span class="RequiredLabel">*</span>
                                                                    </label>
                                                                    <div class="col-md-8" style="margin-bottom:10px">
                                                                        <input type="file" name="23" placeholder="تقدیر دوره آموزشی" class="form-control" />
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                                                    <input type="button" name="make_payment" class="next action-button" value="مرحله بعد" />
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-card">
                                                        <h2 class="fs-title">سایر مدارک</h2>
                                                        <p>مدارک ذیل بارگزاری شود</p>
                                                        <p style="color:darkgrey;line-height:30px">

                                                            <small> فرمت مجاز جهت بارگزاری  : pdf</small>
                                                        </p>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>

                                                                    <th>بارگزاری اسناد</th>
                                                                    <th>تصویر سند</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="OtherDocument">
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                                                    <input type="button" name="next" class="next action-button" value="مرحله بعد" />
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-card">
                                                        <div class="text-center">
                                                            <h2 class=" text-center">تمام شد !</h2>
                                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image" style="max-width:50px">
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-7 text-center">
                                                                <h5>اطلاعات تکمیلی شما کامل شد</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion"></script>
    <script src="~/js/Views/Customer/FurtherInfo.js?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion"></script>
    <script src="~/js/site.js?@ParsKyanCrm.Infrastructure.Consts.VaribleForName.SCVersion"></script>

    <script>
        Web.FurtherInfo.SystemSeting_Combo();
    </script>

}