

<div id="bg-img"></div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css" asp-append-version="true">

<section class="contact-page-section">
    <div class="container">
        <div class="inner-container">
            <div class="row clearfix">

                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <ul class="list-info">
                            <li><i class="fas fa-globe"></i>ارسال درخواست همکاری</li>

                        </ul>

                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">

                        <!--Contact Form-->
                        <div class="contact-form">
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">

                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Name" id="Name" value="" placeholder="نام " required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Family" id="Family" value="" placeholder="نام خانوادگی" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="NationalCode" id="NationalCode" value="" placeholder="کد ملی" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Brithday" id="Brithday" value="" placeholder="تاریخ تولد" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <select class="form-control select2" style="width:100% !important;" name="StateID" id="StateID"  onchange="Web.CareerOpportunities.GetCitys()" ></select>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <select class="form-control select2" style="width:100% !important;" name="CityID" id="CityID" ></select>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Mobile" id="Mobile" value="" placeholder="موبایل" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Tel" id="Tel" value="" placeholder="تلفن ثابت" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Postion" id="Postion" value="" placeholder="موقعیت" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="Education" id="Education" value="" placeholder="تحصیلات" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <select class="form-control select2" style="width:100% !important;" name="EducationLevel" id="EducationLevel"></select>
                                     </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="file" name="ResumeFile" id="ResumeFile" value="" placeholder="رزومه" required>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">ارسال </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Contact Form-->

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<style>

    body {
        text-align: initial !important;
    }


    #bg-img {
        background-image: url(/image/landing/contactus.jpg);
        width: 100vw;
        position: fixed;
        height: 100vh;
        margin-top: -70px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    li,
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sec-title {
        position: relative;
        padding-bottom: 40px;
    }

        .sec-title .title {
            position: relative;
            color: var(--nv-color1);
            font-size: 18px;
            font-weight: 700;
            padding-right: 50px;
            margin-bottom: 15px;
            display: inline-block;
            text-transform: capitalize;
        }

            .sec-title .title:before {
                position: absolute;
                content: "";
                right: 0;
                bottom: 7px;
                width: 40px;
                height: 1px;
                background-color: #bbb;
            }

        .sec-title h2 {
            position: relative;
            color: #252525;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.5em;
            display: block;
        }

        .sec-title.light h2 {
            color: #fff;
        }

    .contact-page-section {
        position: relative;
        padding-top: 110px;
        padding-bottom: 110px;
    }

        .contact-page-section .inner-container {
            position: relative;
            z-index: 1;
            background-color: var(--nv-color1);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
        }

        .contact-page-section .form-column {
            position: relative;
            padding: 0 0 0 15px;
        }

            .contact-page-section .form-column .inner-column {
                position: relative;
                padding: 60px 45px 30px;
                background-color: #fff;
            }

        .contact-page-section .info-column {
            position: relative;
        }

            .contact-page-section .info-column .inner-column {
                position: relative;
                padding: 35px;
            }

            .contact-page-section .info-column h2 {
                position: relative;
                color: #fff;
                font-size: 30px;
                font-weight: 700;
                line-height: 1.4em;
                margin-bottom: 45px;
            }

            .contact-page-section .info-column .list-info {
                position: relative;
                margin-bottom: 60px;
            }

                .contact-page-section .info-column .list-info li {
                    position: relative;
                    margin-bottom: 25px;
                    font-size: 18px;
                    color: #fff;
                    line-height: 1.8em;
                    padding-right: 45px;
                    direction: ltr;
                    text-align: right;
                }

                    .contact-page-section .info-column .list-info li:last-child {
                        margin-bottom: 0;
                    }

                    .contact-page-section .info-column .list-info li i {
                        position: absolute;
                        right: 0;
                        top: 8px;
                        color: #fff;
                        font-size: 30px;
                    }

    .contact-form {
        position: relative;
    }

        .contact-form .form-group {
            position: relative;
            margin-bottom: 20px;
        }

        .contact-form input[type="text"],
        .contact-form input[type="email"],
        .contact-form textarea {
            position: relative;
            display: block;
            width: 100%;
            height: 60px;
            color: #222;
            font-size: 14px;
            line-height: 38px;
            padding: 10px 30px;
            border: 1px solid #ddd;
            background-color: #fff;
            transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }

            .contact-form input[type="text"]:focus,
            .contact-form input[type="email"]:focus,
            .contact-form textarea:focus {
                border-color: var(--nv-color1);
            }

        .contact-form textarea {
            height: 250px;
            resize: none;
        }

        .contact-form .theme-btn {
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
            text-transform: capitalize;
            padding: 16px 39px;
            border: 2px solid var(--nv-color1);
            background: var(--nv-color1);
            display: inline-block;
            position: relative;
            line-height: 24px;
            cursor: pointer;
            color: #fff;
        }

            .contact-form .theme-btn:hover {
                color: var(--nv-color1);
                border-color: var(--nv-color1);
                background: 0 0;
            }

        .contact-form input.error,
        .contact-form select.error,
        .contact-form textarea.error {
            border-color: red !important;
        }

        .contact-form label.error {
            display: block;
            line-height: 24px;
            padding: 5px 0 0;
            margin: 0;
            text-transform: uppercase;
            font-size: 12px;
            color: red;
            font-weight: 500;
        }

    .social-icon-four {
        position: relative;
        text-align: right;
    }

        .social-icon-four li {
            position: relative;
            margin-right: 18px;
            display: inline-block;
        }

            .social-icon-four li.follow {
                color: #fff;
                font-weight: 600;
                font-size: 24px;
                display: block;
                margin-bottom: 20px;
            }

            .social-icon-four li a {
                position: relative;
                font-size: 20px;
                color: #fff;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

                .social-icon-four li a:hover {
                    color: #222;
                }
</style>

@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/js/InitProject.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/landing/CareerOpportunities.js"></script>
    <script src="~/js/landing/City.js"></script>
    <script>
        Web.CareerOpportunities.IntCareerOpportunitiesPage();
    </script>
}
