

<div class="row">
    <div class="col-md-12">
        <label for="ContractText">متن قرارداد</label>
       
        <br />
        <div class="form-group">
            <input type="hidden" id="RequestId" name="RequestId" />
            <button id="btnPrint" class="btn btn-default fontForAllPage" onclick="Web.RequestForRating.PrintContract(this)"> <i class="fa fa-print"></i> تایید قرارداد و چاپ </button>
        </div>
       
        <div id="ContractShow" style="border:1px solid silver;margin:10px;padding:20px;border-radius:10px;">

        </div>

    </div>
</div>

