
<form action="" id="frmFormMain" method="post">
    <input type="hidden" id="FinancialID" name="FinancialID" value="0" />
    <input type="hidden" id="RequestID" name="RequestID" value="0" />
    <input type="hidden" id="EditStatuse" name="EditStatuse" value="0" />
    <input type="hidden" id="EvaluationFile" name="EvaluationFile" />
    <div class="form-horizontal">
        <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px;">
            <div id="LoadContractCustomer">

                <div id="upcontract" style="background-color:oldlace;border:1px solid red;margin:10px;padding:10px;border-radius:5px">
                    <p>لطفا تمام صفحات مهر و امضا در سربرگ شرکت انجام شود و اصل قرارداد با مهر و امضای همه صفحات به شرکت پارس کیان ارسال گردد</p>
                </div>
                <table class="table" id="FirstDoc">
                    <tr>
                        <th>
                            آپلود مدرک
                            <br /> <span>پسوندهای مجاز: All Images, Pdfو , حداکثر 5 مگابایت</span>

                        </th>
                        <th> مدرک آپلود شده</th>
                    </tr>
                    <tr>

                        <td>
                            آپلود سند پرداخت<span class="RequiredLabel">*</span> <input type="file" name="Result_Final_FinancialDocument" id="FinancialDocument" onchange="checkUploadWithFileSiza(this,'سند پرداخت',10);" accept="image/*,.pdf" />
                        </td>
                        <td>
                            <div id="divDownloadFinancialDocument"></div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            آپلود سند پرداخت2 <input type="file" name="Result_Final_FinancialDocument2" id="FinancialDocument2" onchange="checkUploadWithFileSiza(this,'سند پرداخت',10);" accept="image/*,.pdf" />
                        </td>
                        <td>
                            <div id="divDownloadFinancialDocument2"></div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            آپلود قرارداد امضاء شده <span class="RequiredLabel">*</span>
                            <input type="file" name="Result_Final_ContractDocument" id="ContractDocument" accept="image/*,.pdf" onchange="checkUploadWithFileSiza(this,'قرارداد',10);" />
                        </td>
                        <td>  <div id="divDownload_ContractDocument"></div></td>
                    </tr>

                </table>

                <div class="row" id="UpLastFinancialDocument">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="">
                                آپلود سند تسویه
                                <span class="RequiredLabel">*</span>
                            </label>
                            <div class="col-md-8">


                                <input type="file" name="Result_Final_LastFinancialDocument" id="LastFinancialDocument" accept="image/*,.pdf" onchange="checkUploadWithFileSiza(this,' سند تسویه',10);" />

                                <div id="divDownloadLastFinancialDocument"></div>
                                <!--<span>پسوندهای مجاز: All Images, Pdf, xls Or xlsx</span>-->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.RequestForRating.SaveContractAndFinancialDocument(this);">
                            ثبت و ارسال به پارس کیان   <i class="fa fa-save"></i>
                        </button>

                    </div>
                </div>
            </div>

            <div id="ContractCusmerMsg">
                <p> ابتدا قرارداد را تایید بفرمایید تا امکان بارگذاری قرارداد برای شما ایجاد شود.</p>
            </div>

        </div>
    </div>

</form>




