
<form action="" id="frmFormMain" method="post">
    <input type="hidden" id="FinancialID" name="FinancialID" value="0" />
    <input type="hidden" id="RequestID" name="RequestID" value="0" />
    <input type="hidden" id="ContentContract" name="ContentContract" value="0" />
    <input type="hidden" id="PriceContract" name="PriceContract" value="0" />
    <input type="hidden" id="EvaluationFile" name="EvaluationFile" value="0" />
    <input type="hidden" id="DisCountMoney" name="DisCountMoney" value="0" />
    <input type="hidden" id="DicCountPerecent" name="DicCountPerecent" value="0" />
    <input type="hidden" id="ContractCode" name="ContractCode" value="0" />
    <input type="hidden" id="FinalPriceContract" name="FinalPriceContract" value="0" />
    <input type="hidden" id="ContractDocumentCustomer" name="ContractDocumentCustomer" value="0" />
    <input type="hidden" id="ContractMainCode" name="ContractMainCode" value="0" />
    <input type="hidden" id="CommitteeEvaluationFile" name="CommitteeEvaluationFile" value="0" />
    <input type="hidden" id="Tax" name="Tax" value="0" />
    <div class="form-horizontal">
        <div style=" border: 2px solid #00c0ef; padding: 30px; border-radius: 5px; text-align: center; margin-bottom: 20px;">
            <div id="LoadContractCustomer">

                <div id="upcontract" style="background-color:oldlace;border:1px solid red;margin:10px;padding:10px;border-radius:5px">
                    <p>کاربر گرامی،قبل از بارگذاری قرارداد، می بایست، قسمت هایی که نیاز به امضا دارد، را امضا کرده و سپس آنها را بارگذاری کنید.</p>
                </div>
                <table class="table" id="FirstDoc">
                    <tr>
                        <th> آپلود مدرک</th>
                        <th> مدرک آپلود شده</th>
                    </tr>
                    <tr>
                        
                        <td>
                            آپلود سند پرداخت<span class="RequiredLabel">*</span> <input type="file" name="Result_Final_FinancialDocument" id="FinancialDocument" accept="image/*,.pdf,.xlsx," />
                        </td>
                        <td><div id="divDownloadFinancialDocument"></div>
                           </td>
                    </tr>
                    <tr>
                       
                        <td>
                            آپلود قرارداد امضاء شده <span class="RequiredLabel">*</span>
                            <input type="file" name="Result_Final_ContractDocument" id="ContractDocument" accept="image/*,.pdf,.xlsx," />
                        </td>
                        <td>  <div id="divDownload_ContractDocument"></div></td>
                    </tr>
                   
                </table>
        
                <div class="row" id="UpLastFinancialDocument">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="">
                                <input type="hidden" name="ContractDocument" id="ContractDocument" />
                                <input type="hidden" name="FinancialDocument" id="FinancialDocument" />
                                آپلود سند تسویه
                                <span class="RequiredLabel">*</span>
                            </label>
                            <div class="col-md-8">
                                
                                    
                                    <input type="file" name="Result_Final_LastFinancialDocument" id="LastFinancialDocument" accept="image/*,.pdf,.xlsx," />
                                
                                <div id="divDownloadLastFinancialDocument"></div>
                                <!--<span>پسوندهای مجاز: All Images, Pdf, xls Or xlsx</span>-->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button title="ثبت" class="btn btn-info fontForAllPage" type="button" onclick="Web.RequestForRating.SaveContractAndFinancialDocument(this);">
                            ثبت و ارسال به پارس کیان   <i class="fa fa-save"></i>
                        </button>
                        
                    </div>
                </div>
            </div>

            <div id="ContractCusmerMsg">
                <p> ابتدا قرارداد را تایید بفرمایید تا امکان بارگذاری قرارداد برای شما ایجاد شود.</p>
            </div>

        </div>
    </div>

</form>




