
@{
    ViewData["Title"] = "داشبورد";
}

<h1>داشبورد</h1>
<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-bar-chart"></i>
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <span class="caption-subject bold uppercase">گزارش های آماری</span>
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <!-- Small boxes (Stat box) -->
                        <div class="row">
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style=" background-color: #FF5733 !important;">
                                    <div class="inner">
                                        <h3 id="StoreBoss1" style="font-size: 24px;">0 عدد</h3>
                                        <p>تعداد مشتریان</p>
                                    </div>

                                    <a href="@Url.Action("IndexByCatStores","Stores",new { id=1008})" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style=" background-color: #9016e0 !important;">
                                    <div class="inner">
                                        <h3 id="StoreBoss1" style="font-size: 24px;">0 عدد</h3>
                                        <p>تعداد  درخواست های جدید من</p>
                                    </div>

                                    <a href="@Url.Action("IndexByCatStores","Stores",new { id=1008})" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style=" background-color: #3a84af !important;">
                                    <div class="inner">
                                        <h3 id="TotalNumberApplicationsAssessmentMinistryPrivacy" style="font-size: 24px;">...</h3>
                                        <p>تعداد کل درخواست ارزیابی وزارت صمت</p>
                                    </div>

                                    <a href="/SuperVisor/Report/TotalNumberApplicationsAssessmentMinistryPrivacy" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style="background-color: #3eb40f !important; ">
                                    <div class="inner">
                                        <h3 id="StoreBoss2" style="font-size: 24px;">0 عدد</h3>
                                        <p>تعداد  درخواست های  اقدام شده</p>
                                    </div>

                                    <a href="@Url.Action("IndexByCatStores","Stores",new { id=1015})" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style=" background-color: #3a84af !important;">
                                    <div class="inner">
                                        <h3 id="StoreBoss3" style="font-size: 24px;">0 عدد</h3>
                                        <p>تعداد درخواست های معوقه</p>
                                    </div>

                                    <a href="@Url.Action("IndexByCatStores","Stores",new { id=1020})" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style=" background-color: #3a84af !important;">
                                    <div class="inner">
                                        @*<h3 id="CustomerCount" style="font-size: 24px;">...</h3>*@
                                        <p>آخرین وضعیت درخواستها </p>
                                    </div>

                                    <a href="/SuperVisor/RequestForRating/IndexA" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
