@{
    ViewData["Title"] = "داشبورد";
}

<h1>داشبورد</h1>
<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-bar-chart"></i>
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <span class="caption-subject bold uppercase">گزارش های آماری</span>
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <!-- Small boxes (Stat box) -->
                        <div class="row">
                            <div id="ShowBoxSamt">
                                <div class="col-lg-3 col-xs-6 ShowBox">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua" style=" background-color: #9016e0 !important;">
                                        <div class="inner">
                                            <h3 id="TotalNumberCustomersApprovedContract" style="font-size: 24px;">...</h3>
                                            <p>تعداد کل قرارداد های تایید شده است</p>
                                        </div>
                                        <a href="/SuperVisor/Report/TotalNumberCustomersApprovedContract" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-6 ShowBox">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua" style=" background-color: #3eb40f !important;">
                                        <div class="inner">
                                            <h3 id="TotalNumberCustomersWithoutRegistration" style="font-size: 24px;">...</h3>
                                            <p>تعداد کل مشتریان بدون ثبت درخواست</p>
                                        </div>

                                        <a href="/SuperVisor/Report/TotalNumberCustomersWithoutRegistration" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-6 ShowBox">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua" style=" background-color: #3a84af !important;">
                                        <div class="inner">
                                            <h3 id="TotalNumberApplicationsAssessmentMinistryPrivacy" style="font-size: 24px;">...</h3>
                                            <p>تعداد کل درخواست ارزیابی وزارت صمت</p>
                                        </div>

                                        <a href="/SuperVisor/Report/TotalNumberApplicationsAssessmentMinistryPrivacy" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-xs-6 ShowBox">
                                    <!-- small box -->
                                    <div class="small-box bg-red" style=" background-color: #2b9bff !important;">
                                        <div class="inner">
                                            <h3 id="NumberCodedFiles" style="font-size: 20px;">...</h3>

                                            <p>تعداد پرونده های کدال شده</p>
                                        </div>

                                        <a href="/SuperVisor/Report/NumberCodedFiles" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-xs-6 ShowBox">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua" style=" background-color: #3a84af !important;">
                                        <div class="inner">
                                            @*<h3 id="CustomerCount" style="font-size: 24px;">...</h3>*@
                                            <p>آخرین وضعیت درخواستها </p>
                                        </div>

                                        <a href="/SuperVisor/RequestForRating/IndexA" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6" id="ShowBoxCorporate">
                                <!-- small box -->
                                <div class="small-box bg-red" style=" background-color: #2b9bff !important;">
                                    <div class="inner">
                                        <h3 id="NumberCorporateCustomer" style="font-size: 20px;">...</h3>
                                        <p>تعداد پرونده های حاکمیت شرکتی</p>
                                    </div>

                                    <a href="/SuperVisor/Report/TotalNumberCorporateRequest" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
<script>

    Web.Report.IndexBoxSupervisor();

</script>
}
