
@{
    ViewData["Title"] = "داشبورد";
}


<link href="~/css/GlobalAreas/Views/Customer/Index.css" type="text/css" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">



<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet">


<div class="row1-container">
    <div class="box cyan">
        <h4> درخواست در جریان <span id="RequestCount">(0)</span></h4>
        <p><a href="~/Customer/RequestForRating/Index">مشاهده درخواست ها</a></p> 
        <img src="/image/Customer/icon-supervisor.svg" alt="درخواست های در حال بررسی" title="درخواست های در حال بررسی">
    </div>
    <div class="box orange">
        <h4>درخواست انجام شده  <span id="RequestIsFinishedCount">(0)</span></h4>
        <p><a href="~/Customer/RequestForRating/Index">مشاهده ارزیابی ها</a></p>       
        <img src="/image/Customer/icon-karma.svg" alt="آخرین ارزیابی ها" title="آخرین ارزیابی ها">
    </div>
    <div class="box  blue">
        <h4>تیکت ها <span id="TicketCount">(0)</span></h4>
        <p>تیکت ها و پشتیبانی های شما</p>
        <img src="/image/Customer/icon-calculator.svg" alt="تیکت ها" title="تیکت ها">        
    </div>
    <div class="box red">
        <h4>اخبار پارس کیان</h4>
        <p><a href="~/article/newslist/"> مشاهده اخبار</a></p>       
        <img src="/image/Customer/icon-team-builder.svg" alt="اخبار" title="اخبار">

    </div>
</div>
<div class="row2-container">

</div>


@section Scripts {
    <script>
        Web.RequestForRating.DashboardInformation();
    </script>
}


