USE [master]
GO
/****** Object:  Database [ParsKian_DB]    Script Date: 10/15/2022 11:17:51 AM ******/
CREATE DATABASE [ParsKian_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParsKian_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ParsKian_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParsKian_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ParsKian_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParsKian_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParsKian_DB]
GO
USE [ParsKian_DB]
GO
/****** Object:  Table [dbo].[BalanceSheet]    Script Date: 10/15/2022 11:17:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BalanceSheet](
	[Compony_Id] [int] NOT NULL,
	[MonthCovered] [int] NOT NULL,
	[PeriodEndToDate] [varchar](10) NOT NULL,
	[StatementDate] [varchar](10) NOT NULL,
	[Cash] [bigint] NULL,
	[ShortTermInvestments] [bigint] NULL,
	[TradeReceivables] [bigint] NULL,
	[OtherReceivables] [bigint] NULL,
	[NonTradeReceivables] [bigint] NULL,
	[Inventories] [bigint] NULL,
	[Prepayments] [bigint] NULL,
	[AssetsForSale] [bigint] NULL,
	[TotalCurrentAssets] [bigint] NULL,
	[TangibleFixedAssets] [bigint] NULL,
	[IntangibleAssets] [bigint] NULL,
	[LongTermNoteAndAccountsReceivable] [bigint] NULL,
	[LongTermInvestments] [bigint] NULL,
	[InvestmentProperty] [bigint] NULL,
	[capitalPrepayment] [bigint] NULL,
	[OtherAssets] [bigint] NULL,
	[TotalNoncurrentAssets] [bigint] NULL,
	[TotalAssets] [bigint] NULL,
	[TradePayables] [bigint] NULL,
	[NonTradePayables] [bigint] NULL,
	[DebtToAffiliatedCompanies] [bigint] NULL,
	[DeferredRevenue] [bigint] NULL,
	[CurrentPortionOfLoanPayable] [bigint] NULL,
	[IncomeTaxPayable] [bigint] NULL,
	[OtherProvisions] [bigint] NULL,
	[DividendsPayable] [bigint] NULL,
	[LiabilitiesRelatedToAssetsForSale] [bigint] NULL,
	[TotalCurrentLiabilities] [bigint] NULL,
	[LongTermNotesAndAccountsPayable] [bigint] NULL,
	[LongTermLoans] [bigint] NULL,
	[LongTermSukuk] [bigint] NULL,
	[EmployesTerminationBenefit] [bigint] NULL,
	[LongTermAdvancedReceived] [bigint] NULL,
	[TotalCurrentNonLiabilities] [bigint] NULL,
	[TotalLiabilities] [bigint] NULL,
	[CommonStock] [bigint] NULL,
	[CapitalSurplus] [bigint] NULL,
	[RevaluationSurplus] [bigint] NULL,
	[SHarePremium] [bigint] NULL,
	[LegalReserve] [bigint] NULL,
	[OtherReserves] [bigint] NULL,
	[ForeignExchange] [bigint] NULL,
	[RetainedEarnings] [bigint] NULL,
	[TreasuryShares] [bigint] NULL,
	[StockholdersEquity] [bigint] NULL,
 CONSTRAINT [PK__BalanceS__03C437150D745CD3] PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC,
	[PeriodEndToDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[balancesheet$]    Script Date: 10/15/2022 11:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[balancesheet$](
	[Company's Name] [nvarchar](255) NULL,
	[Company's Ticker Symbol] [nvarchar](255) NULL,
	[Industry Classification] [nvarchar](255) NULL,
	[Month Covered] [float] NULL,
	[Period end to date] [nvarchar](255) NULL,
	[Statement Date] [nvarchar](255) NULL,
	[Cash] [float] NULL,
	[Short Term Investments] [float] NULL,
	[Trade Receivables] [float] NULL,
	[other Receivables] [float] NULL,
	[Non-trade Receivables] [float] NULL,
	[Inventories] [float] NULL,
	[Prepayments] [float] NULL,
	[Assets for Sale] [float] NULL,
	[total current assets] [float] NULL,
	[Tangible Fixed Assets] [float] NULL,
	[Intangible Assets] [float] NULL,
	[Long Term Notes and Accounts Receivable] [float] NULL,
	[Long Term Investments] [float] NULL,
	[Investment Property] [float] NULL,
	[capital prepayment(Expenditure before exploitation)] [float] NULL,
	[Other Assets] [float] NULL,
	[total noncurrent assets] [float] NULL,
	[total assets] [float] NULL,
	[Trade Payables] [float] NULL,
	[Non-trade Payables] [float] NULL,
	[Debt to Affiliated Companies] [float] NULL,
	[Deferred Revenue] [float] NULL,
	[Current Portion of Loan Payable] [float] NULL,
	[Income Tax Payable] [float] NULL,
	[other Provisions] [float] NULL,
	[Dividends Payable] [float] NULL,
	[Liabilities Related to Assets for Sale] [float] NULL,
	[Total Current Liabilities] [float] NULL,
	[Long Term Notes and Accounts Payable] [float] NULL,
	[Long Term Loans(Banks)] [float] NULL,
	[Long Term Sukuk] [float] NULL,
	[Employes Termination Benefit] [float] NULL,
	[Long term Advanced Received (Non-current)] [float] NULL,
	[Total Current Liabilities1] [float] NULL,
	[Total Liabilities] [float] NULL,
	[Common Stock] [float] NULL,
	[Capital Surplus] [float] NULL,
	[Revaluation Surplus] [float] NULL,
	[share premium] [float] NULL,
	[Legal Reserve] [float] NULL,
	[Other Reserves] [float] NULL,
	[Foreign exchange] [float] NULL,
	[Retained Earnings] [float] NULL,
	[Treasury Shares] [float] NULL,
	[Stockholders' Equity] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cash]    Script Date: 10/15/2022 11:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cash](
	[Compony_Id] [int] NOT NULL,
	[MonthCovered] [int] NULL,
	[PeriodEndToDate] [varchar](10) NOT NULL,
	[StatementDate] [varchar](10) NULL,
	[NetOperatingActivitiesOrdinary] [bigint] NULL,
	[NetOperatingActivitiesExceptional] [bigint] NULL,
	[NetCashFlowFromOperatingActivities] [bigint] NULL,
	[DividendsReceived] [bigint] NULL,
	[InterestPaidForBorrowing] [bigint] NULL,
	[DividendsReceivedFromOtherInvestment] [bigint] NULL,
	[DividendsPaid] [bigint] NULL,
	[NetCashFlowFromInvestmentReturnsAndFinancingCosts] [bigint] NULL,
	[IncomeTaxPayments] [bigint] NULL,
	[ProceedsFromSaleOfTangibleAssets] [bigint] NULL,
	[PurchaseOfTangibleAssets] [bigint] NULL,
	[ProceedsFromSaleOfIntangibleAssets] [bigint] NULL,
	[PurchaseOfIntangibleAssets] [bigint] NULL,
	[ProceedsFromSaleOfNoncurrentInvestments] [bigint] NULL,
	[loansPaidToOthers] [bigint] NULL,
	[RefundOfLoansPaid] [bigint] NULL,
	[PaymentsForNoncurrentInvestments] [bigint] NULL,
	[ProceedsFromSaleOfCurrentInvestments] [bigint] NULL,
	[PaymentsForCurrentInvestments] [bigint] NULL,
	[PurchaseOfShareOfAffiliatedAndSubsidiariesCompanies] [bigint] NULL,
	[ProceedsFromSalesOfPropertyInvestment] [bigint] NULL,
	[PaymentsForPurchaseOfPropertyInvestment] [bigint] NULL,
	[ExplorationAndMiningCosts] [bigint] NULL,
	[NetCashFlowfromInvestingActivities] [bigint] NULL,
	[NetCashFlowBeforeFinancingActivities] [bigint] NULL,
	[ProceedsFromIssuingShares] [bigint] NULL,
	[ProceedsFromSaleOrIssueOfTreasuryShares] [bigint] NULL,
	[PaymentsForPurchaseOfTreasuryShares] [bigint] NULL,
	[ProceedsFromBorrowings] [bigint] NULL,
	[RepaymentsOfPrincipalOfBorrowings] [bigint] NULL,
	[NetCashFlowFromFinancingActivities] [bigint] NULL,
	[NetIncreaseInCash] [bigint] NULL,
	[CashAtBeginningOfPeriod] [bigint] NULL,
	[ExchangeRateChangesOnCash] [bigint] NULL,
	[CashAtEndOfPeriod] [bigint] NULL,
	[NonCashTransactions] [bigint] NULL,
 CONSTRAINT [PK_Cash] PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC,
	[PeriodEndToDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CashFlow$]    Script Date: 10/15/2022 11:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashFlow$](
	[Company's Name] [nvarchar](255) NULL,
	[Company's Ticker Symbol] [nvarchar](255) NULL,
	[Industry Classification] [nvarchar](255) NULL,
	[Month Covered] [float] NULL,
	[Period end to date] [nvarchar](255) NULL,
	[Statement Date] [nvarchar](255) NULL,
	[Operating Activities] [nvarchar](255) NULL,
	[Net Operating Activities Ordinary] [float] NULL,
	[Net Operating Activities Exceptional] [nvarchar](255) NULL,
	[Net Cash Flow From Operating Activities] [float] NULL,
	[Investment Returns and Financing Costs] [nvarchar](255) NULL,
	[Dividends Received] [float] NULL,
	[Interest Paid for Borrowing] [float] NULL,
	[Dividends Received from Other Investment] [float] NULL,
	[Dividends Paid] [float] NULL,
	[Net Cash Flow from Investment Returns and Financing Costs] [float] NULL,
	[Income Tax] [nvarchar](255) NULL,
	[Income Tax Payments] [float] NULL,
	[Investing Activities] [nvarchar](255) NULL,
	[Proceeds from Sale Of tangible Assets] [float] NULL,
	[Purchase of tangible Assets] [float] NULL,
	[Proceeds from Sale of Intangible Assets] [float] NULL,
	[Purchase of Intangible Assets] [float] NULL,
	[Proceeds From Sale of Non-current Investments] [float] NULL,
	[loans paid to others] [float] NULL,
	[refund of loans paid] [float] NULL,
	[Payments for Non-current Investments] [float] NULL,
	[Proceeds from Sale of Current Investments] [float] NULL,
	[Payments for Current Investments] [float] NULL,
	[Purchase of share of Affiliated and Subsidiaries companies] [float] NULL,
	[Proceeds from Sales of  Property Investment] [nvarchar](255) NULL,
	[Payments for Purchase of  Property Investment] [nvarchar](255) NULL,
	[Exploration and mining costs] [float] NULL,
	[Net Cash Flow from Investing Activities] [float] NULL,
	[Net Cash Flow Before Financing Activities] [float] NULL,
	[Financing Activities] [nvarchar](255) NULL,
	[Proceeds from Issuing Shares] [float] NULL,
	[Proceeds from Sale or Issue of Treasury Shares] [nvarchar](255) NULL,
	[Payments for Purchase of Treasury Shares] [float] NULL,
	[Proceeds from Borrowings] [float] NULL,
	[Repayments of principal of Borrowings] [float] NULL,
	[Net Cash Flow from Financing Activities] [float] NULL,
	[Net Increase In Cash] [float] NULL,
	[Cash at Beginning of Period] [float] NULL,
	[Exchange Rate Changes on Cash] [float] NULL,
	[Cash at End of Period] [float] NULL,
	[Non Cash Transactions] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CashFlow$$]    Script Date: 10/15/2022 11:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashFlow$$](
	[F1] [nvarchar](255) NULL,
	[Company's Name] [nvarchar](255) NULL,
	[Company's Ticker Symbol] [nvarchar](255) NULL,
	[Industry Classification] [nvarchar](255) NULL,
	[Month Covered] [float] NULL,
	[Period end to date] [nvarchar](255) NULL,
	[Statement Date] [nvarchar](255) NULL,
	[Operating Activities] [nvarchar](255) NULL,
	[Net Operating Activities Ordinary] [float] NULL,
	[Net Operating Activities Exceptional] [float] NULL,
	[Net Cash Flow From Operating Activities] [float] NULL,
	[Investment Returns and Financing Costs] [nvarchar](255) NULL,
	[Dividends Received] [float] NULL,
	[Interest Paid for Borrowing] [float] NULL,
	[Dividends Received from Other Investment] [float] NULL,
	[Dividends Paid] [float] NULL,
	[Net Cash Flow from Investment Returns and Financing Costs] [float] NULL,
	[Income Tax] [nvarchar](255) NULL,
	[Income Tax Payments] [float] NULL,
	[Investing Activities] [nvarchar](255) NULL,
	[Proceeds from Sale Of tangible Assets] [float] NULL,
	[Purchase of tangible Assets] [float] NULL,
	[Proceeds from Sale of Intangible Assets] [float] NULL,
	[Purchase of Intangible Assets] [float] NULL,
	[Proceeds From Sale of Non-current Investments] [float] NULL,
	[loans paid to others] [float] NULL,
	[refund of loans paid] [float] NULL,
	[Payments for Non-current Investments] [float] NULL,
	[Proceeds from Sale of Current Investments] [float] NULL,
	[Payments for Current Investments] [float] NULL,
	[Purchase of share of Affiliated and Subsidiaries companies] [float] NULL,
	[Proceeds from Sales of  Property Investment] [float] NULL,
	[Payments for Purchase of  Property Investment] [float] NULL,
	[Exploration and mining costs] [float] NULL,
	[Net Cash Flow from Investing Activities] [float] NULL,
	[Net Cash Flow Before Financing Activities] [float] NULL,
	[Financing Activities] [nvarchar](255) NULL,
	[Proceeds from Issuing Shares] [float] NULL,
	[Proceeds from Sale or Issue of Treasury Shares] [float] NULL,
	[Payments for Purchase of Treasury Shares] [float] NULL,
	[Proceeds from Borrowings] [float] NULL,
	[Repayments of principal of Borrowings] [float] NULL,
	[Net Cash Flow from Financing Activities] [float] NULL,
	[Net Increase In Cash] [float] NULL,
	[Cash at Beginning of Period] [float] NULL,
	[Exchange Rate Changes on Cash] [float] NULL,
	[Cash at End of Period] [float] NULL,
	[Non Cash Transactions] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Compony]    Script Date: 10/15/2022 11:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony](
	[Industry_Id] [int] NOT NULL,
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Compony_Name] [varchar](100) NULL,
	[Established_year] [varchar](10) NULL,
	[Symbol] [varchar](10) NULL,
	[industryIndusry_Code] [varchar](10) NULL,
	[ComponyCompony_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Act]    Script Date: 10/15/2022 11:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Act](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Act_Comment] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Committee]    Script Date: 10/15/2022 11:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Committee](
	[Compony_Id] [int] NOT NULL,
	[Year] [int] NULL,
	[Committee_Type] [int] NULL,
	[Member_Name] [varchar](100) NULL,
	[Post] [varchar](100) NULL,
	[Nature] [int] NULL,
	[Member_Type] [int] NULL,
	[Member_Financial] [int] NULL,
	[Major] [varchar](100) NULL,
	[Member_Date] [varchar](10) NULL,
	[Member_Info] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Plan]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Plan](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Prj_Name] [varchar](150) NULL,
	[Prj_Descrioption] [varchar](1000) NULL,
	[AmountOfCurrency] [bigint] NULL,
	[AmountOfRials] [bigint] NULL,
	[RemainOfCurrency] [bigint] NULL,
	[RemainOfRials] [bigint] NULL,
	[ProjectProgress] [real] NULL,
	[DateOfOperation] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Swat]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Swat](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Strengths] [varchar](1000) NULL,
	[Week] [varchar](1000) NULL,
	[Opportunity] [varchar](1000) NULL,
	[Threat] [varchar](1000) NULL,
	[Year] [int] NULL,
	[ComponyCompony_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComponyDirectionMember]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComponyDirectionMember](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Pers_Name] [varchar](100) NULL,
	[Post] [varchar](100) NULL,
	[Member_Type] [int] NULL,
	[Pers_Agency] [varchar](100) NULL,
	[Nature] [int] NULL,
	[Education] [varchar](100) NULL,
	[Resume] [varchar](255) NULL,
	[Member_Date] [varchar](10) NULL,
	[Appointment_date] [varchar](10) NULL,
	[Job] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComponyManagerInfo]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComponyManagerInfo](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Manager_Name] [varchar](100) NULL,
	[Manager_Post] [varchar](100) NULL,
	[Manager_Info] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComponyPersNum]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponyPersNum](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Pers_Num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComponyShareholder]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComponyShareholder](
	[Compony_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shareholder_Name] [varchar](100) NULL,
	[Perc_Ownership] [real] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Income]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Income](
	[Compony_Id] [int] NOT NULL,
	[MonthCovered] [int] NOT NULL,
	[PeriodEndToDate] [varchar](10) NOT NULL,
	[StatementDate] [varchar](10) NULL,
	[Sales] [bigint] NULL,
	[CostOfSales] [bigint] NULL,
	[GrossProfitOrLoss] [bigint] NULL,
	[SalesGeneralAndAdministrativeExpense] [bigint] NULL,
	[OtherOperatingRevenue] [bigint] NULL,
	[OtherOperatingExpenses] [bigint] NULL,
	[OperatingProfitOrLoss] [bigint] NULL,
	[InterestExpense] [bigint] NULL,
	[OtherNonOperatingIncomeAndExpensesInvestmentsIncome] [bigint] NULL,
	[OtherNonOperatingIncomeAndExpensesMiscellaneousItems] [bigint] NULL,
	[NetIncomeFromContinuingOperationsBeforeTax] [bigint] NULL,
	[IncomeTaxExpenseContinuingOperations] [bigint] NULL,
	[ProfitFromDiscontinuedOperationsAfterTaxes] [bigint] NULL,
	[Capital] [bigint] NULL,
	[NetIncomeOrLoss] [bigint] NULL,
	[ProfitOrLossFromContinuingOperations] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC,
	[PeriodEndToDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Income$]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income$](
	[Company's Name] [nvarchar](255) NULL,
	[Company's Ticker Symbol] [nvarchar](255) NULL,
	[Industry Classification] [nvarchar](255) NULL,
	[Month Covered] [float] NULL,
	[Period end to date] [nvarchar](255) NULL,
	[Statement Date] [nvarchar](255) NULL,
	[Net Income (Loss)] [float] NULL,
	[Sales] [float] NULL,
	[Cost of sales] [float] NULL,
	[Gross Profit (Loss)] [float] NULL,
	[Sales, General and Administrative Expense] [float] NULL,
	[Other Operating Revenue] [float] NULL,
	[Other Operating Expenses] [float] NULL,
	[Operating Profit (Loss)] [float] NULL,
	[interest Expense] [float] NULL,
	[Other non-operating income and expenses - investments  income] [float] NULL,
	[Other non-operating income and expenses - miscellaneous items] [float] NULL,
	[Net Income from Continuing Operations before Tax] [float] NULL,
	[Income tax expense continuing operations] [float] NULL,
	[Profit (loss) from continuing operations] [float] NULL,
	[Profit (loss) from discontinued operations after taxes] [float] NULL,
	[Net Income (Loss)1] [float] NULL,
	[Capital] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[industry]    Script Date: 10/15/2022 11:17:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[industry](
	[Industry_Id] [int] IDENTITY(1,1) NOT NULL,
	[Indusry_Code] [varchar](10) NULL,
	[Industry_Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Industry_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Indusry_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [Compony_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Compony_Compony_Id] ON [dbo].[Compony]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Compony_Industry_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [Compony_Industry_Id] ON [dbo].[Compony]
(
	[Industry_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Compony_Act_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [Compony_Act_Compony_Id] ON [dbo].[Compony_Act]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Compony_Committee_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [Compony_Committee_Compony_Id] ON [dbo].[Compony_Committee]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Compony_Plan_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [Compony_Plan_Compony_Id] ON [dbo].[Compony_Plan]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Compony_Swat_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [Compony_Swat_Compony_Id] ON [dbo].[Compony_Swat]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ComponyDirectionMember_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [ComponyDirectionMember_Compony_Id] ON [dbo].[ComponyDirectionMember]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ComponyManagerInfo_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [ComponyManagerInfo_Compony_Id] ON [dbo].[ComponyManagerInfo]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ComponyPersNum_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [ComponyPersNum_Compony_Id] ON [dbo].[ComponyPersNum]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ComponyShareholder_Compony_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE NONCLUSTERED INDEX [ComponyShareholder_Compony_Id] ON [dbo].[ComponyShareholder]
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [industry_Industry_Id]    Script Date: 10/15/2022 11:17:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [industry_Industry_Id] ON [dbo].[industry]
(
	[Industry_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
