<p style="text-align:left">صفحه 4 از 6</p>

<ol style="list-style-type:none">
    <li>6) سایر دلایلی که با تایید وزارت صمت یا سازمان بورس و اوراق بهادار تعلیق؛ لغو یا توقف ارزیابی و عدم اعلام امتیاز ارزیابی مجاز تشخیص داده شود.</li>

</ol>
<p>ماده (9) اقاله، فسخ و انحلال قرارداد</p>

<p>در هر یک از موارد زیر یکی از طرفین یا هر دو حق فسخ یا خاتمه قرارداد را دارد:</p>

<ol style="list-style-type:none">
    <li>1) با توافق کتبی طرفین و قبل از شروع خدمات موضوع قرارداد.</li>
    <li>2) در صورتی که ظرف بیست روز از اخطار کتبی هر یک از طرفین به هر یک از تعهدات خود عمل نکند طرف مقابل حق فسخ یک طرفه قرارداد را دارد.</li>
    <li>3) در صورت تحقق فورس ماژور برای یک طرف قرارداد،</li>
    <li>4) سایر مواردیکه به تشخیص وزارت صمت یا سازمان بورس و اوراق بهادار منجر به فسخ و انحلال قرارداد می گردد. در صورت بروز این موارد تصمیم سازمان بورس مورد توافق طرفین خواهد بود.</li>
</ol>

<p>تبصره: تکالیف قانونی <strong>مشتری </strong>و &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; در مقابل مراجع ذیصلاح قانونی تا زمان انحلال قرارداد ، به قوت خود باقی می باشد.</p>

<p>ماده (10) شرایط تسویه در زمان فسخ قرارداد</p>

<p>درصورت انحلال قرارداد در هر مرحله، نحوه تسویه قرارداد به شرح زیر خواهد بود:</p>

<ol style="list-style-type:none">
    <li>1) در صورتی که قرارداد با توافق طرفین فسخ شود، میزان کارمزد ارائه خدمات با توافق طرفین تعیین می شود.</li>
    <li>2) درصورتی که به علت عدم ایفای تمام یا بخشی از تعهدات <strong>مشتری</strong>(از جمله بندهای 1 و 5 ماده 8)، قرارداد از طرف &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; فسخ گردد، مبلغ دریافتی از <strong>مشتری</strong> مسترد نخواهد شد.</li>
    <li>3) درصورتی که قبل از شروع اجرای قرارداد و تعیین امتیاز؛ به علت عدم ایفای تمام یا بخشی از تعهدات &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; ؛ قرارداد از طرف <strong>مشتری </strong>فسخ گردد، کلیه مبلغ دریافتی قابل عودت به مشتری می باشد.</li>
    <li>4) در صورتی که قرارداد بدلیل بند 4 ماده (9) فسخ گردد، کارمزد&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot;مطابق نظر سازمان بورس و اوراق بهادار تعیین خواهد شد.</li>
</ol>
<p>ماده (11) فورس ماژور</p>

<p>درصورت وقوع حادثه های غیرمترقبه خارج از اراده هر یک از طرفین و به نحویکه امکان پیشگیری یا رفع اثر آن وجود نداشته باشد، (همچون جنگ اعم از اعلام شده یا نشده، انقلاب، اعتصاب عمومی، شیوع بیماری های واگیردار، زلزله، سیل و طغیان های غیرعادی، آتش سوزی های دامنه دار و غیره) هر یک از طرفین نتوانند تمام یا قسمتی از تعهدات خود در این قرارداد ایفا کند، باید موضوع را حداکثر ظرف یک هفته از وقوع حادثه کتباً به طرف دیگر اطلاع دهد. در چنین شرایطی، انجام تعهدات وی تا رفع شرایط مذکور فورس ماژور به تعویق خواهد افتاد. چنانچه مدت برقراری شرایط فورس ماژور بیش از یک ماه به طول انجامد، طرف مقابل حق فسخ قرارداد را دارد. در هر حال در صورت فسخ یا عدم فسخ قرارداد، طرفین متعهد به انجام کلیه تعهدات قراردادی خود تا تاریخ وقوع حادثه غیرمترقبه موضوع این ماده می باشند.</p>

<p>ماده (12) حل اختلاف</p>

<p>درصورت بروز هرگونه اختلاف در تفسیر یا اجرای مفاد این قرارداد، موضوع بدواً از طریق مذاکره میان طرفین بررسی و رفع خواهدشد. درصورتی که ظرف سی روز توافق حاصل نشود، هر طرف می تواند موضوع اختلاف را به منظور حصول سازش به کانون مربوطه طبق ماده 36 قانون بازار اوراق بهادار، ارجاع دهد. در صورت عدم حصول سازش در کانون مربوطه، مرجع نهایی رسیدگی به اختلاف، هیات داوری مذکورد در ماده 37 قانون بازار اوراق بهادار خواهد بود.</p>


<div class="hClass"></div>