<div class="row">
    <div>
        <div style="width:50%;float:right;text-align:right">
            <p></p>
        </div>
        <div style="width:50%;float:right">
            <div style="float:left;text-align:right;padding-right:7px">
                <p style="font-weight: bold; font-size: 16px;font-family:Nazanin">
                    <input value="" name="ContractCode" type="text" />
                    <br />
                    <input value="" name="SaveDate" type="text" />
                    <br />

                </p>
            </div>
            <div style="float:left">
                <p style="font-weight: bold; font-size: 16px; font-family: Nazanin">
                    شماره  : <br />
                    تاریخ : <br />
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<p style="text-align:left">صفحه 1 از 6</p>

<p style="text-align:center">بسمه تعالی</p>

<p style="text-align:center"><strong>قرارداد ارزیابی شاخص&zwnj;های کسب و کار (کیفی) فعالان اقتصادی</strong></p>

<p>این قرارداد فیمابین شرکت <span style="font-family:NazaninBold">رتبه بندی اعتباری پارس کیان</span> (سهامی خاص) به شماره ثبت&nbsp; 520798 و شناسه ملی 14007315962 به نشانی: تهران، خیابان میرزای شیرازی شمالی، خیابان منصور، پلاک 2، طبقه 3 به کدپستی 1596934715 که در این قرارداد به اختصار &quot; <span style="font-family:IranNastaliq">ارزیاب</span>&quot; نامیده می شود به نمایندگی آقای محمد رضا عربی مزرعه شاهی بعنوان عضو هیات مدیره و مدیرعامل دارنده امضا مجاز از یک طرف و شرکت <em><input name="CompanyName" type="text" value="CompanyNameValue" /></em> (<input name="KindOfCompany" type="text" value="KindOfCompanyValue" />)ثبت شده به شماره <input name="EconomicCodeValue" type="text" value="EconomicCodeValue" /> و دارای شناسه ملی <input name="NationalCode" type="text" value="NationalCodeValue" /> به نشانی: <input name="AddressCompany" type="text" value="AddressCompanyValue" /> با کدپستی <input name="PostalCode" type="text" value="PostalCodeValue" />&nbsp;،شماره تلفن <input name="Tel" type="text" value="TelValue" />&nbsp;و ایمیل <input name="Email" type="text" value="EmailValue" />&nbsp;که در این قرارداد به اختصار &quot;مشتری&quot; نامیده می شود با نمایندگی <input name="AgentName" type="text" value="AgentNameValue" /> بعنوان مدیر عامل از طرف دیگر، مطابق شرایط و مفاد ذیل منعقد گردید.</p>

<p>ماده (1)- موضوع قرارداد</p>

<p>موضوع این قرارداد عبارتست از <span style="font-family:NazaninBold">&quot;ارزیابی شاخصهای کسب وکار (کیفی)&quot;</span> <em>&quot;مشتری&quot;</em> بر اساس &quot;دستورالعمل شاخص&zwnj;های سامانه یکپارچه اعتبارسنجی و رتبه بندی اعتباری&quot; مصوب وزارت صمت و مطابق با &quot;شیوه نامه ارزیابی شاخص&zwnj;های کسب و کار- کیفی فعالان اقتصادی&quot; که بر روی پایگاه اینترنتی <span style="font-family:IranNastaliq">&quot;ارزیاب&quot;</span> منتشر شده و اعلام نتایج&zwnj; از طریق کانال های مورد توافق وزارت صمت و سازمان بورس و اوراق بهادار</p>

<p>ماده (2)- مدت قرارداد</p>

<p>انجام موضوع قرارداد و اعلام نتیجه ارزیابی به وزارت &quot;صمت&quot; حداکثر 4 هفته از تاریخ تکمیل مدارک و مستندات مورد درخواست &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; صورت خواهد گرفت. ضمنا قرارداد از تاریخ امضاء قرارداد تا تاریخ بارگذاری نتایج ارزیابی در سامانه کدال معتبر است.</p>

<p>ماده (3)- کارمزد ارائه خدمات</p>

<p>کارمزد ارائه خدمات موضوع قرارداد مبلغ (<input name="ServiceFeePrice" type="text" value="ServiceFeePriceValue" />) ریال بوده که کل مبلغ با امضای قرارداد و قبل از شروع ارزیابی، توسط <em>&quot;مشتری&quot;</em> به حساب&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; به شماره شبا 030560083581002685706001 IR بانک سامان شعبه پارک ساعی کد 835 پرداخت خواهد شد.</p>

<p>تبصره 1: مطابق با قانون مالیات بر ارزش افزوده معادل 9 % به مبلغ قرارداد افزوده و این مبلغ توسط مشتری به &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; پرداخت خواهد شد.</p>

<p>تبصره 2: مبلغ قرارداد مطابق با تعداد پرسنل (<input name="CountOfPersonal" type="text" value="CountOfPersonalValue" />نفر) اعلام شده مشتری نفر محاسبه شده است. در صورتیکه در بررسی های بعمل آمده توسط &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; تعداد پرسنل مشتری بیش از مبنای محاسبه کارمزد قرارداد باشد مشتری موظف به پرداخت مابه التفاوت مبلغ، مطابق با اعلام &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; می باشد.</p>

<p>ماده (4)- اعلام نتایج &quot;ارزیابی انجام شده&quot;</p>

<p>&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; نتایج ارزیابی انجام شده بر اساس مقررات موجود و توافق صورت گرفته با وزارت صمت را مستقیما در سامانه یکپارچه اعتبارسنجی و رتبه بندی اعتباری بارگذاری می نماید و مشتری از طریق سامانه مذکور نتایج بررسی را دریافت خواهد نمود.</p>

<p>ماده (5) - تعهدات مشتری</p>

<p>مشتری متعهد است جهت اجرای این قرارداد اقدامات ذیل را انجام دهد:</p>

<ol style="list-style-type:none">
    <li>1) معرفی نماینده به&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot;،به عنوان رابط که کلیه مکاتبات، ارتباطات و هماهنگی ها با مشتری از طریق رابط انجام پذیرد.</li>
    <li>2) ارائه درست، دقیق،کامل و به موقع هرگونه اطلاعات ومستندات مورد نیاز&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; که دراجرای موضوع قرارداد نیازمند آن می باشد.</li>
</ol>

<div class="hClass"></div>