<p style="text-align:left">صفحه 2 از 6</p>

<ol style="list-style-type:none">
    <li>3) هماهنگی لازم برای ملاقات نمایندگان &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; با مدیران ارشد مشتری (از جمله اعضای هیات مدیره) و فراهم نمودن امکانات لازم برای بازدید از دفاتر و محل های فعالیت و داراییهای خود برای نمایندگان &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot;.</li>

    <li>4) دریافت هر گونه اطلاعات و مستندات مورد نیاز برای انجام موضوع قرارداد حسب اعلام &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; از کلیه اشخاص ثالث از جمله (و نه محدود به) حسابرس مستقل وبازرس قانونی، وکیل یا واحد حقوقی مشتری، کلیه ادارات دولتی و وابسته به دولت و نهادهای عمومی غیر دولتی که به نحوی دارای اطلاعات مالی و عملیاتی مشتری می باشند، بانکها و موسسات مالی اعتباری و اشخاص ثالث که مشتری با آنها مراودات مالی و تجاری دارد. مشتری موظف است در صورت درخواست&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; از اشخاص ثالت درخواست نماید تا اطلاعات و مستندات مورد نظر &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; را مستقیما در اختیار &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; قرار دهند.</li>
    <li>5) ارایه پاسخ و توضیحات کتبی و ارایه مستندات لازم در خصوص دلایل هر گونه مغایرت فیمابین اطلاعات دریافتی از مشتری و اطلاعات دریافتی از اشخاص ثالث. مشتری موظف به تطبیق اطلاعات دریافتی از اشخاص ثالث با اطلاعات تهیه شده توسط/ یا موجود نزد خود بوده و باید هر گونه مغایرت با اهمیت را به &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; اطلاع دهد.</li>
    <li>6) اعلام نظر نسبت به مبانی؛ صحت و کامل بودن اطلاعات مورد استفاده در تهیه پیش نویس گزارش ارزیابی و هرگونه گزارش دیگری که &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; در انجام موضوع قرارداد تهیه و برای اعلام نظر به مشتری ارسال می کند،حداکثر پنج روز کاری از تاریخ ارسال گزارش.</li>
    <li>7) پرداخت کارمزد ارائه خدمات به &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; بر اساس ماده (3) قرارداد.</li>
    <li>8) تامین تسهیلات رفت و آمد و اقامت و یا پرداخت هزینه های مربوطه در صورت نیاز به حضور کارکنان &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; جهت ارزیابی در خارج از شعاع 20 کیلومتری تهران.</li>
    <li>9) حفظ محرمانگی اطلاعات و مستندات.</li>
</ol>

<p>ماده (6) - تعهدات &quot; <span style="font-family:IranNastaliq">ارزیاب</span>&quot;</p>

<p>تعهدات &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; در چارچوب موضوع این قرارداد به شرح زیر است:</p>

<ol style="list-style-type:none">
    <li>1) &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot;متعهد است مطابق با مقررات مربوطه و پس از دریافت کامل اطلاعات و مستندات مورد نیاز برای ارزیابی؛ امتیاز محاسبه شده بر اساس دستورالعمل مصوب را تعیین و بر اساس رویه مورد تایید وزارت صمت در اختیار آن وزارت قرار دهد.</li>
    <li>2) &quot;<span style="font-family:IranNastaliq"><span style="font-family:IranNastaliq">ارزیاب</span></span>&quot; موظف است در طول مدت قرارداد و بعد از آن، کلیه اطلاعات، مدارک و مستنداتی را که مستقیما از مشتری یا از اشخاص ثالث دریافت نموده یا می نماید یا در ملاقات و مصاحبه با مدیران ارشد و کارکنان مشتری و یا هنگام بازدید از محل فعالیت مشتری بدست می آورد و همچنین گزارش ارزیابی را محرمانه تلقی نموده و به استثنای پرسنل و مسئولین خود و ناظرین مربوطه از جمله وزارت صمت یا سازمان بورس و اوراق بهادار در چارچوب وظایفی که برای اجرای خدمات موضوع قرارداد ضرورت دارد، در اختیار هیچ شخصی قرار ندهد یا برای عموم منتشر نکند یا به منظور دیگری غیر از ارائه خدمات موضوع قرارداد استفاده نکند، مگر اینکه قبلا موافقت کتبی مشتری را دریافت نموده باشد. هر گونه اطلاعات و مستنداتی که قبلا به نحوی به اطلاع عموم رسیده باشد یا مطابق قوانین و مقررات نیازمند افشا و اعلام عمومی باشد در زمره اطلاعات محرمانه قرار نگرفته و &quot;<span style="font-family:IranNastaliq"><span style="font-family:IranNastaliq">ارزیاب</span></span>&quot; موظف به کسب اجازه مشتری برای افشا این گونه اطلاعات نمی باشد.&quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; می تواند از اطلاعات مشتری ( بدون ذکر نام و به نحوی که بصورت معمول امکان انتساب و ارتباط دادن اطلاعات به مشتری وجود نداشته باشد) و اطلاعات ارزیابی در گزارشات پژوهشی خود استفاده نموده و یا به منظور مقاصد مطالعاتی در اختیار اشخاص دیگر دهد یا به صورت عمومی منتشر سازد.</li>
</ol>

<p>تبصره 1: تعهدات قید شده در این قرارداد، به هیچ عنوان محدود کننده مسئولیت های &quot;<span style="font-family:IranNastaliq">ارزیاب</span>&quot; مطابق مقررات مربوطه نخواهد بود.</p>

<div class="hClass"></div>


