@{
    ViewData["Title"] = "چاپ قرارداد";
    Layout = null;
}


<html>
<head>


    <!-- jQuery 3 -->
    <script src="~/css/GlobalAreas/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/iu.min.js" asp-append-version="true"></script>
    <style>
        @@font-face {
            font-family: Nazanin;
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot');
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/Nazanin.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/Nazanin.ttf') format('truetype');
            font-weight: normal;
        }

        @@font-face {
            font-family: Nazanin;
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot');
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/Nazanin.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/Nazanin.ttf') format('truetype');
            font-weight: bold;
        }

        @@font-face {
            font-family: NazaninBold;
            src: url('/css/GlobalAreas/dist/fonts/BNazaninBold.eot');
            src: url('/css/GlobalAreas/dist/fonts/BNazaninBold.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/BNazaninBold.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/BNazaninBold.ttf') format('truetype');
            font-weight: bold;
        }

        @@font-face {
            font-family: IranNastaliq;
            src: url('/css/GlobalAreas/dist/fonts/IranNastaliq.eot');
            src: url('/css/GlobalAreas/dist/fonts/IranNastaliq.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/IranNastaliq.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/IranNastaliq.ttf') format('truetype');
            font-weight: normal;
            font-size: small
        }



        @@page {
            margin: 0
        }



        .sheet {
            margin: 0;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            page-break-after: always;
        }

        /** Paper sizes **/
        body.A3 .sheet {
            width: 297mm;
            height: 419mm
        }

        body.A3.landscape .sheet {
            width: 420mm;
            height: 296mm
        }

        body.A4 .sheet {
            width: 210mm;
            height: 296mm
        }

        body.A4.landscape .sheet {
            width: 297mm;
            height: 209mm
        }

        body.A5 .sheet {
            width: 148mm;
            height: 209mm
        }

        body.A5.landscape .sheet {
            width: 210mm;
            height: 147mm
        }

        body.letter .sheet {
            width: 216mm;
            height: 279mm
        }

        body.letter.landscape .sheet {
            width: 280mm;
            height: 215mm
        }

        body.legal .sheet {
            width: 216mm;
            height: 356mm
        }

        body.legal.landscape .sheet {
            width: 357mm;
            height: 215mm
        }

        /** Padding area **/
        .sheet.padding-10mm {
            padding: 10mm
        }

        .sheet.padding-15mm {
            padding: 15mm
        }

        .sheet.padding-20mm {
            padding: 20mm
        }

        .sheet.padding-25mm {
            padding: 25mm
        }

        /** For screen preview **/
        @@media screen {
            body.A3.landscape {
                width: 420mm
            }

            body.A3, body.A4.landscape {
                width: 297mm
            }

            body.A4, body.A5.landscape {
                width: 210mm
            }

            body.A5 {
                width: 148mm
            }

            body.letter, body.legal {
                width: 216mm
            }

                body.letter.landscape {
                    width: 280mm
                }

                body.legal.landscape {
                    width: 357mm
                }
        }


        /** Fix for Chrome issue #273306 **/
        @@media print {
            #ptr2 {
                display: none;
            }

            body.A3.landscape {
                width: 420mm
            }

            body.A3, body.A4.landscape {
                width: 297mm
            }

            body.A4, body.A5.landscape {
                width: 210mm
            }

            body.A5 {
                width: 148mm
            }

            body.letter, body.legal {
                width: 216mm
            }

                body.letter.landscape {
                    width: 280mm
                }

                body.legal.landscape {
                    width: 357mm
                }
        }



        table, tr, th, td {
        }

        .Detail {
        }

        .graph-7 {
            color: black;
            border: 1px solid silver;
        }

        .graph-image img {
        }

        .ContentLetter p:first-child {
            text-indent: 30px;
            text-align: justify;
        }

        p {
            direction: rtl;
            text-align: justify;
            font-family: Nazanin;
            font-size: 10pt;
            line-height: 18px
        }

        ol {
            list-style-type: none;
            line-height: 23px
        }
        .CalPrice p {
            direction: ltr;
        }

        .CalPrice ul {
            list-style-type: none;
            direction: ltr;
        }

        .CalPrice li {
            text-align: left;
            direction: ltr;
        }

        .CalPrice ul li:last-child {
            border-top: 3px solid black;
            width: 100px;
        }

        .CalPrice ul li:first-child {
            margin-left: 10px;
        }

        li {
            direction: rtl;
            font-family: Nazanin;
            font-size: 10pt;
            text-align: right;
        }

        .titr {
            font-family: NazaninBold;
            font-size: 11.5pt
        }

        .sBold {
            font-family: NazaninBold;
        }

        .sBoldI {
            font-family: NazaninBold;
            font-style: italic;
        }

        body {
            margin: 2em;
            color: #fff;
            background-color: silver;
        }

        /* override styles when printing */
        @@media print {

            body {
                margin: 0;
                color: #000;
                background-color: #fff;
            }
        }

        .PageContract {
            min-height: 297mm;
            padding: 20mm;
            padding-top: 45mm;
            box-sizing: border-box;
            background-image: url(/image/a4template-1.jpg);
            background-size: 100%;
            background-repeat: repeat-y;
            background-position: left top;
        }

        .PageContractFirst {
            height: 297mm;
            padding: 20mm;
            box-sizing: border-box;
            background-image: url(/image/a4template-1.jpg);
            background-size: 100%;
            background-repeat: repeat-y;
            background-position: left top;
        }


        * {
            color: black !important;
        }
    </style>
</head>
<body>
    <div id="ptr" style="background-color: white; color: white; max-width: 210mm; margin: auto; padding: 5px; margin-bottom: 10px; box-sizing: border-box; border: 2px solid orangered;border-radius:5px">
        <p style="font-size: 1.15em;text-align:center;line-height:30px;"> نکته: برای چاپ قرارداد حتما کاغذ چاپ را روی A4  تنظیم کنید و <br />سپس گزینه Background ghraphics  را انتخاب کنید</p>
        <input type='button' id='btn' style="font-family:IranNastaliq" value='چاپ قرارداد' onclick='Web.RequestForRating.PrintDiv();'>
        <a class="btn btn-default" style="font-family:IranNastaliq" value='بازگشت' href="~/customer/RequestForRating/Referral/@ViewBag.id">بازگشت</a>

    </div>
    <div class="graph-image graph-7" style="width: 210mm;margin:auto;">
        <section class="sheet">
            <div class="print-part">
                <div id="ContractShow">

                </div>
            </div>
        </section>
    </div>

    <script src="~/lib/Noty/jquery.noty.js" asp-append-version="true"></script>

    <script src="~/lib/Loader/Loader.js" asp-append-version="true"></script>

    <script src="~/js/Views/Customer/all.min.js" asp-append-version="true"></script>

    <script>
        Web.Layout.InitLayout();
        Web.RequestForRating.PrintContracting(@ViewBag.id);

    </script>



</body>
</html>

