@{
    ViewData["Title"] = "چاپ پیش فاکتور";
    Layout = null;
}


<html>
<head>
    <!-- jQuery 3 -->
    <script src="~/css/GlobalAreas/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/iu.min.js" asp-append-version="true"></script>
    <style>
        @@font-face {
            font-family: Nazanin;
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot');
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/Nazanin.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/Nazanin.ttf') format('truetype');
            font-weight: normal;
        }

        @@font-face {
            font-family: Nazanin;
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot');
            src: url('/css/GlobalAreas/dist/fonts/Nazanin.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/Nazanin.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/Nazanin.ttf') format('truetype');
            font-weight: bold;
        }

        @@font-face {
            font-family: NazaninBold;
            src: url('/css/GlobalAreas/dist/fonts/BNazaninBold.eot');
            src: url('/css/GlobalAreas/dist/fonts/BNazaninBold.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/BNazaninBold.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/BNazaninBold.ttf') format('truetype');
            font-weight: bold;
        }

        @@font-face {
            font-family: IranNastaliq;
            src: url('/css/GlobalAreas/dist/fonts/IranNastaliq.eot');
            src: url('/css/GlobalAreas/dist/fonts/IranNastaliq.eot?#iefix') format('embedded-opentype'), url('/css/GlobalAreas/dist/fonts/IranNastaliq.woff') format('woff'), url('/css/GlobalAreas/dist/fonts/IranNastaliq.ttf') format('truetype');
            font-weight: normal;
            font-size: small
        }



        @@page {
            margin: 0
        }



        .sheet {
            margin: 0;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            page-break-after: always;
        }

        /** Paper sizes **/
        body.A3 .sheet {
            width: 297mm;
            height: 419mm
        }

        body.A3.landscape .sheet {
            width: 420mm;
            height: 296mm
        }

        body.A4 .sheet {
            width: 210mm;
            height: 296mm
        }

        body.A4.landscape .sheet {
            width: 297mm;
            height: 209mm
        }

        body.A5 .sheet {
            width: 148mm;
            height: 209mm
        }

        body.A5.landscape .sheet {
            width: 210mm;
            height: 147mm
        }

        body.letter .sheet {
            width: 216mm;
            height: 279mm
        }

        body.letter.landscape .sheet {
            width: 280mm;
            height: 215mm
        }

        body.legal .sheet {
            width: 216mm;
            height: 356mm
        }

        body.legal.landscape .sheet {
            width: 357mm;
            height: 215mm
        }

        /** Padding area **/
        .sheet.padding-10mm {
            padding: 10mm
        }

        .sheet.padding-15mm {
            padding: 15mm
        }

        .sheet.padding-20mm {
            padding: 20mm
        }

        .sheet.padding-25mm {
            padding: 25mm
        }

        /** For screen preview **/
        @@media screen {
            body.A3.landscape {
                width: 420mm
            }

            body.A3, body.A4.landscape {
                width: 297mm
            }

            body.A4, body.A5.landscape {
                width: 210mm
            }

            body.A5 {
                width: 148mm
            }

            body.letter, body.legal {
                width: 216mm
            }

                body.letter.landscape {
                    width: 280mm
                }

                body.legal.landscape {
                    width: 357mm
                }
        }


        /** Fix for Chrome issue #273306 **/
        @@media print {
            body.A3.landscape {
                width: 420mm
            }

            body.A3, body.A4.landscape {
                width: 297mm
            }

            body.A4, body.A5.landscape {
                width: 210mm
            }

            body.A5 {
                width: 148mm
            }

            body.letter, body.legal {
                width: 216mm
            }

                body.letter.landscape {
                    width: 280mm
                }

                body.legal.landscape {
                    width: 357mm
                }
        }



        table, tr, th, td {
            border: 1px solid black;
            text-align: center;
            font-family: Nazanin;
        }

        td {
            padding: 5px;
        }

        .Noborder {
            border: none;
        }

        table.righta td {
            text-align: right;
        }

        .info-label {
            font-weight: bold;
            margin-left: 4px;
        }

        .info-value {
            margin-left: 8px;
            display: inline-block;
            min-width: 80px;
        }


        .Detail {
        }

        .graph-7 {
            background-color: white;
            color: black;
            border: 1px solid silver;
        }

        .graph-image img {
        }

        .ContentLetter p:first-child {
            text-indent: 30px;
            text-align: justify;
        }


        p {
            direction: rtl;
            text-align: justify;
            font-family: Nazanin;
            font-size: 10pt;
            line-height: 18px
        }

        ol {
            list-style-type: none;
            line-height: 23px
        }

        li {
            direction: rtl;
            font-family: Nazanin;
            font-size: 10pt;
            text-align: right;
        }

        .titr {
            font-family: NazaninBold;
            font-size: 11.5pt
        }

        .sBold {
            font-family: NazaninBold;
        }

        .sBoldI {
            font-family: NazaninBold;
            font-style: italic;
        }

        body {
            margin: 2em;
            color: #fff;
            background-color: silver;
        }

        /* override styles when printing */
        @@media print {
            #ptr {
                display: none;
            }

            body {
                margin: 0;
                color: #000;
                background-color: #fff;
            }
        }


        * {
            color: black !important;
        }
    </style>
</head>
<body>
    <div id="ptr" style="background-color: white; color: white; max-width: 210mm; margin: auto; padding: 5px; margin-bottom: 10px; box-sizing: border-box; border: 2px solid orangered;border-radius:5px">
        <a class="btn btn-default" style="font-family:IranNastaliq" value='بازگشت' href="~/supervisor/RequestForRating/RequestDocument/@ViewBag.id">بازگشت</a>
    </div>
    <div class="graph-image graph-7" style=" width: 297mm;margin:auto;" id="divPrint">
        <section class="sheet padding-10mm">
            <div class="print-part">
                <div style="width:100%">
                    <div style="float:right;width:90%">
                        <h2 style="text-align: center; font-family: NazaninBold;margin-top: 0px">پیش پرداخت</h2>
                        <p style="text-align: center;margin-top:0px">
                            پیش فاکتور مربوط به پیش پرداخت بسته ارزیابی شاخص های کسب و کار کیفی

                            <span id="CustomerName3"></span>
                        </p>
                    </div>
                    <div style="float:right;width:10%">
                        <p style="text-align:left">
                            <strong>تاریخ:</strong>  <span id="SaveDate"></span>
                        </p>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <table style="width:100%;border-collapse:collapse; direction:rtl" class="righta">
                    <tr>
                    <tr>
                        <td style="text-align:center"><span style="font-family:NazaninBold;"> فروشنده</span></td>

                    </tr>
                    <tr>
                        <td>شرکت رتبه بندي اعتباري پارس کیان (سهامی خاص)</td>

                    </tr>

                </table>
                <table style="width: 100%; border-collapse: collapse; direction: rtl;" class="righta">
                    <tr class="Noborder">
                        <td colspan="4" style="text-align:center">
                            <span style="font-family:NazaninBold;">خریدار</span>
                        </td>
                    </tr>
                    <tr class="Noborder">
                        <td class="Noborder">نام شخص حقیقی / حقوقی: <span id="CustomerName" class="info-value"></span></td>
                        <td class="Noborder">کد اقتصادی: <span id="EconomicCodeReal" class="info-value"></span></td>
                        <td class="Noborder">کد پستی: <span id="PostalCode" class="info-value"></span></td>
                        <td class="Noborder">
                            شماره/ شناسه ملی:
                            <span id="EconomicCode" class="info-value"></span> /
                            <span id="NationalCode" class="info-value"></span>
                        </td>
                    </tr>
                    <tr class="Noborder">
                        <td class="Noborder" style="max-width: 200px;">
                            نشانی: <span id="AddressCompany" class="info-value"></span>
                        </td>
                        <td class="Noborder">
                            شماره ثبت: <span id="RegistrationNumber" class="info-value"></span>
                        </td>
                        <td class="Noborder">
                            شهر: <span id="City" class="info-value"></span>
                        </td>
                        <td class="Noborder">
                            تلفن: <span id="Tel" class="info-value"></span>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%; border-collapse: collapse; direction: rtl">
                    <tr>
                        <td colspan="10">
                            <span style="font-family:NazaninBold;">مشخصات مورد معامله</span>
                        </td>
                    </tr>
                    <tr>
                        <td>رديف</td>
                        <td>شرح</td>
                        <td>تعداد/ مقدار</td>
                        <td>مبلغ واحد (ریال)</td>
                        <td>مبلغ کل (ریال)</td>
                        <td>جمع ماليات و عوارض 10% (ریال)</td>
                        <td>جمع مبلغ کل بعلاوه 10% ماليات و عوارض (ریال)</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>بسته ارزیابی <span id="CustomerName2" class="info-value"></span></td>
                        <td><span class="info-value">1</span></td>
                        <td><span id="PriceFee1" class="info-value"></span></td>
                        <td><span id="PriceFee2" class="info-value"></span></td>
                        <td><span id="TaxPrice1" class="info-value"></span></td>
                        <td><span id="TotalPrice" class="info-value"></span></td>
                    </tr>
                    <tr>
                        <td colspan="4">جمع کل</td>
                        <td><span id="PriceFee3" class="info-value"></span></td>
                        <td><span id="TaxPrice2" class="info-value"></span></td>
                        <td><span id="TotalPrice2" class="info-value"></span></td>
                    </tr>
                    <tr class="Noborder">
                        <td colspan="5" class="Noborder"></td>
                        <td>مبلغ قابل پرداخت (ریال)</td>
                        <td><span id="TotalPrice3" class="info-value"></span></td>
                    </tr>
                </table>                <br />
                <p>
                    <span style="font-family:NazaninBold"> توضيحات:</span>
                    این پیش فاکتور صرفا جهت اطلاع از مبلغ پیش پرداخت آن شرکت محترم می باشد و <span style="font-family:NazaninBold">قابل ثبت در دفاتر قانونی نمی باشد</span>.
                    لذا پس از اتمام ارزیابی مذکور و صدور صورتحساب نهایی اقدام به انجام تکالیف قانونی نمایید.
                    <br />
                    <span style="font-family:NazaninBold"> مشخصات حساب:</span>
                    بانک سامان کد 866 شعبه قائم مقام : به نام شرکت رتبه بندی پارس کیان <br />
                    <span style="font-family:NazaninBold"> شماره شبا:</span>
                    IR340560086604002685706001<br />
                    خواهشمند است مبلغ پيش فاکتور <span style="font-family:NazaninBold">فقط از حساب متعلق به خريدار</span> واريز گردد
                </p>
            </div>
        </section>
    </div>

    <script src="~/lib/Noty/jquery.noty.js" asp-append-version="true"></script>

    <script src="~/lib/Loader/Loader.js" asp-append-version="true"></script>

    <script src="~/js/Views/SuperVisor/all.min.js" asp-append-version="true"></script>

    <script>
        Web.Layout.InitLayout();
        Web.RequestForRating.PrintPerFactor(@ViewBag.id);

    </script>
</body>
</html>

