

@{
    Layout = null;
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پارس کیان | ورود و ثبت نام</title>
    <meta name="copyright" content="پارس کیان" />
    <link rel="alternate" href="https://parscrc.ir/" hreflang="fa" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="fa" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="https://parscrc.ir/" />
    <link rel="stylesheet" href="~/lib/font/vazir.css"  />
    <link rel="stylesheet" href="~/css/landing/site.css"  />
    <link rel="stylesheet" href="~/css/landing/AccountLogin.css"  />
    @* asp-version نزارین این ها همشون باندل میشه *@
    <script src="~/css/GlobalAreas/bower_components/jquery/dist/jquery.min.js" ></script>

    <script src="~/lib/SweetAlert/sweetalert.min.js" ></script>


</head>
<body>
    <div style="box-shadow: 0 0 2px 2px #ffffff50; height: 70px;width: 350px;    margin: 10px;    border-radius: 12px;    background: #0b2544;color: white !important;z-index: 100;display: flex;justify-content: center;align-items: center;">
        <a href="/" style="display: flex;color: white;">
            <img src="~/image/landing/logo.png" style="filter: brightness(1.4);height: 70px;">
            <div style=" display: flex;  flex-direction: column;   margin-left: 25px;">
                <span>شرکت رتبه بندی اعتباری </span><span style="font-size: 1.7em;font-weight: 900;">پـــارس کــیــان</span>
            </div>
        </a>



    </div>
    <div class="form-structor" >
        <div class="signup">
            <h2 class="form-title" id="signup"><span>یا</span>به حساب کاربری خود وارد شوید</h2>
            <div class="form-holder">
                <input type="email" class="input" placeholder="شماره تلفن همراه" id="User" />
                <input type="password" class="input" placeholder="رمز عبور" id="Password" />
            </div>
            <button onclick="Web.AccountController.LoginA(this);" type="button" class="submit-btn">ورود</button>
        </div>        
    </div>    
    <style>.form-structor::after {background-image:none !important;}</style>
    <script src="~/js/InitProject.js" ></script>
    <script src="~/js/Utility.js" ></script>
    <script src="~/lib/Loader/Loader.js" ></script>
    <script src="~/js/Views/AccountController.js" ></script>
    
</body>
</html>
