@{
    Layout = null;
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پارس کیان | ورود و ثبت نام</title>
    <meta name="copyright" content="پارس کیان" />
    <link rel="alternate" href="https://parscrc.ir/" hreflang="fa" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="fa" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="https://parscrc.ir/" />
    <link rel="stylesheet" href="~/lib/font/vazir.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landing/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landing/AccountLogin.css" asp-append-version="true" />
    <script src="~/css/GlobalAreas/bower_components/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <script src="~/lib/SweetAlert/sweetalert.min.js" asp-append-version="true"></script>


</head>
<body>
    <div style="box-shadow: 0 0 2px 2px #ffffff50; height: 70px;width: 350px;    margin: 10px;    border-radius: 12px;    background: #0b2544;color: white !important;z-index: 100;display: flex;justify-content: center;align-items: center;">
        <a href="/" style="display: flex;color: white;">
            <img src="~/image/landing/logo.png" style="filter: brightness(1.4);height: 70px;">
            <div style=" display: flex;  flex-direction: column;   margin-left: 25px;">
                <span>شرکت رتبه بندی اعتباری </span><span style="font-size: 1.7em;font-weight: 900;">پـــارس کــیــان</span>
            </div>
        </a>

        

    </div>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup"><span></span>به حساب کاربری خود وارد شوید</h2>
            <div class="form-holder" id="form_n1" style="margin-top:28px;padding-top:10px">
                <div style="text-align:center;">
                    <input type="radio" name="RadioSelectSha" id="RadioSelectSha" value="0" checked="checked" onchange="Web.AccountController.OnChangeCSh(this);" />حقوقی
                    <input type="radio" name="RadioSelectSha" id="RadioSelectSha" value="1" onchange="Web.AccountController.OnChangeCSh(this);" />حقیقی
                </div>
                <input type="text" class="input" placeholder="شماره تلفن همراه" id="User" maxlength="11" onkeypress="return TextBoxOnlyNumber(event);" />
                <input type="text" class="input" placeholder="شناسه ملی شرکت" id="NationalCode" maxlength="11" onkeypress="return TextBoxOnlyNumber(event);" />
                <partial name="~/Views/Shared/_CaptchaLayout.cshtml" />
            </div>
            <button class="submit-btn" type="button" onclick="Web.AccountController.LoginC(this);">ارسال کد احراز ورود</button>
        </div>
        <div class="login slide-up">
            <div class="center">
                <input type="hidden" id="Bakdslkflkdsflkdslkfkldskfdslflsdkf_dnsfhsdkfh" />
                <input type="hidden" id="Fulllfsdfdsflsfldsfldslflsdlfdslflsdlfldsflldsf" />
                <h2 class="form-title" id="login"><span></span>ثبت کد احراز</h2>
                
                <br />
                <div id="step2">
                    <p>کد احراز ارسال شده را وارد کنید.</p>
                    <div class="form-holder">
                        <input type="text" class="input" placeholder="کد احراز" id="Code" />
                    </div>
                    <button class="submit-btn" onclick="Web.AccountController.AutenticatedCode(this);">ورود به ناحیه کاربری</button>
                    <button class="submit-btn" style="background-color: #091432;" onclick="$('#Code').val(''); showTab1(); Web.AccountController.PrevLoginC();">بازگشت به مرحله‌ی قبل</button>
                </div>

            </div>
        </div>
    </div>


    <style>
        #captcha_img {text-decoration: line-through; padding: 0; background: #d7d7d7; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 23px; }
    </style>
    <script>
        /*
$(function() {

    $("#captcha_img").html(parseInt((Math.random() * 90000)+9999));

});*/

    </script>   

    <script>

        const loginBtn = document.getElementById('login');
        const signupBtn = document.getElementById('signup');

        function showTab2() {
            let e = document.getElementById('login');
            let parent = e.parentNode.parentNode;
            Array.from(e.parentNode.parentNode.classList).find((element) => {
                if (element !== "slide-up") {
                    //parent.classList.add('slide-up')
                } else {
                    signupBtn.parentNode.classList.add('slide-up')
                    parent.classList.remove('slide-up')
                }
            });
        }
        function showTab1() {
            let e = document.getElementById('signup');
            let parent = e.parentNode;
            Array.from(e.parentNode.classList).find((element) => {
                if (element !== "slide-up") {
                    //parent.classList.add('slide-up')
                } else {
                    loginBtn.parentNode.parentNode.classList.add('slide-up')
                    parent.classList.remove('slide-up')
                }
            });
        }
        loginBtn.addEventListener('click', (e) => {
        //    showTab2();
        });

        signupBtn.addEventListener('click', (e) => {
         //   showTab1();
        });

    </script>

    <script src="~/js/iu.min.js" asp-append-version="true"></script>

    <script src="~/lib/Loader/Loader.js" asp-append-version="true"></script>
    <script src="~/js/Views/ac.min.js" asp-append-version="true"></script>
    <script>
        Web.AccountController.InitLoginC();
    </script>

</body>
</html>
