
@{
    ViewData["Title"] = "ثبت نرخ نامه قرارداد ";
}

@section Styles{
    <link rel="stylesheet" href="~/css/GlobalAreas/bower_components/select2/dist/css/select2.min.css" asp-append-version="true">
}

@section PageHeader{
    <section class="content-header">
        <h1>
            ثبت نرخ نامه قرارداد
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
            <li><a href="/Admin/ServiceFee/Index">نرخ نامه قرارداد</a></li>
            <li class="active"><a href="/Admin/ServiceFee/EditServiceFee@(ViewBag.id == null || ViewBag.id == 0 ?"":"?id="+ViewBag.id)"> ثبت نامه نرخ نامه قرارداد</a></li>
        </ol>
    </section>
}

<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<i class="fa fa-cloud"></i>*@
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            @*<span class="caption-subject bold uppercase">آب و هوا</span>*@
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body" style="">


                <form action="/Admin/ServiceFee/Index" id="frmFormMain" method="post">
                    <div class="form-horizontal">

                        <input type="hidden" value="0" id="ServiceFeeId" name="ServiceFeeId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        نوع خدمات
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <select name="KindOfService" id="KindOfService" class="form-control select2" style="width:100% !important;"></select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        از تعداد کارمند
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="FromCompanyRange" id="FromCompanyRange" onkeypress="return TextBoxOnlyNumber(event);"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        تا تعداد کارمند
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="ToCompanyRange" id="ToCompanyRange" onkeypress="return TextBoxOnlyNumber(event);" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        مبلغ ثابت
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="FixedCost" id="FixedCost" onkeypress="return TextBoxOnlyNumber(event);" onkeyup="TextBoxOnlyPrice(this);"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        مبلغ متغیر
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="VariableCost" id="VariableCost" onkeypress="return TextBoxOnlyNumber(event);" onkeyup="TextBoxOnlyPrice(this);" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-9">
                                        <button title="ثبت" class="btn btn-info fontForAllPage" onclick="Web.ServiceFee.SaveServiceFee(this);">
                                            <i class="fa fa-save"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        فی 1
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Fee1" id="Fee1" onkeypress="return TextBoxOnlyNumber(event);" onkeyup="TextBoxOnlyPrice(this);" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="">
                                        فی 2
                                        <span class="RequiredLabel">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Fee2" id="Fee2" onkeypress="return TextBoxOnlyNumber(event);" onkeyup="TextBoxOnlyPrice(this);" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/css/GlobalAreas/bower_components/select2/dist/js/select2.full.min.js" asp-append-version="true"></script><script>
        Web.ServiceFee.InitServiceFee(@ViewBag.id);
    </script>
}
