
<link rel="stylesheet" href="~/css/landing/Article.css" asp-append-version="true" />

<div id="bg-img"></div>

<section class="sec_title">

    <div id="particles-js"></div>
    <div class="inner_div">
        <h1 style="
    z-index: 10;
    margin: 0;
    border-bottom: 1px white solid;
    margin: 0 50px 0 0;
">
            موضوع مطلب فعلی کوتاه
        </h1>
    </div>
</section>

<section class="article_body">
    <div class="right">
        <img class="article_img" src="~/image/landing/slider_3.webp" />
        <div class="article_title_div">
            <p class="article_titile_p">موضوع مطلب در حال نمایش به صورت بلند</p>
            <div class="article_title_info_parrent">
                <p>نویسنده: پارس کیان</p>
                <p>تاریخ انتشار: دوشنبه ۱۴ آبان ۱۴۰۱</p>
            </div>
        </div>
        <p class="article_text">
            شرکت رتبه بندی اعتباری پارس کیان طبق فرآیند رتبه بندی اعتباری خود و در جهت ارائه رتبه های اعتباری قابل اتکا و دقیق نیازمند بهره مندی از منابع اطلاعاتی مورد اعتماد می باشد. بر این اساس ضوابط نگهداری و کنترل اطلاعات خود را به تصویب هیات مدیره رسانده و جهت اطلاع عموم ذینفعان خود منتشر نموده است.
            عمده منابع اطلاعاتی شرکت رتبه بندی اعتباری پارس کیان به شرح ذیل می باشد.

            <b>الف) منابع اطلاعاتی اولیه (مالی و صنعت):</b>

            1- ناشر مورد رتبه بندی (و شرکت های تابعه و وابسته و شرکتهای مشابه حسب مورد)
            2- شرکت های پردازش اطلاعات مالی دارای مجوز از سازمان بورس و اوراق بهادار
            3- موسسات داخلی حرفه ای و مستقل مشاوره ای در حوزه مالی و حوزه های مختلف صنعتی
            4- موسسات حرفه ای و مستقل بین المللی (از جمله موسسات رتبه بندی بین المللی، موسسات بزرگ حسابرسی و شرکتهای مشاوره بین المللی)
            5- نهاد ناظر و سایر ارکان بازار سرمایه از جمله بورس ها، سپرده گذاری و سامانه های مرتبط
            6- اطلاعات رسمی منتشره توسط دولت، بانک مرکزی، مرکز آمار و سایر مراجع رسمی دولتی
            7- اطلاعات رسمی منتشره توسط نهادهای بین¬المللی معتبر همانند بانک جهانی و …

            <b>ب) منابع اطلاعاتی ثانویه:</b>

            1- انجمن های حرفه ای، صنفی و تخصصی (رسمی دارای مجوز) در هر صنعت یا بخش
            2- اطلاعات منتشره توسط شرکتهای مشابه فعال در صنعت
            3- نهادهای حرفه ای و سازمانهای مردم نهاد و غیردولتی و سندیکاها
            4- مجلات و بولتن های تخصصی در صنعت یا بخش
            5- سایر مجلات و بولتن ها، روزنامه ها، اخبار و … با لحاظ موثق بودن منبع اطلاعاتی و مرجع منتشر کننده آن
            6- اطلاعات سایر منابع خارجی همانند تشکلهای حرفه ای و تخصصی یا صنفی، روزنامه ها و مجلات خارجی و خبرگزاری های مربوطه

        </p>
    </div>

    <div class="center">
    </div>
    <div class="left">
        <div class="left_sec_item">
            <div class="title">
                <h4>جستجو</h4>
            </div>
            <div class="item">
                <div class="search_bar">
                    <input type="text" placeholder="جستجو..." />
                    <a class="btn" href="#" onclick="">جستجو</a>
                </div>
            </div>
        </div>
        <div class="left_sec_item">
            <div class="title">
                <h4>نوشته های تازه</h4>
            </div>
            <div class="item">
                <a href="#">وبسایت جدید پارس کیان ریلیز شد<span>(۱۴۰۱/۰۸/۲۴)</span></a>
                <a href="#">نسخه جدید تفاهم همکاری امضا شد<span>(۱۴۰۱/۰۸/۲۴)</span></a>
                <a href="#">نمایش کلی فرایند های درخواست مقدور شد.<span>(۱۴۰۱/۰۸/۲۴)</span></a>
                <a href="#">جلسه هماهنگی میان شرکا با امضا تفاهم نامه به پایان رسید.<span>(۱۴۰۱/۰۸/۲۴)</span></a>
                <a href="#">وبسایت جدید پارس کیان ریلیز شد<span>(۱۴۰۱/۰۸/۲۴)</span></a>
            </div>
        </div>
        <div class="left_sec_item">
            <div class="title">
                <h4>دسته بندی ها</h4>
            </div>
            <div class="item" style="font-size: 18px;">
                <a href="#">خبرها</a>
                <a href="#">مقالات</a>
                <a href="#">برگه‌ها</a>
            </div>
        </div>

    </div>

</section>


<style>

</style>



<script src="~/lib/particlesjs/particles.min.js"></script>
<script src="~/lib/particlesjs/type1.js"></script>