@{
    var NewsData = (ParsKyanCrm.Application.Dtos.BasicInfo.NewsAndContentDto)ViewData["news"];
    ViewData["Title"] = @NewsData.Title;
    Layout = "_ArticleBase";
}
@if(!string.IsNullOrEmpty(NewsData.ContentPic)) {
    <img class="article_img" src="@NewsData.ContentPicFull" />
}
<div class="article_title_div">
    <p class="article_titile_p">@NewsData.Title</p>
    <div class="article_title_info_parrent">
        <!--<p>نویسنده: پارس کیان</p>-->
        <p>تاریخ انتشار: دوشنبه ۱۴ آبان ۱۴۰۱</p>
    </div>
</div>
<div class="article_text">
    @Html.Raw(NewsData.Body)
</div>
