


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<section class="contact-page-section">
    <div class="container">

        <div class="inner-container">
                <h1>نمودار سازمانی</h1>
                  
            
        </div>
    </div>
</section>

