


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<section class="contact-page-section">
    <div class="container">

        <div class="inner-container">
            <div style="background-color:white;padding:20px;direction:rtl;text-align:justify;padding-top:50px;padding-bottom:50px">
                <h1 id="ActivityTitle"> </h1>
                <img src="" id="imgUpload_Picture1" />
                <img src="" id="imgUpload_Picture2" />
                <br/>
                <div id="ActivityComment">

                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    <script src="~/js/InitProject.js"></script>
    <script src="~/js/Utility.js"></script>
    <script src="~/js/landing/Activity.js"></script>
    <script>
        Web.Activity.InitActivity(@ViewBag.id);
    </script>
}
