USE [Council]
GO
/****** Object:  User [hamid]    Script Date: 11/5/2022 1:00:13 PM ******/
CREATE USER [hamid] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Meybod]    Script Date: 11/5/2022 1:00:13 PM ******/
CREATE USER [Meybod] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [vam30]    Script Date: 11/5/2022 1:00:13 PM ******/
CREATE USER [vam30] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hamid]
GO
ALTER ROLE [db_owner] ADD MEMBER [Meybod]
GO
ALTER ROLE [db_owner] ADD MEMBER [vam30]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Gender] [bit] NOT NULL,
	[NationalCode] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Tell] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[Signature] [nvarchar](max) NULL,
	[IsCouncilMember] [bit] NOT NULL,
	[IsCouncilBoss] [bit] NOT NULL,
	[IsSiteManager] [bit] NOT NULL,
	[IsWriter1] [bit] NOT NULL,
	[BossHelper] [bit] NOT NULL,
	[IsWriter2] [bit] NOT NULL,
	[IsOtherCouncilMember] [bit] NOT NULL,
	[IsManager] [bit] NOT NULL,
	[IsCouncilGuest] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CanSignatureForLetter] [bit] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GetActiveUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GetActiveUsers]
AS
SELECT        ID, IsActive, UserName AS Expr2
FROM            dbo.Users
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [nvarchar](128) NOT NULL,
	[RoleID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [nvarchar](128) NOT NULL,
	[RoleTitle] [nvarchar](max) NOT NULL,
	[RoleDesc] [nvarchar](max) NOT NULL,
	[JustOne] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_GetUsersWithRole]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_GetUsersWithRole]
AS
SELECT        dbo.Users.FirstName, dbo.Users.LastName, dbo.Users.ID, dbo.Users.IsCouncilBoss, dbo.Users.IsActive, dbo.Users.IsCouncilMember, dbo.Users.Tell, dbo.Users.BossHelper, dbo.Users.IsWriter1, 
                         dbo.Users.IsWriter2, dbo.Users.IsOtherCouncilMember, dbo.Users.IsManager, dbo.Users.UserName
FROM            dbo.Users INNER JOIN
                         dbo.UserRoles ON dbo.Users.ID = dbo.UserRoles.UserID INNER JOIN
                         dbo.Roles ON dbo.UserRoles.RoleID = dbo.Roles.ID
GO
/****** Object:  Table [dbo].[Letters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Letters](
	[ID] [nvarchar](128) NOT NULL,
	[LetterNumber] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreateOn] [nvarchar](20) NULL,
	[Urgency] [bit] NOT NULL,
	[Files] [nvarchar](max) NULL,
	[LetterStatus] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[OutLetter_ID] [nvarchar](128) NULL,
	[Meeting_ID] [nvarchar](128) NULL,
	[CommissionMeeting_ID] [nvarchar](128) NULL,
	[CouncilPeriod_ID] [nvarchar](128) NOT NULL,
	[IsRule] [bit] NULL,
	[SendOut] [bit] NULL,
	[SenderUserId] [nvarchar](128) NULL,
	[IsEdited] [bit] NOT NULL,
	[SignerUserAppId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Letters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutLetters](
	[ID] [nvarchar](128) NOT NULL,
	[Received] [bit] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[OutLetterNumber] [nvarchar](max) NULL,
	[OutLetterDate] [nvarchar](max) NULL,
	[SendDate] [nvarchar](max) NULL,
	[Reciver] [nvarchar](max) NULL,
	[Sender] [nvarchar](max) NULL,
	[Transferee] [nvarchar](max) NULL,
	[Bringer] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[Files] [nvarchar](max) NULL,
	[Archived] [bit] NOT NULL,
	[Removed] [bit] NOT NULL,
	[LetterID] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[BeforeNumber] [nvarchar](max) NULL,
	[NextNumber] [nvarchar](max) NULL,
	[LinkedLetters] [nvarchar](max) NULL,
	[OrginalLetter] [nvarchar](max) NULL,
	[BoxNumber] [nvarchar](max) NULL,
	[CopyTo] [nvarchar](max) NULL,
	[RegisterNumber] [nvarchar](max) NULL,
	[ArchiveCode] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[CouncilPeriod_ID] [nvarchar](128) NULL,
	[Organ_ID] [nvarchar](128) NULL,
	[OutLetterStatus] [tinyint] NULL,
	[OldLetterId] [nvarchar](128) NULL,
	[ConfirmBoss] [bit] NULL,
	[SignatureUserID] [nvarchar](50) NULL,
	[RejectReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OutLetters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[ID] [nvarchar](128) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Peoples] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[NoCouncil] [bit] NOT NULL,
	[MeetingNumber] [nvarchar](max) NULL,
	[CommissionId] [nvarchar](max) NULL,
	[HiddenVoting] [bit] NOT NULL,
	[MeetingHeader_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Meetings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[MeetingResult]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MeetingResult]
AS
SELECT     dbo.Letters.ID AS LetterID, dbo.OutLetters.ID AS OutLetterID, dbo.Meetings.ID AS MeetingID, dbo.OutLetters.Sender, dbo.Letters.CreatedOn, dbo.Meetings.CreatedOn AS MeetingDate, 
                      dbo.OutLetters.Subject, dbo.Letters.Title, dbo.Meetings.[Content], dbo.OutLetters.RegisterNumber, dbo.Meetings.MeetingNumber, dbo.OutLetters.SendDate AS SendDate, 
                      dbo.OutLetters.OutLetterNumber AS LetterNumber, dbo.OutLetters.OutLetterDate
FROM         dbo.OutLetters INNER JOIN
                      dbo.Letters ON dbo.OutLetters.ID = dbo.Letters.OutLetter_ID INNER JOIN
                      dbo.Meetings ON dbo.Letters.Meeting_ID = dbo.Meetings.ID
GO
/****** Object:  View [dbo].[CommissionMeetingResult]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CommissionMeetingResult]
AS
SELECT dbo.Letters.ID AS LetterID, dbo.OutLetters.ID AS OutLetterID, dbo.Meetings.ID AS MeetingID, dbo.OutLetters.Sender, dbo.Letters.CreatedOn, 
                  dbo.Meetings.CreatedOn AS MeetingDate, dbo.OutLetters.Subject, dbo.Letters.Title, dbo.Meetings.[Content], dbo.OutLetters.RegisterNumber, 
                  dbo.Meetings.MeetingNumber, dbo.OutLetters.SendDate, dbo.OutLetters.OutLetterNumber AS LetterNumber, dbo.OutLetters.OutLetterDate
FROM     dbo.OutLetters INNER JOIN
                  dbo.Letters ON dbo.OutLetters.ID = dbo.Letters.OutLetter_ID INNER JOIN
                  dbo.Meetings ON dbo.Letters.CommissionMeeting_ID = dbo.Meetings.ID
GO
/****** Object:  View [dbo].[Vw_Users]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_Users]
AS
SELECT        FirstName, LastName, UserName AS Expr1
FROM            dbo.Users
GO
/****** Object:  View [dbo].[vw_GetUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GetUsers]
AS
SELECT        FirstName, LastName, ID, IsCouncilBoss, IsActive, IsCouncilMember, Tell, BossHelper, IsWriter1, IsWriter2, IsOtherCouncilMember, IsManager, UserName
FROM            dbo.Users
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commission_Users]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commission_Users](
	[Commission_ID] [nvarchar](128) NOT NULL,
	[User_ID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Commission_Users] PRIMARY KEY CLUSTERED 
(
	[Commission_ID] ASC,
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commissions]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commissions](
	[ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Tittle] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CommissionChairman_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Commissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CopyToLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopyToLetters](
	[ID] [nvarchar](128) NOT NULL,
	[OrganID] [nvarchar](128) NULL,
	[OutLetterID] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TypeCopy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CopyToLetters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouncilPeriods]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilPeriods](
	[ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.CouncilPeriods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouncilPeriodUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilPeriodUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CouncilPeriod_ID] [nvarchar](128) NULL,
	[User_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.CouncilPeriodUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefaultStatements]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefaultStatements](
	[ID] [nvarchar](128) NOT NULL,
	[Statement] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.DefaultStatements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drafts]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drafts](
	[ID] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[OwnerId] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.Drafts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DraftUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DraftUsers](
	[Draft_ID] [nvarchar](128) NOT NULL,
	[User_ID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.DraftUsers] PRIMARY KEY CLUSTERED 
(
	[Draft_ID] ASC,
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailInfoes]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailInfoes](
	[ID] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Host] [nvarchar](max) NULL,
	[Port] [int] NOT NULL,
	[Ssl] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EmailInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetterRefrences]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterRefrences](
	[ID] [nvarchar](128) NOT NULL,
	[SenderArchived] [bit] NOT NULL,
	[SenderRemoved] [bit] NOT NULL,
	[Transcript] [nvarchar](max) NULL,
	[CreateOn] [datetime] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Letter_ID] [nvarchar](128) NULL,
	[SenderAppID] [nvarchar](max) NULL,
	[CommissionId] [nvarchar](max) NULL,
	[RefrenceType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LetterRefrences] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetterRefrencesUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterRefrencesUsers](
	[LetterRefrences_ID] [nvarchar](128) NOT NULL,
	[User_ID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.LetterRefrencesUsers] PRIMARY KEY CLUSTERED 
(
	[LetterRefrences_ID] ASC,
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetterStatuses]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetterStatuses](
	[ID] [nvarchar](128) NOT NULL,
	[UserID] [nvarchar](max) NULL,
	[IsNew] [bit] NOT NULL,
	[LetterStatusForUser] [bit] NOT NULL,
	[Archived] [bit] NOT NULL,
	[Removed] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[LetterRefrence_ID] [nvarchar](128) NULL,
	[ReadTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.LetterStatuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingHeaders]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingHeaders](
	[ID] [nvarchar](128) NOT NULL,
	[MeetingNumber] [int] NOT NULL,
	[StartTime] [nvarchar](max) NOT NULL,
	[EndTime] [nvarchar](max) NOT NULL,
	[MeetingType] [tinyint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RegisterDate] [nvarchar](10) NULL,
	[Content] [nvarchar](max) NULL,
	[SessionStatus] [int] NOT NULL,
	[FinalApproved] [bit] NOT NULL,
	[CouncilPeriodsID] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.MeetingHeaders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingUsers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingUsers](
	[ID] [nvarchar](128) NOT NULL,
	[status] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[User_ID] [nvarchar](128) NULL,
	[Meeting_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.MeetingUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[ID] [nvarchar](128) NOT NULL,
	[ContentText] [nvarchar](max) NULL,
	[WriterId] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Letter_ID] [nvarchar](128) NULL,
	[Outletter_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Notes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organs]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organs](
	[ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](20) NULL,
	[Email] [nvarchar](256) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Organs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMSDeliversLogs]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSDeliversLogs](
	[ID] [nvarchar](128) NOT NULL,
	[SendDate] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[SMSErrorCode_ID] [nvarchar](128) NULL,
	[User_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.SMSDeliversLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMSErrorCodes]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSErrorCodes](
	[ID] [nvarchar](128) NOT NULL,
	[ErrorCode] [bigint] NOT NULL,
	[ErrorTxt] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SMSErrorCodes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMSTokens]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSTokens](
	[ID] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[ServerType] [int] NOT NULL,
	[PortalCode] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SMSTokens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[ID] [nvarchar](128) NOT NULL,
	[CouncilName] [nvarchar](max) NOT NULL,
	[CouncilLogo] [nvarchar](max) NOT NULL,
	[Used] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CouncilLoginLogo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SystemSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniqueNumbers]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniqueNumbers](
	[ID] [nvarchar](128) NOT NULL,
	[DateNumber] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[FullNumber] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[LetterType] [int] NULL,
 CONSTRAINT [PK_dbo.UniqueNumbers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uploads]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uploads](
	[ID] [nvarchar](128) NOT NULL,
	[FileAddress] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[OutLetter_ID] [nvarchar](128) NULL,
	[Letter_ID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Uploads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votings]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votings](
	[ID] [nvarchar](128) NOT NULL,
	[VoteStatus] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Letter_ID] [nvarchar](128) NULL,
	[User_ID] [nvarchar](128) NULL,
	[IsCommission] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Votings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CopyToLetters] ADD  DEFAULT ((0)) FOR [TypeCopy]
GO
ALTER TABLE [dbo].[Drafts] ADD  CONSTRAINT [DF_Drafts_OwnerId]  DEFAULT ((1111)) FOR [OwnerId]
GO
ALTER TABLE [dbo].[LetterRefrences] ADD  DEFAULT ((0)) FOR [RefrenceType]
GO
ALTER TABLE [dbo].[Letters] ADD  CONSTRAINT [DF_Letters_IsEdited]  DEFAULT ((0)) FOR [IsEdited]
GO
ALTER TABLE [dbo].[MeetingHeaders] ADD  CONSTRAINT [DF__MeetingHe__IsAct__6FB49575]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MeetingHeaders] ADD  CONSTRAINT [DF__MeetingHe__Regis__70A8B9AE]  DEFAULT ('') FOR [RegisterDate]
GO
ALTER TABLE [dbo].[MeetingHeaders] ADD  CONSTRAINT [DF_MeetingHeaders_SessionStatus]  DEFAULT ((2)) FOR [SessionStatus]
GO
ALTER TABLE [dbo].[MeetingHeaders] ADD  DEFAULT ((0)) FOR [FinalApproved]
GO
ALTER TABLE [dbo].[Meetings] ADD  CONSTRAINT [DF__Meetings__NoCoun__24927208]  DEFAULT ((0)) FOR [NoCouncil]
GO
ALTER TABLE [dbo].[Meetings] ADD  CONSTRAINT [DF__Meetings__Meetin__398D8EEE]  DEFAULT ('') FOR [MeetingNumber]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ('') FOR [CouncilLoginLogo]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Email__2610A626]  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Mobile]  DEFAULT ((912)) FOR [Mobile]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsCouncil__25869641]  DEFAULT ((0)) FOR [IsCouncilBoss]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsSiteMan__267ABA7A]  DEFAULT ((0)) FOR [IsSiteManager]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsWriter1]  DEFAULT ((0)) FOR [IsWriter1]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsWriter2]  DEFAULT ((0)) FOR [IsWriter2]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsOtherCouncilMember]  DEFAULT ((0)) FOR [IsOtherCouncilMember]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsManager]  DEFAULT ((0)) FOR [IsManager]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsCouncilGuest]  DEFAULT ((0)) FOR [IsCouncilGuest]
GO
ALTER TABLE [dbo].[Votings] ADD  DEFAULT ((0)) FOR [IsCommission]
GO
ALTER TABLE [dbo].[Commission_Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Commission_Users_dbo.Commissions_Commission_ID] FOREIGN KEY([Commission_ID])
REFERENCES [dbo].[Commissions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commission_Users] CHECK CONSTRAINT [FK_dbo.Commission_Users_dbo.Commissions_Commission_ID]
GO
ALTER TABLE [dbo].[Commission_Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Commission_Users_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commission_Users] CHECK CONSTRAINT [FK_dbo.Commission_Users_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Commissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Commissions_dbo.Users_CommissionChairman_ID] FOREIGN KEY([CommissionChairman_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Commissions] CHECK CONSTRAINT [FK_dbo.Commissions_dbo.Users_CommissionChairman_ID]
GO
ALTER TABLE [dbo].[CopyToLetters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CopyToLetters_dbo.Organs_OrganID] FOREIGN KEY([OrganID])
REFERENCES [dbo].[Organs] ([ID])
GO
ALTER TABLE [dbo].[CopyToLetters] CHECK CONSTRAINT [FK_dbo.CopyToLetters_dbo.Organs_OrganID]
GO
ALTER TABLE [dbo].[CouncilPeriodUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CouncilPeriodUsers_dbo.CouncilPeriods_CouncilPeriod_ID] FOREIGN KEY([CouncilPeriod_ID])
REFERENCES [dbo].[CouncilPeriods] ([ID])
GO
ALTER TABLE [dbo].[CouncilPeriodUsers] CHECK CONSTRAINT [FK_dbo.CouncilPeriodUsers_dbo.CouncilPeriods_CouncilPeriod_ID]
GO
ALTER TABLE [dbo].[CouncilPeriodUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CouncilPeriodUsers_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[CouncilPeriodUsers] CHECK CONSTRAINT [FK_dbo.CouncilPeriodUsers_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[DraftUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DraftUsers_dbo.Drafts_Draft_ID] FOREIGN KEY([Draft_ID])
REFERENCES [dbo].[Drafts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DraftUsers] CHECK CONSTRAINT [FK_dbo.DraftUsers_dbo.Drafts_Draft_ID]
GO
ALTER TABLE [dbo].[DraftUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DraftUsers_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DraftUsers] CHECK CONSTRAINT [FK_dbo.DraftUsers_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[LetterRefrences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LetterRefrences_dbo.Letters_Letter_ID] FOREIGN KEY([Letter_ID])
REFERENCES [dbo].[Letters] ([ID])
GO
ALTER TABLE [dbo].[LetterRefrences] CHECK CONSTRAINT [FK_dbo.LetterRefrences_dbo.Letters_Letter_ID]
GO
ALTER TABLE [dbo].[LetterRefrencesUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LetterRefrencesUsers_dbo.LetterRefrences_LetterRefrences_ID] FOREIGN KEY([LetterRefrences_ID])
REFERENCES [dbo].[LetterRefrences] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LetterRefrencesUsers] CHECK CONSTRAINT [FK_dbo.LetterRefrencesUsers_dbo.LetterRefrences_LetterRefrences_ID]
GO
ALTER TABLE [dbo].[LetterRefrencesUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LetterRefrencesUsers_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LetterRefrencesUsers] CHECK CONSTRAINT [FK_dbo.LetterRefrencesUsers_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Meetings_dbo.MeetingHeaders_MeetingHeader_ID] FOREIGN KEY([MeetingHeader_ID])
REFERENCES [dbo].[MeetingHeaders] ([ID])
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_dbo.Meetings_dbo.MeetingHeaders_MeetingHeader_ID]
GO
ALTER TABLE [dbo].[MeetingUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingUsers_dbo.Meetings_Meeting_ID] FOREIGN KEY([Meeting_ID])
REFERENCES [dbo].[Meetings] ([ID])
GO
ALTER TABLE [dbo].[MeetingUsers] CHECK CONSTRAINT [FK_dbo.MeetingUsers_dbo.Meetings_Meeting_ID]
GO
ALTER TABLE [dbo].[MeetingUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingUsers_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[MeetingUsers] CHECK CONSTRAINT [FK_dbo.MeetingUsers_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notes_dbo.Letters_Letter_ID] FOREIGN KEY([Letter_ID])
REFERENCES [dbo].[Letters] ([ID])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_dbo.Notes_dbo.Letters_Letter_ID]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notes_dbo.OutLetters_Outletter_ID] FOREIGN KEY([Outletter_ID])
REFERENCES [dbo].[OutLetters] ([ID])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_dbo.Notes_dbo.OutLetters_Outletter_ID]
GO
ALTER TABLE [dbo].[SMSDeliversLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SMSDeliversLogs_dbo.SMSErrorCodes_SMSErrorCode_ID] FOREIGN KEY([SMSErrorCode_ID])
REFERENCES [dbo].[SMSErrorCodes] ([ID])
GO
ALTER TABLE [dbo].[SMSDeliversLogs] CHECK CONSTRAINT [FK_dbo.SMSDeliversLogs_dbo.SMSErrorCodes_SMSErrorCode_ID]
GO
ALTER TABLE [dbo].[SMSDeliversLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SMSDeliversLogs_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SMSDeliversLogs] CHECK CONSTRAINT [FK_dbo.SMSDeliversLogs_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Uploads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uploads_dbo.Letters_Letter_ID] FOREIGN KEY([Letter_ID])
REFERENCES [dbo].[Letters] ([ID])
GO
ALTER TABLE [dbo].[Uploads] CHECK CONSTRAINT [FK_dbo.Uploads_dbo.Letters_Letter_ID]
GO
ALTER TABLE [dbo].[Uploads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uploads_dbo.OutLetters_OutLetter_ID] FOREIGN KEY([OutLetter_ID])
REFERENCES [dbo].[OutLetters] ([ID])
GO
ALTER TABLE [dbo].[Uploads] CHECK CONSTRAINT [FK_dbo.Uploads_dbo.OutLetters_OutLetter_ID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[Votings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votings_dbo.Letters_Letter_ID] FOREIGN KEY([Letter_ID])
REFERENCES [dbo].[Letters] ([ID])
GO
ALTER TABLE [dbo].[Votings] CHECK CONSTRAINT [FK_dbo.Votings_dbo.Letters_Letter_ID]
GO
ALTER TABLE [dbo].[Votings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votings_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Votings] CHECK CONSTRAINT [FK_dbo.Votings_dbo.Users_User_ID]
GO
/****** Object:  StoredProcedure [dbo].[GetAllLaws_Plans]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllLaws_Plans]
as
begin
select letterId,OutLetterId,Title,MeetingId,TypeLetter,OutLetterNumber,OutLettersCreatedOn,OrganName,OrganId from 
	(select letterId,OutLetterId,Title,OutLetterStatus,LetterStatus,OutLettersCreatedOn,OutLetterNumber,OrganName,OrganId,
	                                   MeetingId=Case When Meeting_ID is not null then Meeting_ID 
													 when CommissionMeeting_ID is not null then CommissionMeeting_ID 												 
												 End,
									   TypeLetter=Case When OutLetterStatus >=4 and OutLetterStatus<=6 then 1 
													 when OutLetterStatus =2 then 2 
												 End	
	 from 
			(select Letters.ID letterId,OutLetters.ID OutLetterId, Letters.Title,OutLetters.OutLetterStatus,Letters.LetterStatus,letters.CommissionMeeting_ID,letters.Meeting_ID,Letters.CreatedOn lettersCreatedOn,OutLetters.OutLetterNumber ,OutLetters.CreatedOn OutLettersCreatedOn,Organs.Name OrganName,Organs.ID OrganId
			from letters 
			left join OutLetters on Letters.OutLetter_ID=OutLetters.ID
			left join Organs on Organs.ID=OutLetters.Organ_ID
			left join CouncilPeriods on OutLetters.CouncilPeriod_ID=CouncilPeriods.ID
			where CouncilPeriods.IsActive=1 and OutLetters.Deleted=0 and (OutLetters.OutLetterStatus=2 or (OutLetters.OutLetterStatus>=4 and OutLetters.OutLetterStatus<=6) )
			)SpecialLetters where LetterStatus!=11 and LetterStatus!=12)SpecialMeetingLetters
left join Meetings on Meetings.ID=SpecialMeetingLetters.MeetingId where Meetings.Content is null 
order by OutLettersCreatedOn desc
end
GO
/****** Object:  StoredProcedure [dbo].[GetSomeLaws_Plans]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetSomeLaws_Plans]
@Skip int,
@Take int	
as
begin
select letterId,OutLetterId,Title,MeetingId,TypeLetter,OutLetterNumber,OutLettersCreatedOn,OrganName,OrganId from 
	(select letterId,OutLetterId,Title,OutLetterStatus,LetterStatus,OutLettersCreatedOn,OutLetterNumber,OrganName,OrganId,
	                                   MeetingId=Case When Meeting_ID is not null then Meeting_ID 
													 when CommissionMeeting_ID is not null then CommissionMeeting_ID 												 
												 End,
									   TypeLetter=Case When OutLetterStatus >=4 and OutLetterStatus<=6 then 1 
													 when OutLetterStatus =2 then 2 
												 End	
	 from 
			(select Letters.ID letterId,OutLetters.ID OutLetterId, Letters.Title,OutLetters.OutLetterStatus,Letters.LetterStatus,letters.CommissionMeeting_ID,letters.Meeting_ID,Letters.CreatedOn lettersCreatedOn,OutLetters.OutLetterNumber ,OutLetters.CreatedOn OutLettersCreatedOn,Organs.Name OrganName,Organs.ID OrganId
			from letters 
			left join OutLetters on Letters.OutLetter_ID=OutLetters.ID
			left join Organs on Organs.ID=OutLetters.Organ_ID
			left join CouncilPeriods on OutLetters.CouncilPeriod_ID=CouncilPeriods.ID
			where CouncilPeriods.IsActive=1 and OutLetters.Deleted=0 and (OutLetters.OutLetterStatus=2 or (OutLetters.OutLetterStatus>=4 and OutLetters.OutLetterStatus<=6) )
			)SpecialLetters where LetterStatus!=11 and LetterStatus!=12 )SpecialMeetingLetters
left join Meetings on Meetings.ID=SpecialMeetingLetters.MeetingId where Meetings.Content is null 
order by OutLettersCreatedOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Deleted',
       CASE WHEN (letterWithReffrences.HasOutLetterNote>0) Then @true Else @false END 'HasOutLetterNote',
	   CASE WHEN (letterWithReffrences.HasLetterNote>0) Then @true Else @false END 'HasLetterNote',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId),
		  'HasLetterNote'=(select COUNT(ID) from Notes where Letter_ID=letters.ID),
		  'HasOutLetterNote'=(select COUNT(ID) from Notes where Outletter_ID=letters.OutLetter_ID)
		  
			
FROM    dbo.Letters letters
        left join Notes on letters.ID=Notes.Letter_ID
        left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
        INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID

where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1  
      and letterWithReffrences.ArchivedBySender=0 and letterWithReffrences.ArchivedByUser=0
	  and letterWithReffrences.DeleteBySender=0 and letterWithReffrences.DeletedByReciver=0
order by letterWithReffrences.CreateOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetArchivedLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetArchivedLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin
declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Archived',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
          left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 and (letterWithReffrences.ArchivedByUser>0 or letterWithReffrences.ArchivedBySender>0)
order by letterWithReffrences.CreateOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCouncilLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCouncilLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Archived',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
          left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 and letterWithReffrences.LetterStatus>3
order by letterWithReffrences.CreateOn desc
--OFFSET @Skip ROWS 
--FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLetters]
	@userId nvarchar(128),
	@LetterType int,
	@Skip int,
	@Take int	
AS
begin


declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Archived',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 
order by letterWithReffrences.CreateOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetLettersCount]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLettersCount]
	@userId nvarchar(128),
	@LetterType int
		
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Deleted',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOutLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOutLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Archived',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 and letterWithReffrences.OutLetter_ID is not null and LEN(letterWithReffrences.OutLetter_ID)>0
order by letterWithReffrences.CreateOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetOutOfReadyForCouncilLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOutOfReadyForCouncilLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Archived',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
          left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 and letterWithReffrences.LetterStatus>10
order by letterWithReffrences.CreatedOn desc
--OFFSET @Skip ROWS 
--FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRemovedLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRemovedLetters]
	@userId nvarchar(128),
	@Skip int,
	@Take int	
AS
begin

declare @true bit
declare @false bit

set @true=1
set @false=0
 
Select CASE WHEN (letterWithReffrences.ArchivedBySender > 0 or letterWithReffrences.ArchivedByUser >0) THEN @true ELSE @false END 'Archived',
	   CASE WHEN (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0) THEN @true ELSE @false END 'Deleted',
	   letterWithReffrences.CreatedOn,letterWithReffrences.SenderAppID,letterWithReffrences.ID,
	   letterWithReffrences.LastRefrenceDate,letterWithReffrences.LetterNumber,letterWithReffrences.LetterStatus,
	   letterWithReffrences.OutLetter_ID,letterWithReffrences.Title,letterWithReffrences.Urgency
 from (
SELECT  letters.*,
          letterRefrense.SenderAppID,letterRefrense.CreatedOn as 'co',letterRefrense.ID as LetterRefrence_ID,
          ROW_NUMBER() OVER(PARTITION BY letters.ID ORDER BY letterRefrense.CreatedOn ASC) AS ROWNUM,
		  		  'LastRefrenceDate'=(select top 1 CreatedOn from LetterRefrences where LetterRefrences.Letter_ID=letters.ID order by CreatedOn desc)
		  ,'ArchivedByUser'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Archived=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in(select ID from LetterRefrences where Letter_ID=letters.ID))
		  ,'ArchivedBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderArchived=1  and lr.SenderAppID=@userId and lr.Letter_ID=letters.ID)

		  ,'DeletedByReciver'=
				(select COUNT(ID) from LetterStatuses 
				where LetterStatuses.Removed=1 and LetterStatuses.UserID=@userId and LetterStatuses.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letters.ID))

		  ,'DeleteBySender'=
		  (select COUNT(ID) from LetterRefrences lr where lr.SenderRemoved=1 and lr.ID=letterRefrense.ID and lr.SenderAppID=@userId)
			
FROM    dbo.Letters letters
left join CouncilPeriods cp on Letters.CouncilPeriod_ID=cp.ID
          INNER JOIN LetterRefrences letterRefrense ON letters.ID = letterRefrense.Letter_ID
where
			(letters.ID in(select Letter_ID from LetterRefrences where SenderAppID=@userId)
			or
			letters.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID from LetterRefrencesUsers where LetterRefrencesUsers.User_ID=@userId ))) and cp.IsActive=1 and letters.Deleted=0
)letterWithReffrences
where letterWithReffrences.ROWNUM=1 and (letterWithReffrences.DeleteBySender > 0 or letterWithReffrences.DeletedByReciver >0)
order by letterWithReffrences.CreateOn desc
OFFSET @Skip ROWS 
FETCH NEXT @Take ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[sp_MyDrafts]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MyDrafts]
	@userId nvarchar(128)
	

AS
begin
declare @HaveAttachment bit

declare @deleted bit

select * from Drafts draft
where draft.Deleted=0 and draft.ID in
 (select Draft_ID from DraftUsers draftUser where draftUser.User_ID=@userId)

end



GO
/****** Object:  StoredProcedure [dbo].[sp_MyLetters]    Script Date: 11/5/2022 1:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MyLetters]
	@UserID nvarchar(128)
AS
begin
select t.*,commissions.Name as 'CommissionName' 
from (select letter.ID,letter.Title,letter.LetterStatus,letter.CreatedOn ,
		'LetterNumber'=(select OutLetterNumber 
						from Letters letterss left join OutLetters on letterss.OutLetter_ID=OutLetters.ID 
						where letterss.ID=letter.ID),
        'IsRule'=(select Content 
				  from Meetings 
				  where ID=letter.CommissionMeeting_ID and letter.LetterStatus=10),
		'IsNew'=(select count(IsNew) 
		         from LetterStatuses ls 
				 where ls.LetterRefrence_ID in (select ID from LetterRefrences where LetterRefrences.Letter_ID=letter.ID)),
	    'CommissionId'=(select top(1) CommissionId from LetterRefrences 
	                    where LetterRefrences.Letter_ID=letter.ID and 
						LetterRefrences.CommissionId is not null 
						order by LetterRefrences.CreatedOn desc) 

from Letters letter
left join CouncilPeriods cp on letter.CouncilPeriod_ID=cp.ID

 where cp.IsActive=1 and letter.Deleted=0 and (letter.ID in(select Letter_ID from LetterRefrences where SenderAppID=@UserID)
			or
			letter.ID in(select Letter_ID from LetterRefrences where LetterRefrences.ID
					in ( select LetterRefrencesUsers.LetterRefrences_ID 
					     from LetterRefrencesUsers 
						 where LetterRefrencesUsers.User_ID=@UserID 
						)
					   )
)
and letter.Deleted=0
) t
left join Commissions commissions on t.CommissionId=commissions.ID
where t.LetterStatus in(3,4,5,7,8,9,10,13,20)
order by t.CreatedOn desc
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[47] 4[37] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OutLetters"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Letters"
            Begin Extent = 
               Top = 6
               Left = 249
               Bottom = 226
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Meetings"
            Begin Extent = 
               Top = 6
               Left = 486
               Bottom = 126
               Right = 650
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1716
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CommissionMeetingResult'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CommissionMeetingResult'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OutLetters"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 269
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Letters"
            Begin Extent = 
               Top = 36
               Left = 303
               Bottom = 255
               Right = 463
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Meetings"
            Begin Extent = 
               Top = 3
               Left = 617
               Bottom = 204
               Right = 777
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeetingResult'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeetingResult'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[22] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 229
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 14
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GetUsers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GetUsers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 6
               Left = 281
               Bottom = 197
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 18
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_Users'
GO
