USE [ParsKiyanDB]
GO
/****** Object:  Table [dbo].[AdvisorsANDAuditors]    Script Date: 10/19/2022 9:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdvisorsANDAuditors](
	[Compony_Id] [int] NOT NULL,
	[AuditorsName] [varchar](255) NULL,
	[RegisterationId] [int] NULL,
	[Classification] [varchar](255) NULL,
	[Attorney] [varchar](255) NULL,
	[Comment] [varchar](255) NULL,
	[FiscalYear] [varchar](10) NULL,
	[magor] [varchar](50) NULL,
	[grade] [int] NULL,
	[AssignmentDate] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AuditInstitutions]    Script Date: 10/19/2022 9:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditInstitutions](
	[AuditInstitutions_Id] [int] NOT NULL,
	[Institute_code] [nvarchar](20) NULL,
	[Institute_Name] [nvarchar](255) NULL,
	[Partner_Code] [nvarchar](20) NULL,
	[Partner_Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Tel] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditInstitutions_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BalanceSheet]    Script Date: 10/19/2022 9:49:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BalanceSheet](
	[Company_Id] [int] IDENTITY(1,1) NOT NULL,
	[MonthCovered] [int] NOT NULL,
	[PeriodEndToDate] [varchar](10) NOT NULL,
	[StatementDate] [varchar](10) NOT NULL,
	[ConsolidateOrUnconsolidate] [int] NULL,
	[QualifiedOrUnQualified] [int] NULL,
	[CompanyCompany_Id] [int] NOT NULL,
	[TangibileAssets] [bigint] NULL,
	[LandAndBuilding] [bigint] NULL,
	[FreeholdLand] [bigint] NULL,
	[LeaseHoldLand] [bigint] NULL,
	[FixtureAndFittings] [bigint] NULL,
	[PlantAndVehicles] [bigint] NULL,
	[Plant] [bigint] NULL,
	[Vehicles] [bigint] NULL,
	[StockAndWIP] [bigint] NULL,
	[Stock] [bigint] NULL,
	[WIP] [bigint] NULL,
	[FinishedGoods] [bigint] NULL,
	[TradeDeptors] [bigint] NULL,
	[BankAndDeposit] [bigint] NULL,
	[OtherCurrentAsset] [bigint] NULL,
	[GroupLoansAsset] [bigint] NULL,
	[Investment] [bigint] NULL,
	[CurrentAssets] [bigint] NULL,
	[OtherDeptor] [bigint] NULL,
	[TradeCreditors] [bigint] NULL,
	[ShortTermLoansAndOverDrafts] [bigint] NULL,
	[BankOverDraft] [bigint] NULL,
	[GroupLoansShortTerm] [bigint] NULL,
	[DirectorLoans] [bigint] NULL,
	[HirePurchesShortTerm] [bigint] NULL,
	[LeasingShortTerm] [bigint] NULL,
	[OtherShortTermLoans] [bigint] NULL,
	[TotalOtherCurrentLiabilities] [bigint] NULL,
	[CorporationTax] [bigint] NULL,
	[Dividends] [bigint] NULL,
	[AccrualsAndDefIncShortTerm] [bigint] NULL,
	[SocialSecurityAndVAT] [bigint] NULL,
	[OtherCurrentLiabilities] [bigint] NULL,
	[CurrentLiabilities] [bigint] NULL,
	[NetCurrentAssetLiab] [bigint] NULL,
	[NetTrigibleAssetLiab] [bigint] NULL,
	[LongTermDept] [bigint] NULL,
	[GroupLoansLongTerm] [bigint] NULL,
	[DirectorsLoansLongTerm] [bigint] NULL,
	[HirePurchesLongTerm] [bigint] NULL,
	[LeasingLongTerm] [bigint] NULL,
	[OtherLongTermLoans] [bigint] NULL,
	[TotalOtherLongTermLiab] [bigint] NULL,
	[AccrualsAndDefIncLongTerm] [bigint] NULL,
	[OtherLongTermLiab] [bigint] NULL,
	[PeriviewsForOtherLiab] [bigint] NULL,
	[DeferredTax] [bigint] NULL,
	[OtherProvisions] [bigint] NULL,
	[PersionLiabilities] [bigint] NULL,
	[BalancesheetMinorities] [bigint] NULL,
	[LongTermLiabilities] [bigint] NULL,
	[TotalAssetLessLiabilities] [bigint] NULL,
	[IssuedCapital] [bigint] NULL,
	[OrdinaryShares] [bigint] NULL,
	[PreferenceShare] [bigint] NULL,
	[OtherShares] [bigint] NULL,
	[TotalReserves] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bimeh_Balancesheet]    Script Date: 10/19/2022 9:49:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimeh_Balancesheet](
	[Company_Id] [int] NOT NULL,
	[Fiscal Date] [nvarchar](255) NOT NULL,
	[Issue Date] [nvarchar](255) NULL,
	[Cash] [float] NULL,
	[Short Term Investments] [float] NULL,
	[Receivable from Policyholders, Agents and Brokers(TradeNotesAndA] [float] NULL,
	[Receivable from Insurers and Reinsurers(ReceivableFromAffiliated] [float] NULL,
	[Non-trade Receivables] [float] NULL,
	[Reinsurers Share from Technical Reserves] [float] NULL,
	[Assets for Sale] [float] NULL,
	[Long Term Notes and Accounts Receivable] [float] NULL,
	[Long Term Investments] [float] NULL,
	[Tangible Fixed Assets] [float] NULL,
	[Intangible Assets] [float] NULL,
	[Other Assets] [float] NULL,
	[Total Assets] [float] NULL,
	[Payables to Policyholders Agents and Brokers] [float] NULL,
	[Payables to Insurer and Reinsurer] [float] NULL,
	[Non-trade Payables] [float] NULL,
	[Allowance for Income Tax] [float] NULL,
	[Dividends Payable] [float] NULL,
	[Insurance Premium Reserves] [float] NULL,
	[Deferred Damage Reserves] [float] NULL,
	[Non-matured Risks Reserves] [float] NULL,
	[Other Technical Reserves] [float] NULL,
	[Liabilities Associated With Non-current Assets] [float] NULL,
	[Insurance Premium Not Realized] [float] NULL,
	[Long Term Debt] [float] NULL,
	[Allowance for Post Retirement] [float] NULL,
	[Other Liabilities] [float] NULL,
	[Total Liabilities] [float] NULL,
	[Common Stock] [float] NULL,
	[Capital Surplus] [float] NULL,
	[Receives for Capital Advance] [float] NULL,
	[Legal Reserve] [float] NULL,
	[Capital Reserve] [float] NULL,
	[Other Reserves] [float] NULL,
	[Revaluation Surplus (Non-current Assets For Sale)] [float] NULL,
	[Revaluation Surplus] [float] NULL,
	[Exchange Reserve (Governmental Corporations)] [float] NULL,
	[Retained Earnings] [float] NULL,
	[Total Stockholders Equity] [float] NULL,
	[Total Liabilities and Stockholders Equity] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC,
	[Fiscal Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bimeh_CashFlow]    Script Date: 10/19/2022 9:49:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimeh_CashFlow](
	[Company_Id] [int] NOT NULL,
	[Fiscal Date] [nvarchar](255) NOT NULL,
	[Issue Date] [nvarchar](255) NULL,
	[Net Operating Activities Ordinary] [float] NULL,
	[Net Operating Activities Exceptional] [float] NULL,
	[Net Cash Flow From Operating Activities] [float] NULL,
	[Dividends Received] [nvarchar](255) NULL,
	[Dividends Paid] [float] NULL,
	[Interest Paid for Borrowing] [float] NULL,
	[Dividends Received from Other Investment] [nvarchar](255) NULL,
	[Net Cash Flow from Investment Returns and Financing Costs] [float] NULL,
	[Income Tax Payments] [float] NULL,
	[Proceeds from Sale Of Property] [float] NULL,
	[Purchase of Property] [float] NULL,
	[Proceeds from Sale of Intangible Assets] [float] NULL,
	[Purchase of Intangible Assets] [float] NULL,
	[Proceeds From Sale of Non-current Investments] [float] NULL,
	[Purchase of Non-current Investments] [float] NULL,
	[Proceeds from Sale of Current Investments] [float] NULL,
	[Purchase of Current Investment] [float] NULL,
	[Net Cash Flow from Investing Activities] [float] NULL,
	[Net Cash Flow Before Financing Activities] [float] NULL,
	[Proceeds from Issuing Shares] [float] NULL,
	[Proceeds from Borrowings] [float] NULL,
	[Repayments of Borrowings] [float] NULL,
	[Net Cash Flow from Financing Activities] [float] NULL,
	[Net Increase In Cash] [float] NULL,
	[Cash at Beginning of Period] [float] NULL,
	[Exchange Rate Changes on Cash] [float] NULL,
	[Cash at End of Period] [float] NULL,
	[Non Cash Transactions] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC,
	[Fiscal Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bimeh_Income]    Script Date: 10/19/2022 9:49:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimeh_Income](
	[Company_Id] [int] NOT NULL,
	[Fiscal Date] [nvarchar](255) NOT NULL,
	[Issue Date] [nvarchar](255) NULL,
	[Written Premium] [float] NULL,
	[Decrease (Increase) in Premium Reserves] [float] NULL,
	[Premium Earned] [float] NULL,
	[Reinsurance Transfer Premium] [float] NULL,
	[Increase (Decrease) in Reinsurance Transfer Premium Reserves] [float] NULL,
	[Expense of Reinsurance Transfer Premium] [float] NULL,
	[Premium Earned (Retention)] [float] NULL,
	[Expert Fees and Indemniy Paid] [float] NULL,
	[Decrease (Increase) in Damage Reserves] [float] NULL,
	[Cost of Claims] [float] NULL,
	[Cost of Claims Received from Reinsurers] [float] NULL,
	[Increase (Decrease) in Deferred Claims of Reinsurance Transfer] [float] NULL,
	[Cost of Claims (Reinsurers' Share)] [float] NULL,
	[Cost of Claims (Retention)] [float] NULL,
	[Commission Expense and interest fees] [float] NULL,
	[Commission Income and commissions on reinsurance] [float] NULL,
	[Commission Expense (Retention)] [float] NULL,
	[Decrease (Increase) in Other Technical Reserves] [float] NULL,
	[Bodily Injury Fund Share Expense] [float] NULL,
	[Police Department Share Expense] [float] NULL,
	[Health Department Share Expense] [float] NULL,
	[Other Insurance Expenses] [float] NULL,
	[Net Other Insurance Revenue and Expenses] [float] NULL,
	[Gross Profit (Loss) Befor Technical Reserve Investment Income] [float] NULL,
	[Investment Income from Technical Reserves] [float] NULL,
	[Gross Profit of Insurance Activities] [float] NULL,
	[Income from Investment Out of Other Resources] [float] NULL,
	[Sales, General and Administrative Expense] [float] NULL,
	[Operating Profit (Loss)] [float] NULL,
	[Finance Expense] [float] NULL,
	[Net Other Non-operating Gains and Expenses] [float] NULL,
	[Earning Before Tax] [float] NULL,
	[Income Tax Expense] [float] NULL,
	[Net Income (Loss) from Continuing Operation] [float] NULL,
	[Earning Per Share] [float] NULL,
	[Listed Capital] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC,
	[Fiscal Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bimeh_Perf]    Script Date: 10/19/2022 9:49:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimeh_Perf](
	[Company_Id] [float] NULL,
	[Fiscal Date] [nvarchar](255) NULL,
	[درمان] [nvarchar](255) NULL,
	[ثالث - اجباری] [nvarchar](255) NULL,
	[ثالث - مازاد و دیه] [nvarchar](255) NULL,
	[حوادث سرنشین] [nvarchar](255) NULL,
	[بدنه خودرو] [nvarchar](255) NULL,
	[آتش سوزی] [nvarchar](255) NULL,
	[باربری] [nvarchar](255) NULL,
	[مسئولیت] [nvarchar](255) NULL,
	[مهندسی] [nvarchar](255) NULL,
	[کشتی] [nvarchar](255) NULL,
	[هواپیما] [nvarchar](255) NULL,
	[نفت و انرژی] [nvarchar](255) NULL,
	[حوادث] [nvarchar](255) NULL,
	[اعتباری] [float] NULL,
	[زندگی - اندوخته دار] [nvarchar](255) NULL,
	[زندگی - غیر اندوخته دار] [nvarchar](255) NULL,
	[پول] [float] NULL,
	[سایر] [float] NULL,
	[جمع مبلغ حق بیمه صادره] [nvarchar](255) NULL,
	[درمان1] [nvarchar](255) NULL,
	[ثالث - اجباری1] [nvarchar](255) NULL,
	[ثالث - مازاد و دیه1] [nvarchar](255) NULL,
	[حوادث سرنشین1] [nvarchar](255) NULL,
	[بدنه خودرو1] [nvarchar](255) NULL,
	[آتش سوزی1] [nvarchar](255) NULL,
	[باربری1] [nvarchar](255) NULL,
	[مسئولیت1] [nvarchar](255) NULL,
	[مهندسی1] [nvarchar](255) NULL,
	[کشتی1] [float] NULL,
	[هواپیما1] [float] NULL,
	[نفت و انرژی1] [float] NULL,
	[حوادث1] [nvarchar](255) NULL,
	[اعتباری1] [float] NULL,
	[زندگی - اندوخته دار1] [nvarchar](255) NULL,
	[زندگی - غیر اندوخته دار1] [nvarchar](255) NULL,
	[پول1] [float] NULL,
	[سایر1] [float] NULL,
	[جمع مبلغ خسارت پرداختی] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bimeh_R]    Script Date: 10/19/2022 9:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bimeh_R](
	[Company_Id] [float] NULL,
	[FiscalDate] [nvarchar](255) NULL,
	[حاشیه سود ناخالص] [float] NULL,
	[حاشیه سود عملیاتی] [float] NULL,
	[حاشیه سود خالص] [float] NULL,
	[بازده دارایی ها] [float] NULL,
	[بازده حقوق صاحبان سهام] [float] NULL,
	[نسبت سود قبل از بهره و مالیات به دارایی] [float] NULL,
	[نسبت درامد های سرمایه گذاری به درآمد] [float] NULL,
	[ضریب خسارت] [float] NULL,
	[نسبت هزینه] [float] NULL,
	[نسبت ترکیبی] [float] NULL,
	[نسبت عملیاتی] [float] NULL,
	[نسبت بیمه اتکایی] [float] NULL,
	[اهرم حق بیمه صادره] [float] NULL,
	[جمع بدهی ها به جمع دارایی ها] [float] NULL,
	[جمع بدهی ها به حقوق صاحبان سهام] [float] NULL,
	[نسبت وجه نقد آزاد شرکت به درآمد] [float] NULL,
	[نسبت وجه نقد آزاد شرکت به سود خالص] [float] NULL,
	[نسبت جریان نقد سهامداران به درآمد] [float] NULL,
	[نسبت جریان نقد سهامداران به سود خالص] [float] NULL,
	[نسبت مخارج سرمایه ای به درآمد] [float] NULL,
	[نسبت مخارج سرمایه ای به سود خالص] [float] NULL,
	[نسبت وجه نقد عملیاتی به درآمد] [float] NULL,
	[نسبت وجه نقد عملیاتی به جمع بدهی ها] [float] NULL,
	[ارزش بنگاه] [float] NULL,
	[ارزش دفتری] [float] NULL,
	[وجوه نقد عملیاتی] [float] NULL,
	[وجه نقد آزاد شرکت] [float] NULL,
	[وجه نقد آزاد سهامداران] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommiteeType]    Script Date: 10/19/2022 9:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommiteeType](
	[CommiteeType_Id] [int] NOT NULL,
	[CommiteeCode] [varchar](10) NULL,
	[CommiteeType] [varchar](50) NULL,
	[CommiteeTiTle] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommiteeType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 10/19/2022 9:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[Industry_Id] [int] NOT NULL,
	[Company_Id] [int] NOT NULL,
	[LegalForm_Id] [int] NOT NULL,
	[BVDIdNumber] [int] NULL,
	[RegisteredComponyNumber] [varchar](50) NULL,
	[Compony_Name] [varchar](100) NULL,
	[BrandName] [varchar](100) NULL,
	[IsnNumber] [varchar](20) NULL,
	[OwnClassification] [varchar](100) NULL,
	[TikerSymbol] [varchar](10) NULL,
	[Country] [varchar](100) NULL,
	[county] [varchar](50) NULL,
	[AllComponiesWith] [varchar](255) NULL,
	[PostCode] [varchar](50) NULL,
	[TelDialingArea] [varchar](255) NULL,
	[AddressText] [varchar](255) NULL,
	[NumberOfTradingAddress] [varchar](255) NULL,
	[PostalRegions] [varchar](255) NULL,
	[NUTSregions] [varchar](255) NULL,
	[GovermentRegions] [varchar](255) NULL,
	[R/OAddress] [varchar](255) NULL,
	[R/OAddress1] [varchar](255) NULL,
	[R/OAddress2] [varchar](255) NULL,
	[R/OAddress3] [varchar](255) NULL,
	[R/OAddress4] [varchar](255) NULL,
	[R/OAddress5] [varchar](255) NULL,
	[R/OPostCode] [varchar](50) NULL,
	[R/OFullPostCode] [varchar](50) NULL,
	[R/OCity] [varchar](50) NULL,
	[R/OCountry] [varchar](50) NULL,
	[R/OPhone] [varchar](100) NULL,
	[Website] [varchar](255) NULL,
	[TelNO4] [int] NULL,
	[TelNO3] [int] NULL,
	[TelNO1] [int] NULL,
	[TelNo2] [int] NULL,
	[CompaniesWithPhoneNumber] [varchar](255) NULL,
	[CompaniesWithPhoneNumberRegisteredOn] [varchar](255) NULL,
	[CompaniesWithWebsite] [varchar](255) NULL,
	[TPSorCTPS] [varchar](255) NULL,
	[PhoneProfile] [varchar](255) NULL,
	[EstablishedYear] [varchar](10) NULL,
 CONSTRAINT [PK__Company__5F5D191213CA4337] PRIMARY KEY CLUSTERED 
(
	[Industry_Id] ASC,
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company_Comitee]    Script Date: 10/19/2022 9:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company_Comitee](
	[Commitee_Id] [int] NOT NULL,
	[Compony_Id] [int] NOT NULL,
	[Member_Name] [varchar](100) NULL,
	[NationalId] [varchar](20) NULL,
	[Post] [varchar](100) NULL,
	[Education] [int] NULL,
	[Nature] [int] NULL,
	[Execation] [int] NULL,
	[Dependet] [int] NULL,
	[Member_Financial] [int] NULL,
	[Magor] [varchar](100) NULL,
	[Member_Date] [varchar](10) NULL,
	[Member_Info] [varchar](250) NULL,
	[Fiscal_Date] [varchar](10) NULL,
	[CommiteeType_Id] [int] NOT NULL,
	[Job] [varchar](100) NULL,
	[AgencyCompony] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Commitee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_Directors]    Script Date: 10/19/2022 9:49:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_Directors](
	[Director_Id] [int] NOT NULL,
	[Compony_Id] [int] NOT NULL,
	[DirectorsName] [varchar](255) NULL,
	[PositionOrFunction] [varchar](255) NULL,
	[AppointmentDate] [varchar](10) NULL,
	[RsignationDate] [varchar](10) NULL,
	[Contact_NO] [varchar](255) NULL,
	[YearOfBirths] [varchar](10) NULL,
	[ExecationOrNonExecation] [int] NULL,
	[ِDependentOrDependet] [int] NULL,
	[GA_Date] [varchar](10) NULL,
	[BoardMeetingDate] [varchar](10) NULL,
	[NationalIDNo] [varchar](20) NULL,
	[Education] [int] NULL,
	[NationalIDOfCompony] [varchar](20) NULL,
	[Job] [varchar](100) NULL,
	[Resume] [text] NULL,
	[Magor] [nvarchar](50) NULL,
	[AgencyName] [varchar](50) NULL,
	[Nature] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Director_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_HumanResources]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_HumanResources](
	[Company_Id] [nvarchar](255) NULL,
	[Id_No] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[contract] [nvarchar](255) NULL,
	[contract_type] [nvarchar](255) NULL,
	[education] [nvarchar](255) NULL,
	[work_exprience] [nvarchar](255) NULL,
	[salery] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company_New]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_New](
	[Industry_Id] [int] NOT NULL,
	[Company_Id] [int] NOT NULL,
	[LegalForm_Id] [int] NOT NULL,
	[BVDIdNumber] [int] NULL,
	[RegisteredComponyNumber] [varchar](50) NULL,
	[Compony_Name] [varchar](100) NULL,
	[BrandName] [varchar](100) NULL,
	[IsnNumber] [varchar](20) NULL,
	[OwnClassification] [varchar](100) NULL,
	[TikerSymbol] [varchar](10) NULL,
	[Country] [varchar](100) NULL,
	[county] [varchar](50) NULL,
	[AllComponiesWith] [varchar](255) NULL,
	[PostCode] [varchar](50) NULL,
	[TelDialingArea] [varchar](255) NULL,
	[AddressText] [varchar](255) NULL,
	[NumberOfTradingAddress] [varchar](255) NULL,
	[PostalRegions] [varchar](255) NULL,
	[NUTSregions] [varchar](255) NULL,
	[GovermentRegions] [varchar](255) NULL,
	[R/OAddress] [varchar](255) NULL,
	[R/OAddress1] [varchar](255) NULL,
	[R/OAddress2] [varchar](255) NULL,
	[R/OAddress3] [varchar](255) NULL,
	[R/OAddress4] [varchar](255) NULL,
	[R/OAddress5] [varchar](255) NULL,
	[R/OPostCode] [varchar](50) NULL,
	[R/OFullPostCode] [varchar](50) NULL,
	[R/OCity] [varchar](50) NULL,
	[R/OCountry] [varchar](50) NULL,
	[R/OPhone] [varchar](100) NULL,
	[Website] [varchar](255) NULL,
	[TelNO4] [varchar](50) NULL,
	[TelNO3] [varchar](50) NULL,
	[TelNO1] [varchar](50) NULL,
	[TelNo2] [varchar](50) NULL,
	[CompaniesWithPhoneNumber] [varchar](255) NULL,
	[CompaniesWithPhoneNumberRegisteredOn] [varchar](255) NULL,
	[CompaniesWithWebsite] [varchar](255) NULL,
	[TPSorCTPS] [varchar](255) NULL,
	[PhoneProfile] [varchar](255) NULL,
	[EstablishedYear] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Industry_Id] ASC,
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company_Shareholder]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_Shareholder](
	[Company_Id] [int] NOT NULL,
	[Shareholder_Compony_Id] [int] NOT NULL,
	[NationalIDNo] [varchar](20) NULL,
	[Shareholder_Name] [varchar](255) NULL,
	[Perc_Share] [float] NULL,
	[NumbwrOfShare] [bigint] NULL,
	[FiscalDate] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC,
	[Shareholder_Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Activities]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Activities](
	[Compony_Id] [int] NOT NULL,
	[Activities] [text] NULL,
	[FiscalDate] [varchar](10) NULL,
	[StandardPeerGroup] [text] NULL,
 CONSTRAINT [PK_Compony_Activities] PRIMARY KEY CLUSTERED 
(
	[Compony_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compony_Ownership]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compony_Ownership](
	[Ownership_Id] [int] NOT NULL,
	[Compony_Id] [int] NOT NULL,
	[TypeOfShareholder_Id] [int] NULL,
	[CurrentSubsidiaries_Id] [int] NOT NULL,
	[Shareholder_Code] [varchar](50) NULL,
	[Shareholder_Name] [varchar](255) NULL,
	[NationalIDNo] [varchar](20) NULL,
	[PercentSHare] [real] NULL,
	[ownershipStructure] [varchar](255) NULL,
	[CorporateGroup] [varchar](1000) NULL,
	[ControllingShareholders] [varchar](1000) NULL,
	[PSCRegister] [varchar](255) NULL,
	[FiscalDate] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ownership_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[industry]    Script Date: 10/19/2022 9:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[industry](
	[Industry_Id] [int] NOT NULL,
	[Industry_Code] [varchar](10) NULL,
	[Industry_Name] [varchar](100) NULL,
	[TradeDescription] [varchar](255) NULL,
	[SIC_Classification] [varchar](255) NULL,
	[MajarSectors] [varchar](255) NULL,
	[AllCompanies] [varchar](255) NULL,
	[NAICS_CODE] [int] NULL,
	[US_SIC_CODE] [int] NULL,
	[Comment] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Industry_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Industry_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ISIC2014]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISIC2014](
	[ISIC_ID] [int] NOT NULL,
	[ISIC_NameFasi] [nvarchar](255) NULL,
	[ISIC_NameLatin] [nvarchar](255) NULL,
	[ISIC_SerialCode] [nvarchar](20) NOT NULL,
	[Tareff] [nvarchar](100) NULL,
	[Field] [nvarchar](20) NULL,
	[Detail] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISIC_SerialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NumberOfEmployees]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfEmployees](
	[Company_Id] [int] NOT NULL,
	[NoOfEmployeesForACompany] [int] NULL,
	[NoOfEmployeesAtTradingAddress] [int] NULL,
	[Size] [int] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Samt$]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samt$](
	[id_no] [float] NULL,
	[company_name] [nvarchar](255) NULL,
	[contact_person] [nvarchar](255) NULL,
	[contact_no] [float] NULL,
	[Contact_mobile] [float] NULL,
	[contact_Email] [nvarchar](255) NULL,
	[Folowup] [nvarchar](255) NULL,
	[comment] [nvarchar](255) NULL,
	[RegInsite] [nvarchar](255) NULL,
	[Docsent] [nvarchar](255) NULL,
	[DocRecieve] [nvarchar](255) NULL,
	[ContractSend] [nvarchar](255) NULL,
	[Payment] [nvarchar](255) NULL,
	[SiteVisit] [nvarchar](255) NULL,
	[RateProcess] [nvarchar](255) NULL,
	[RateIssue] [nvarchar](255) NULL,
	[RateSave] [nvarchar](255) NULL,
	[F18] [nvarchar](255) NULL,
	[F19] [nvarchar](255) NULL,
	[F20] [nvarchar](255) NULL,
	[F21] [nvarchar](255) NULL,
	[F22] [nvarchar](255) NULL,
	[F23] [nvarchar](255) NULL,
	[F24] [nvarchar](255) NULL,
	[F25] [nvarchar](255) NULL,
	[F26] [nvarchar](255) NULL,
	[F27] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sheet1$_isic]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$_isic](
	[ISIC_ID] [float] NULL,
	[ISIC_NameFasi] [nvarchar](255) NULL,
	[ISIC_NameLatin] [nvarchar](255) NULL,
	[ISIC_SerialCode] [float] NULL,
	[Tareff] [float] NULL,
	[Field] [nvarchar](255) NULL,
	[Detail] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StatusANDFilling]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StatusANDFilling](
	[Company_Id] [int] NOT NULL,
	[ActiveOrInActiveComponiesOwnership] [int] NULL,
	[DateOfliquidationOrDissolution] [varchar](10) NULL,
	[AdverseData] [varchar](255) NULL,
	[LateFillingComponies] [varchar](255) NULL,
	[GermanCosWithUKregistration] [varchar](255) NULL,
	[CommunityInterestComponies] [varchar](255) NULL,
	[SMEComonies] [int] NULL,
	[Gzzette] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Type_LegalForm]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Type_LegalForm](
	[LegalForm_Id] [int] IDENTITY(1,1) NOT NULL,
	[Legal_Code] [varchar](10) NULL,
	[LegalTypeName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LegalForm_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Type_Shareholder]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Type_Shareholder](
	[TypeOfShareholder_Id] [int] NOT NULL,
	[TypeCode] [varchar](10) NULL,
	[TypeName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeOfShareholder_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SHareholder]    Script Date: 10/19/2022 9:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SHareholder] @Ownership_Id int, @Compony_Id int 
AS  
BEGIN  
 /* select * from Compony_ownership where (CurrentSubsidiaries_Id= @Ownership_Id) and (Compony_Id=@Compony_Id)*/
 /*set  @Compony_Id=1
 set @Ownership_Id=2
  select Compony_Id, percentshare from Compony_ownership where CurrentSubsidiaries_Id=18*/

  declare @Compony_Id1 int,@CurrentSubsidiaries_Id int,@PercentSHare real,@PercCalc real,@PercentSHareOwner real
  set @PercentSHareOwner=0
 
  DECLARE Ownership_cursor CURSOR FOR   
  SELECT Compony_Id,CurrentSubsidiaries_Id,PercentSHare 
  FROM Compony_ownership  
  WHERE CurrentSubsidiaries_Id=@Ownership_Id
  ORDER BY CurrentSubsidiaries_Id;  
  
  OPEN  Ownership_cursor 
  
  FETCH NEXT FROM  Ownership_cursor  
  INTO @Compony_Id1,@CurrentSubsidiaries_Id,@PercentSHare 
  set @PercCalc=0.0
  WHILE @@FETCH_STATUS = 0  
  BEGIN 
   print @PercCalc 
   select @PercentSHareOwner=percentshare from Compony_ownership where (CurrentSubsidiaries_Id=@Compony_Id1) and (Compony_Id=@Compony_Id)
   if @PercentSHareOwner<>0
    set @PercCalc=@PercCalc+@PercentSHare*@PercentSHareOwner
   else 
	set @PercCalc=@PercCalc+@PercentSHare
   select  @PercentSHare*@PercentSHareOwner
   print @PercentSHare*@PercentSHareOwner
  FETCH NEXT FROM  Ownership_cursor  
  INTO @Compony_Id1,@CurrentSubsidiaries_Id,@PercentSHare 
  END   
CLOSE  Ownership_cursor;  
DEALLOCATE  Ownership_cursor;  
select  @PercCalc
print @PercCalc
END;  


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نام عضو هیات مدیره' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'DirectorsName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سمت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'PositionOrFunction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ عضویت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'AppointmentDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ انتصاب' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'RsignationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره تماس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Contact_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال تولد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'YearOfBirths'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:عضو اصلی ،2: غیر اصلی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'ExecationOrNonExecation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:موظف،2:غیرموظف ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'ِDependentOrDependet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'میزان تحصیلات(1:دیپلم،2:فوق دیپلم،3:کارشناسی،4:کارشناس ارشد،5: دکترا)،' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Education'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شناسه ملی شرکت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'NationalIDOfCompony'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شغل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Job'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رزومه' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Resume'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رشته تحصیلی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Magor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نام نماینده' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'AgencyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ماهیت (حقیقی 1،حقوقی2)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Directors', @level2type=N'COLUMN',@level2name=N'Nature'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره ملی ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Shareholder', @level2type=N'COLUMN',@level2name=N'NationalIDNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نام سهامدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Shareholder', @level2type=N'COLUMN',@level2name=N'Shareholder_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد سهم' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Company_Shareholder', @level2type=N'COLUMN',@level2name=N'Perc_Share'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'فعالیت ها' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Activities', @level2type=N'COLUMN',@level2name=N'Activities'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال مالی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Activities', @level2type=N'COLUMN',@level2name=N'FiscalDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کد سهامدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'Shareholder_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نام سهامدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'Shareholder_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره ملی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'NationalIDNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد سهم' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'PercentSHare'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ساختار مالکیت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'ownershipStructure'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'گروه شرکت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'CorporateGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال مالی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Compony_Ownership', @level2type=N'COLUMN',@level2name=N'FiscalDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد کارکنان در شرکت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NumberOfEmployees', @level2type=N'COLUMN',@level2name=N'NoOfEmployeesForACompany'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد کارکنان در آدرس بازرگانی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NumberOfEmployees', @level2type=N'COLUMN',@level2name=N'NoOfEmployeesAtTradingAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اندازه شرکت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NumberOfEmployees', @level2type=N'COLUMN',@level2name=N'Size'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NumberOfEmployees', @level2type=N'COLUMN',@level2name=N'Year'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کد قانونی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Type_LegalForm', @level2type=N'COLUMN',@level2name=N'Legal_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان قانون' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Type_LegalForm', @level2type=N'COLUMN',@level2name=N'LegalTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Type_Shareholder', @level2type=N'COLUMN',@level2name=N'TypeCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع سهامدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Type_Shareholder', @level2type=N'COLUMN',@level2name=N'TypeName'
GO
