@{
    ViewData["Title"] = "گزارش عملکرد کاربران شرکت";
}

@section PageHeader{
<section class="content-header">
    <h1>
        گزارش عملکرد کاربران شرکت
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Supervisor"><i class="fa fa-dashboard"></i> داشبورد</a></li>
        <li><a href="/Supervisor/Report/PerformanceReportEvaluationStaffInDetail_ReportOne2"><i></i> گزارش عملکرد کاربران شرکت</a></li>
    </ol>
</section>
}

<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @*<i class="fa fa-cloud"></i>*@
                <h3 class="box-title">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            @*<span class="caption-subject bold uppercase">آب و هوا</span>*@
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                </h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body" style="">

                <div class="panel panel-primary">
                    <div class="panel-heading"> <span id="TotalRowRep" name="TotalRowRep"> کادر جستجو </span></div>
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-md-4">
                                <label class="control-label" for="">از تاریخ:</label>
                                <input type="text" name="FromDateStr" id="FromDateStr" class="form-control DatePicker" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" for="">تا تاریخ:</label>
                                <input type="text" name="ToDateStr" id="ToDateStr" class="form-control DatePicker" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" for="">تعداد :</label>
                                <select class="form-control BorderRadius_30" id="cboSelectCount" name="cboSelectCount">
                                    <option value="5">
                                        5
                                    </option>
                                    <option value="10">
                                        10
                                    </option>
                                    <option value="20">
                                        20
                                    </option>
                                    <option value="50" selected="selected">
                                        50
                                    </option>
                                    <option value="100">
                                        100
                                    </option>
                                    <option value="150">
                                        150
                                    </option>
                                    <option value="200">
                                        200
                                    </option>
                                    <option value="500">
                                        500
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary fontForAllPage" type="button" onclick="Web.Report.FilterReportGrid_PerformanceReportEvaluationStaffInDetail_ReportOne2();" title="جستجو">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    نام کاربر
                                </th>
                                <th>
                                    رول کاربر
                                </th>
                                <th>
                                    تعداد درخواستهای اتمام یافته
                                </th>
                                <th>
                                    تعداد درخواستهای باز و جاری
                                </th>
                                <th>
                                    میانگین زمان پاسخ به درخواستها از مرحله ارسال اطلاعات تکمیلی به مشتری
                                </th>
                                <th>
                                    مشاهده جزئیات درخواستهای باز
                                </th>
                            </tr>
                        </thead>

                        <tbody id="tBodyList">
                        </tbody>

                    </table>

                </div>
                <div id="divPageingList_PerformanceReportEvaluationStaffInDetail_ReportOne2_Supervisor">
                </div>

            </div>
        </div>
    </section>
</div>

@section Styles{
<link rel="stylesheet" href="~/lib/JQueryDatePickerPluginForPersian/css/persianDatepicker-default.css" asp-append-version="true">
<style>
    td {
        vertical-align: central;
    }
</style>
}

@section Scripts {
<script src="~/lib/JQueryDatePickerPluginForPersian/js/persianDatepicker.js" asp-append-version="true"></script>
<script>
    Web.Report.InitPerformanceReportEvaluationStaffInDetail_ReportOne2();
</script>
}